
<div [formGroup]="props.formGroup" class="input-text-container">
   <div class="label">
      {{props.label}}
   </div>
   <div>
    <span [class]="'p-input-icon-'+(props.direction || 'right')">
      <i *ngIf="props.icon" [class]="props.icon"></i>
      <input
        [type]="props.type"
        pInputText
        [formControl]="props.formControl"
        [placeholder]="props.placeholder"
        (change)="handleChange()"
        [attr.disabled]="props.disabled"
        class="full-width p-inputtext-sm"
        pKeyFilter="alphanum"
      />
    </span>
   </div>
   <div class="err-txt-container">
    <!-- splCharErrMsg -->
    <div *ngIf="props.formControl.invalid &&  props.formControl.invalid ">
      <small
      *ngIf="props.formControl.errors.required && (props.formControl.dirty || props.formControl.touched || props.isSubmitted)"
      class="err-txt">{{props.errorMsg}}</small>
      <small
      *ngIf="props.formControl.errors.patternInvalid &&(props.formControl.dirty || props.formControl.touched || props.isSubmitted)"
      class="err-txt">{{props.patternErrMsg}}</small>
    </div>
   
   </div>
    
</div>


