.input-text-container{
    width: 100%;
    
}

.p-input-icon-right, .full-width {
    width: 100%;
    // padding: 9px 38px 9px 9px;
  }

  .err-txt-container{
    height: 1.083rem;
  }

  .err-txt{
    color: #B00020;
    font-size: 13px;
  }