<div class="rule-library-container">

    <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="none" viewBox="0 0 23 23">
            <path fill="#000" fill-rule="evenodd" d="M1 19V7H0V4l10-4h1l11 4v3h-1v4h-1V7H2v12h7v1H1v1h11v1H0v-3h1Zm9.545-18L21 4.5V6H1V4.5L10.545 1Z" clip-rule="evenodd"/>
            <path fill="#000" fill-rule="evenodd" d="M14 17.417a2.493 2.493 0 0 0 1 .057v3.137l2.278-2.278.694.695L14.5 22.5l-3.472-3.472.694-.695L14 20.611v-3.194ZM12.19 15.5h-3.3l2.138 2.139-.695.694-3.472-3.472 3.472-3.472.695.694L8.611 14.5h3.578a2.501 2.501 0 0 0 0 1Zm4.9-1h3.3l-2.418-2.417.695-.694 3.472 3.472-3.472 3.472-.695-.694 2.14-2.139h-3.023a2.501 2.501 0 0 0 0-1ZM14 12.583V9.111l-2.278 2.278-.694-.695L14.5 7.222l3.472 3.472-.694.695L15 9.111v3.415a2.525 2.525 0 0 0-1 .057Z" clip-rule="evenodd"/>
          </svg>
    </div>
</div>