.footer {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  .footer-left {
    text-align: left;
    text-transform: uppercase;
    color: #717171; // take in from global css,
    font-size: 0.625rem;
     letter-spacing:1px;
    line-height: 1.5rem;
  }
  .footer-right {
    text-align: right;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0.5rem 1rem 0.5rem 1rem;  
    display: flex;
    justify-content: space-between;
    gap: 2rem;
   
  }

  .ft-r-txt{
    color: #1bbe52;
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
  }
}
