<div class="footer">
  <div class="footer-left">
    Copyright 2019-2022 Datazymes inc. all rights reserved.
  </div>
  <div class="footer-right">
    <div class="ft-r-txt">
      Datazyme Helper
    </div>
    <div>
      <img src="./assets/svg/blue-close.svg" alt="img">
    </div>

  </div>
</div>
