<div class="delete-popup-container" *ngIf="deletePopupModel">
    <p-dialog
    [header]="deletePopupModel.header"
    [(visible)]="deletePopupModel.displayModal"
    [modal]="true"
    [style]="{ width: '40vw' }"
    [contentStyle]="{ height: 'auto' }"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
    class="footer"
  >
        <div class="delete-popup-content-container">

            <div class="icon">
                <span> <i [class]="'pi ' + deletePopupModel.icon" style="color: #E73008; font-size: 1.7rem"></i></span>
            </div>
            <div class="content">
                <div class="header-text">
                    {{deletePopupModel.content.header}}
                </div>
                <div class="text">
                    {{deletePopupModel.content.text}}
                </div>
            </div>
        </div>


        <ng-template pTemplate="footer" >

                <app-non-outlined-button [btnprops]="deletePopupModel.cancelBtnProps"
                    (click) = "deletePopupModel.displayModal=false"
                ></app-non-outlined-button>
        
                <app-delete-button (click)="handleDelete()" [buttonProps]="deletePopupModel.deleteBtnProps"></app-delete-button>
  
        </ng-template>
    </p-dialog>
</div>
 
   


<!--  -->
