.delete-popup-container {
	.delete-popup-content-container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		gap: 0.5rem;
		border-bottom: 1px solid lightgray;
		border-top: 1px solid lightgray;
		padding: 6% 10% 4% ;
	}
	.content {
		width: auto;
	}
	.header-text {
	}

	// .footer{
	//     display: flex;
	//     justify-content: flex-end;
	//     gap: 1rem;
	// }
}

// .p-dialog-footer,.footer{
//     padding: 1.5rem 1.5rem 1.5rem 1.5rem;
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
// }
::ng-deep {
	.p-dialog .p-dialog-content {
		padding: 0px;
	}
	.p-dialog .p-dialog-header{
		padding: 1rem;
	}
	.p-dialog .p-dialog-footer {
		padding: 1rem 1rem 1rem 1rem;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}
