<div class="datasource-container">
  <div class="data-source-header">
    <div class="data-source-header-container">
      <img src="../../../assets/carbon_data-vis-3.svg" alt="carbon_data" />
      <div class="data-source-header">Data Sources</div>
    </div>

    <div class="search-bar-container">
      <div class="search-bar">
        <app-auto-completion></app-auto-completion>
        <div class="advanced-search-text text-color">
          <a routerLink="/advanced-search" routerLinkActive="active"
            >Go to Advanced Search</a
          >
        </div>
      </div>
      <div class="add-data-soruce text-color">
        <a href="data-soruce-page">+ Add data sources</a>
      </div>
    </div>
  </div>
  <div class="data-source-body">
    <app-tabviews (setCurrentTab)="setCurrentTab($event)"></app-tabviews>
    <div *ngIf="tabledata?.body">
      <app-tables
        [tableData]="tabledata"
        [menuData]="menudata"
        (selectedEmitter)="setSelectedRow($event)"
      ></app-tables>
    </div>
  </div>
</div>
