.datasource-container {
  margin: 0;
  padding: 30px 20px;
  .text-color {
    color: lightskyblue;
  }

  .data-source-header {
    line-height: 5.5rem;
    font-size: larger;
    font-weight: 600;
  }
  .data-source-header-container {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .search-bar-container {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;
  }
  .search-bar {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .advanced-search-text {
    text-align: end;
  }
}
