<div class="wrap" (click)="toggleSubMenu()" [ngClass]="{ selectedMainMenu: expanded === true }">
	<div matTooltip="Enquiry" matTooltipClass="menu-tooltip">
		<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				[attr.fill]="color"
				d="M14.566 19.999H14.594C15.122 19.999 15.621 19.791 15.999 19.413L18.711 16.701C18.8039 16.6082 18.8777 16.498 18.928 16.3767C18.9783 16.2554 19.0042 16.1253 19.0042 15.994C19.0042 15.8627 18.9783 15.7326 18.928 15.6113C18.8777 15.49 18.8039 15.3798 18.711 15.287L14.711 11.287C14.6182 11.1941 14.508 11.1203 14.3867 11.07C14.2654 11.0197 14.1353 10.9938 14.004 10.9938C13.8726 10.9938 13.7426 11.0197 13.6213 11.07C13.5 11.1203 13.3898 11.1941 13.297 11.287L11.703 12.881C10.964 12.661 9.58497 12.161 8.71097 11.287C7.83697 10.413 7.33697 9.034 7.11697 8.295L8.71097 6.701C8.80392 6.60821 8.87766 6.49801 8.92797 6.37669C8.97828 6.25538 9.00417 6.12533 9.00417 5.994C9.00417 5.86267 8.97828 5.73262 8.92797 5.61131C8.87766 5.48999 8.80392 5.37979 8.71097 5.287L4.71097 1.287C4.5198 1.10655 4.26686 1.00603 4.00397 1.00603C3.74109 1.00603 3.48815 1.10655 3.29697 1.287L0.585972 3.999C0.205972 4.379 -0.0080276 4.901 -2.75957e-05 5.434C0.0229724 6.858 0.399972 11.804 4.29797 15.702C8.19597 19.6 13.142 19.976 14.566 19.999ZM4.00497 3.408L6.59097 5.994L5.29797 7.287C5.18031 7.40434 5.09387 7.54926 5.04654 7.70855C4.9992 7.86784 4.99248 8.03644 5.02697 8.199C5.05097 8.314 5.63797 11.041 7.29797 12.701C8.95797 14.361 11.685 14.948 11.8 14.972C11.9625 15.0067 12.1312 15 12.2905 14.9527C12.4498 14.9054 12.5947 14.8188 12.712 14.701L14.005 13.408L16.591 15.994L14.585 17.999C13.337 17.978 9.06697 17.643 5.71197 14.287C2.34597 10.921 2.01997 6.636 1.99997 5.413L4.00497 3.408ZM17.999 8.999H19.999C19.999 3.869 16.126 0 10.989 0V2C15.051 2 17.999 4.943 17.999 8.999Z"
			/>
		</svg>
	</div>

	<div style="padding-left: 0.6rem">Enquiry</div>
	<div>
		<span style="display: grid; width: 100%; justify-content: flex-end">
			<img *ngIf="!expanded" src="/assets/images/svg/down-arrow.svg" width="10px" height="10px" alt="" />
			<img *ngIf="expanded" src="/assets/images/svg/up-arrow.svg" width="10px" height="10px" alt="" />
		</span>
	</div>
</div>

<div *ngIf="expanded && isMenuOpen">
	<div class="sub-menu" [ngClass]="{ selectedMenu: clickedItem === 'list-enquiry' }" (click)="enquiryListRoute()">
		List
	</div>
	<div class="sub-menu" [ngClass]="{ selectedMenu: clickedItem === 'back-order' }" (click)="backOrderRoute()">
		Backorders
	</div>
</div>
