<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
  <path fill="#fff" d="M0 0h24v24H0z"/>
  <path fill="#000" fill-rule="evenodd" d="M9 12.496C9.006 11.118 12.14 10 16 10c3.863 0 7 1.12 7 2.5V21c0 1.38-3.137 2.5-7 2.5S9 22.38 9 21v-8.504Zm1 1.292c1.225.726 3.455 1.212 6 1.212s4.775-.486 6-1.212V21c0 .828-2.689 1.5-6 1.5s-6-.672-6-1.5v-7.212ZM22 12.5c0 .828-2.689 1.5-6 1.5s-6-.672-6-1.5 2.689-1.5 6-1.5 6 .672 6 1.5Z" clip-rule="evenodd"/>
  <path fill="#000" fill-rule="evenodd" d="M2 20V8H1V5l10-4h1l11 4v3h-1v1h-1V8H3v12h5v1H2v1h6v1H1v-3h1Zm9.545-18L22 5.5V7H2V5.5L11.545 2Z" clip-rule="evenodd"/>
</svg>
