<div class="menu-svg-container" >

  <div class="svg-item-container">
      <div class="home-svg">
          <!-- [attr.fill]="props.activeState ? '#000000' : '#0052cc' " -->
          <svg width="24" height="24" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M20.778 0.835749C19.595 0.721999 18.405 0.721999 17.222 0.835749L16.6375 3.6865C15.5053 3.85975 14.394 4.15725 13.3265 4.57375L11.3945 2.3985C10.313 2.8885 9.28226 3.48525 8.31626 4.17475L9.23501 6.93625C8.34076 7.652 7.52701 8.46575 6.81126 9.36L4.04976 8.44125C3.36026 9.40725 2.7635 10.438 2.2735 11.5195L4.44876 13.4515C4.03226 14.519 3.73476 15.6302 3.56151 16.7625L0.710755 17.347C0.597005 18.53 0.597005 19.72 0.710755 20.903L3.56151 21.4875C3.73476 22.6197 4.03226 23.731 4.44876 24.7985L2.2735 26.7305C2.7635 27.812 3.36026 28.8427 4.04976 29.8087L6.81126 28.89C7.52701 29.7842 8.34076 30.598 9.23501 31.3137L8.31626 34.0752C9.28226 34.7647 10.313 35.3615 11.3945 35.8515L13.3265 33.6762C14.394 34.0927 15.5053 34.3902 16.6375 34.5635L17.222 37.4142C18.405 37.528 19.595 37.528 20.778 37.4142L21.3625 34.5635C22.4948 34.3902 23.606 34.0927 24.6735 33.6762L26.6055 35.8515C27.687 35.3615 28.7178 34.7647 29.6838 34.0752L28.765 31.3137C29.6593 30.598 30.473 29.7842 31.1888 28.89L33.9503 29.8087C34.6398 28.8427 35.2365 27.812 35.7265 26.7305L33.5513 24.7985C33.9678 23.731 34.2653 22.6197 34.4385 21.4875L37.2893 20.903C37.403 19.72 37.403 18.53 37.2893 17.347L34.4385 16.7625C34.2653 15.6302 33.9678 14.519 33.5513 13.4515L35.7265 11.5195C35.2365 10.438 34.6398 9.40725 33.9503 8.44125L31.1888 9.36C30.473 8.46575 29.6593 7.652 28.765 6.93625L29.6838 4.17475C28.7178 3.48525 27.687 2.8885 26.6055 2.3985L24.6735 4.57375C23.606 4.15725 22.4948 3.85975 21.3625 3.6865L20.778 0.835749ZM19 7.386C25.4803 7.386 30.739 12.6447 30.739 19.125C30.739 25.6052 25.4803 30.864 19 30.864C12.5198 30.864 7.26101 25.6052 7.26101 19.125C7.26101 12.6447 12.5198 7.386 19 7.386Z"
              [attr.fill]="props.activeState ? '#000000' : '#0052cc' "/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M19 10.375C23.83 10.375 27.75 14.295 27.75 19.125C27.75 23.955 23.83 27.875 19 27.875C14.17 27.875 10.25 23.955 10.25 19.125C10.25 14.295 14.17 10.375 19 10.375ZM19 12.125C22.864 12.125 26 15.261 26 19.125C26 22.989 22.864 26.125 19 26.125C15.136 26.125 12 22.989 12 19.125C12 15.261 15.136 12.125 19 12.125Z"
              [attr.fill]="props.activeState ? '#000000' : '#0052cc' "/>
              </svg>

      </div>
      <div class="svg-label" [ngClass]="{'active': props.activeState}">
          {{props.label}}
      </div>
  </div>


</div>
