<div class="bar-chart-wrap">
	<div class="b-heading">Doughnut Charts</div>
	<div class="line-chart-wrap">
		<div class="b-canvas">
			<canvas baseChart class="chart" [data]="doughnutChartData" [type]="doughnutChartType"> </canvas>
		</div>
	</div>
</div>
