<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="24" height="24" fill="white"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M7 6H8V4.675C8 4.302 8.302 4 8.675 4H15.325C15.698 4 16 4.302 16 4.675V6H17V4.625C17 3.728 16.272 3 15.375 3H8.625C7.728 3 7 3.728 7 4.625V6Z" fill="black"/>
    <path d="M5 5H3V6H5V5Z" fill="black"/>
    <path d="M21 5H19V6H21V5Z" fill="black"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M23 20.4V7.6C23 6.717 22.283 6 21.4 6H2.6C1.717 6 1 6.717 1 7.6V20.4C1 21.283 1.717 22 2.6 22H21.4C22.283 22 23 21.283 23 20.4ZM22 19.88V8.12C22 7.502 21.498 7 20.88 7H15.583L15.361 6.778L15.139 7H3.12C2.502 7 2 7.502 2 8.12V19.88C2 20.498 2.502 21 3.12 21H20.88C21.498 21 22 20.498 22 19.88Z" fill="black"/>
    <path d="M18.5 11H10V12.244H18.5V11Z" fill="black"/>
    <path d="M18.5 13.8779H10V15.1219H18.5V13.8779Z" fill="black"/>
    <path d="M15 16.7556H10V17.9996H15V16.7556Z" fill="black"/>
    <path d="M18.5 16.7556H16V17.9996H18.5V16.7556Z" fill="black"/>
    </svg>
    