<div class="new-user-body" [formGroup]="newUserForm">
    <div class="new-user-body-2">
    <div class="new-user-flex">
        <div>First Name</div>
        <div class="new-user-box">
            <input pInputText class="p-inputtext-sm" [style]="{width: '100%'}" formControlName="userFirstName" />
            <div *ngIf="newUserForm.controls['userFirstName'].invalid && newUserForm.controls['userFirstName'].touched">
          <small class="p-error">This field is required</small>
        </div>
        </div>

    </div>
    <div class="new-user-flex user-lastname">
        <div>Last Name</div>
        <div class="new-user-box">
            <input pInputText class="p-inputtext-sm" [style]="{width: '100%'}" formControlName="userLastName" />
            <div *ngIf="newUserForm.controls['userLastName'].invalid && newUserForm.controls['userLastName'].touched">
          <small class="p-error">This field is required</small>
        </div>
        </div>
    </div>
    <div class="new-user-flex">
        <div>User Name</div>
        <div class="new-user-box">
            <input pInputText class="p-inputtext-sm" [style]="{width: '100%'}" formControlName="userName" />
            <div *ngIf="newUserForm.controls['userName'].invalid && newUserForm.controls['userName'].touched">
            <small class="p-error">This field is required</small>
          </div>
        </div>
    </div>
    <div class="new-user-flex">
        <div>User Email</div>
        <div class="new-user-box">
            <input pInputText class="p-inputtext-sm" [style]="{width: '100%'}" formControlName="userEmail" />
            <div *ngIf="newUserForm.controls['userEmail'].invalid && newUserForm.controls['userEmail'].touched">
            <small class="p-error">This field is required</small>
          </div>
        </div>
    </div>
    <div class="new-user-flex user-password">
        <div>Password</div>
        <div class="new-user-box">
            <input pInputText class="p-inputtext-sm" [style]="{width: '100%'}" formControlName="password" />
            <div *ngIf="newUserForm.controls['password'].invalid && newUserForm.controls['password'].touched">
        <small class="p-error">This field is required</small>
      </div>
        </div>
    </div>
    <div class="new-user-flex user-radio-group">
        <div>User Type</div>
        <div class="new-user-radioButton p-field-radiobutton">
            <p-radioButton name="userType" value="ldap" formControlName="userType"></p-radioButton>
           <label for="">LDAP User</label>
        </div>
        <div class="new-user-radioButton p-field-radiobutton">
            <p-radioButton name="userType" value="local" formControlName="userType"></p-radioButton>
            <label for="">Local User</label>
        </div>
        
    </div>
    <div class="new-user-flex user-radio-group">
        <div>Admin</div>

        <div class="new-user-radioButton p-field-radiobutton">
            <p-radioButton name="admin" value="false" formControlName="admin"></p-radioButton>
            <label for="">No</label>
        </div>
        <div class="new-user-radioButton p-field-radiobutton">
            <p-radioButton name="admin" value="true" formControlName="admin"></p-radioButton>
            <label for="">Yes</label>
        </div>
       
    </div>
    <div class="new-user-flex user-radio-group">
        <div>Active User</div>
        <div class="new-user-radioButton p-field-radiobutton">
            <p-radioButton name="activeUser" value="Y" formControlName="activeUser"></p-radioButton>
            <label for="yes">Yes</label>
        </div>
        <div class="new-user-radioButton p-field-radiobutton">
            <p-radioButton name="activeUser" value="N" formControlName="activeUser"></p-radioButton>
            <label for="no">No</label>
        </div>
    </div>
    
    <div class="new-user-flex">
        <div>Reporting Manager</div>
        <div class="new-user-box">
            <p-dropdown
        [options]="managerData"
        placeholder="Select"
        [style]="{width: '100%'}"
        formControlName="manager"
      ></p-dropdown>
            <div *ngIf="newUserForm.controls['manager'].invalid && newUserForm.controls['manager'].touched">
            <small class="p-error">This field is required</small>
          </div>
        </div>
    </div>
    <div class="new-user-flex">
        <div>Upload Image/Logo</div>
        <!-- <p-fileUpload 
        mode="basic" 
        name="demo[]" 
        accept="image/*" 
        (onUpload)="onBasicUpload($event)" 
        [auto]="true"
        chooseLabel="Select File"
        chooseIcon="" 
        formControlName="tenantimage"
          ></p-fileUpload> -->
        <div *ngIf="imageInputFlag; else elseTemplate">
            <input type="file" class="user-file-btn" formControlName="userImage" name="image" (change)="onFileSelected($event)">
            <div *ngIf="newUserForm.controls['userImage'].invalid && newUserForm.controls['userImage'].touched">
                <small class="p-error">This field is required</small>
              </div>
        </div>
        <ng-template #elseTemplate>
            <div class="img-contaioner" style="display: flex; gap: 1rem;">
              <img [src]="'https://harmony-dev-files.s3.amazonaws.com/'+imageUrl" alt="img" height="48" width="88"
            >
            <app-delete-i-svg (click)="imgDeleteHandler()"></app-delete-i-svg>
            </div>
            
  
          </ng-template>
    </div>
</div>
    <div class="new-user-button">
        <button pButton type="button" label="Cancel" class="p-button-sm" class="p-button-text"
            (click)="cancelButtonHandler()"></button>
        <p-button label="Save" class="p-button-sm" type="submit" (click)="onSaveHandler()"></p-button>
    </div>
    <div *ngIf="loaderService.loaderState | async as loaderVisible" class="progress-spinner">
        <app-progress-spinner></app-progress-spinner>
      </div>
</div>
