<div class="ref-integrity-popup-container" >
    <p-dialog
      [header]="popupModelData.header"
      [(visible)]="popupModelData.displayModal"
      [modal]="true"
      [style]="{ width: '60vw' }"
      [contentStyle]="{ height: '100vh' }"
      [baseZIndex]="10000"
      [draggable]="false"
      [resizable]="false"
    >
      <div class="model-content-container">

        <div>
          <div class="header-Container">
            <div class="step">
              1
            </div>
            <div class="hd-txt">
              PARENT DATASET
            </div>
          </div>
          <div class="form-body">
            <div class="row-container"> 
              <div class="label-text">
                Data Zone
              </div>
              <!-- -->
              <div class="single-selector" >
                <app-single-select [props]="formProps?.P_dataZoneProps"
                (changeEvent)="P_dataZoneOnchange($event)"
                ></app-single-select> 
                
              </div>
            </div>
            <div class="row-container"> 
              <div class="label-text">
                Data Provider
              </div>
              
              <div class="single-selector" >
                <app-single-select [props]="formProps?.P_dataProviderProps"
                (changeEvent)="P_dataProviderOnchange($event)"
                ></app-single-select> 
              </div>
            </div>
            <div class="row-container"> 
              <div class="label-text">
                Dataset Name
              </div>
              
              <div class="single-selector" >
                <app-single-select [props]="formProps?.P_datasetNameProps"
                (changeEvent)="P_datasetNameOnchange($event)"
                ></app-single-select> 
                
              </div>
            </div>
            <div class="row-container"> 
              <div class="label-text">
                Dataset Attribute
              </div>
              <div class="single-selector" >
                <app-single-select [props]="formProps?.P_dataSetAttributeProps"
                ></app-single-select> 
              </div>
            </div>
          </div>
        </div>
       
        <div>
          <div class="header-Container">
            <div class="step">
              2
            </div>
            <div class="hd-txt">
              CHILD DATASET
            </div>
          </div>
          <div class="form-body">
            <div class="row-container"> 
              <div class="label-text">
                Data Zone
              </div>
              <!-- -->
              <div class="single-selector" >
                <app-single-select [props]="formProps?.C_dataZoneProps"
                (changeEvent)="C_dataZoneOnchange($event)"
                ></app-single-select> 
                
              </div>
            </div>
            <div class="row-container"> 
              <div class="label-text">
                Data Provider
              </div>
              
              <div class="single-selector" >
                <app-single-select [props]="formProps?.C_dataProviderProps"
                (changeEvent)="C_dataProviderOnchange($event)"
                ></app-single-select> 
              </div>
            </div>
            <div class="row-container"> 
              <div class="label-text">
                Dataset Name
              </div>
              
              <div class="single-selector" >
                <app-single-select [props]="formProps?.C_datasetNameProps"
                (changeEvent)="C_datasetNameOnchange($event)"
                ></app-single-select> 
                
              </div>
            </div>
            <div class="row-container"> 
              <div class="label-text">
                Dataset Attribute
              </div>
              <div class="single-selector" >
                <app-single-select [props]="formProps?.C_dataSetAttributeProps"
                ></app-single-select> 
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="header-Container">
            <div class="step">
              3
            </div>
            <div class="hd-txt">
              RULE CATEGORY
            </div>
          </div>
          <div class="form-body">
            <div class="row-container"> 
              <div class="label-text">
                DQ Severity
              </div>
              <!-- -->
              <div class="single-selector" >
                <app-single-select [props]="formProps?.dqSeverityProps"
                ></app-single-select> 
                
              </div>
            </div>
            <div class="row-container"> 
              <div class="label-text">
                Status
              </div>
              
              <div class="single-selector" >
                <app-single-select [props]="formProps?.statusProps"
                ></app-single-select> 
              </div>
            </div>
          </div>
        </div>
      </div>
   

      
  
      <ng-template pTemplate="footer">
        <app-non-outlined-button [btnprops]="popupModelData.cancelBtnProps"
        (click)="rejectHandler()"
        ></app-non-outlined-button>
        <app-primary-button  
        (click)="submitHandler()"
        [btnProps]="popupModelData.saveBtnProps"
        >
        <!-- [disabled]="!dropdownData?.formControl" -->
        </app-primary-button>
      </ng-template>
    </p-dialog>
    
  
    <div *ngIf="formFieldApiStatus.dataZone ||formFieldApiStatus.P_dataProvider ||
    formFieldApiStatus.P_datasetName ||formFieldApiStatus.P_dataSetAttribute ||  
    formFieldApiStatus.C_dataProvider ||formFieldApiStatus.C_datasetName ||  
    formFieldApiStatus.C_dataSetAttribute ||formFieldApiStatus.status ||
    formFieldApiStatus.dqSeverity 
    " 
    class="progress-spinner">
      <app-progress-spinner></app-progress-spinner>
    </div>


    <p-toast position="top-center" key="wrn" [baseZIndex]="5000">
      <ng-template let-message pTemplate="message">
        <div class="toast-container bg-y">
          <div class="icon">
            <i class="pi pi-exclamation-circle" style="color:#ffffff"></i>
          </div>
          <div class="toast-desc">
            {{ message.detail }}
          </div>
        </div>
      </ng-template>
    </p-toast>

  </div>
  
  