<div class="wrap" (click)="list()" [ngClass]="{ selectedMainMenu: expanded === true }">
	<div matTooltip="Brands" matTooltipClass="menu-tooltip">
		<svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				[attr.fill]="color"
				d="M2 14H11L9 16H2C1.5 16 0.97 15.79 0.59 15.41C0.21 15.03 0 14.5 0 14V4H2V14ZM15.63 0.84C15.27 0.33 14.67 0 14 0H6C4.9 0 4 0.9 4 2V10C4 11.1 4.9 12 6 12H14C14.67 12 15.27 11.66 15.63 11.15L20 6L15.63 0.84ZM14 10H6V2H14L17.55 6L14 10Z"
				fill="black"
			/>
		</svg>
	</div>

	<div style="padding-left: 0.6rem">Brands</div>
</div>
