<div class="source-connector-svg">
    <!-- <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M8 19.412C3.968 19.123 1 18.152 1 17V3.496C1.009 2.118 5.262 1 10.5 1C15.743 1 20 2.12 20 3.5V12H19V4.617C17.44 5.437 14.218 6 10.5 6C6.782 6 3.56 5.437 2 4.617V17C2 17.674 4.527 18.245 8 18.434V19.412ZM10.5 2C15.191 2 19 2.672 19 3.5C19 4.328 15.191 5 10.5 5C5.809 5 2 4.328 2 3.5C2 2.672 5.809 2 10.5 2Z" fill="black"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M20 14.5H22V15.5H20V18.5H22V19.5H20V21H16C13.792 21 12 19.208 12 17C12 14.792 13.792 13 16 13H20V14.5ZM16 14H19V20H16C14.344 20 13 18.656 13 17C13 15.344 14.344 14 16 14ZM12 16.5H8.5V17.5H12V16.5Z" fill="black"/>
    </svg> -->

    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="none" viewBox="0 0 42 42">
      <path fill="#000" fill-rule="evenodd" d="M14 33.971c-7.056-.506-12.25-2.205-12.25-4.221V6.118C1.766 3.706 9.209 1.75 18.375 1.75 27.55 1.75 35 3.71 35 6.125V21h-1.75V8.08c-2.73 1.435-8.369 2.42-14.875 2.42-6.507 0-12.145-.985-14.875-2.42v21.67c0 1.18 4.422 2.179 10.5 2.51v1.711ZM18.375 3.5c8.21 0 14.875 1.176 14.875 2.625S26.584 8.75 18.375 8.75C10.165 8.75 3.5 7.574 3.5 6.125S10.166 3.5 18.375 3.5Z" clip-rule="evenodd"/>
      <path fill="#000" fill-rule="evenodd" d="M35 25.375h3.5v1.75H35v5.25h3.5v1.75H35v2.625h-7c-3.864 0-7-3.136-7-7s3.136-7 7-7h7v2.625Zm-7-.875h5.25V35H28a5.252 5.252 0 0 1-5.25-5.25A5.252 5.252 0 0 1 28 24.5Zm-7 4.375h-6.125v1.75H21v-1.75Z" clip-rule="evenodd"/>
    </svg>


</div>


