<div class="notification-container">
    <div class="header-container">
        <div class="header-content">
            <div class="svg">
                    <img src="../../../assets/mdi_bell-badge-outline.svg">
            </div>
            <div class="text-content-container">
                <div class="header-text">Notifications</div>
                <div class="connetions-text">{{ notificationData?.length || '0' }} total</div>
            </div>
        </div>
    </div>
    <div class="notification-body">
        <p-table
        [value]="notificationData"
		[paginator]="true"
		[rows]="10"
		[alwaysShowPaginator]="true"
		[showCurrentPageReport]="true"
		currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
		[rowsPerPageOptions]="[5, 10, 25, 50]"
		[rowHover]="true"
		[scrollable]="true"
        >
        <ng-template pTemplate="header">
            <tr>
                <th class="table-header">
                    <div class="t-hd-txt">Notification/Alert</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Date/Time</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Actions</div>
                </th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                <tr>
                    <td>
                        <div class="t-bd-txt t-noti-cell"
                
                        >
                            {{ data.JOB_NOTIFICATION }}
                        </div>
                    </td>
                    <td>
                        <div class="t-bd-txt t-comment-cell">
                          {{beforeTime[rowIndex]}}
                        </div>
                      </td>
                      <td>
                        <div class="edit-t-cell">
                            <span style="cursor: pointer">
                                <a>Mark as Read</a>
                            </span>
                        </div>
                      </td>
                   
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr >
                    <!-- <td [attr.colspan]="columns.length">No records found</td> -->
                    <td colspan="3">No records found</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    


    <div *ngIf="loaderService.loaderState | async as loaderVisible" class="progress-spinner">
        <app-progress-spinner></app-progress-spinner>
      </div>
</div>
