<div class="new-user-body"  [formGroup]="EditUserZoneConfigForm">
    <div class="new-user-body-2">
    <div class="new-user-flex">
        <div>Group Name</div>
        <div class="new-user-box">
            <p-dropdown
            [options]="group_name"
             placeholder="Select" 
             [style]="{width: '100%'}"
             formControlName="groupName"
      ></p-dropdown>
      <div *ngIf="EditUserZoneConfigForm.controls['groupName'].invalid && EditUserZoneConfigForm.controls['groupName'].touched">
        <small class="p-error">This field is required</small>
      </div>
        </div>
       
    </div>
    <div class="new-user-flex">
        <div>Data Zone</div>
        <div class="new-user-box">
            <p-dropdown
            [options]="zone_name"
            placeholder="Select" 
            [style]="{width: '100%'}"
            formControlName="dataZone"
         ></p-dropdown>
            <div *ngIf="EditUserZoneConfigForm.controls['dataZone'].invalid && EditUserZoneConfigForm.controls['dataZone'].touched">
        <small class="p-error">This field is required</small>
      </div>
        </div>
    </div>
    <div class="new-user-flex">
        <div>Active</div>
        <div class="new-user-radioButton p-field-radiobutton">
            <p-radioButton name="active" value="Y" formControlName="active"></p-radioButton>
            <label for="yes">Yes</label>
        </div>
        <div class="new-user-radioButton p-field-radiobutton">
            <p-radioButton name="active" value="N" formControlName="active"></p-radioButton>
            <label for="no">No</label>
        </div>
    </div>
    </div>
    <div class="new-user-button">
        <button
         pButton type="button" 
         label="Cancel" 
         class="p-button-sm" 
         class="p-button-text"
         (click)="cancelButtonHandler()"
        ></button>
        <p-button 
        label="Save" 
        class="p-button-sm" 
        type="submit" 
        (click)="onSaveHandler()"
         ></p-button>
    </div>
    <div *ngIf="loaderService.loaderState | async as loaderVisible" class="progress-spinner">
        <app-progress-spinner></app-progress-spinner>
      </div>
</div>