
 :host::ng-deep{

      .p-multiselect{
      display: flex !important;
      // width: 100%;
      // max-width: 22ch;
      // min-width: 7.5rem !important;
  }
  .p-multiselect .p-multiselect-label{
      min-width: 70px;
      padding: 0.438rem 0.625rem;
      // line-height: 1.25rem;
      // min-height: 1.9rem;
      font-size: .813rem;


  }
  .p-multiselect-panel .p-multiselect-items .p-multiselect-item span{
    font-size: .813rem;
  }
  .p-checkbox .p-checkbox-box {
    width: 17px;
    height: 17px;
  }
  // .p-multiselect-panel{
  //     min-width: 12.5rem !important;
  // }

  .p-multiselect-panel .p-multiselect-header{
      padding: 0.375rem 0.625rem;
  }


  .p-multiselect-panel .p-multiselect-items .p-multiselect-item span{
    max-width: 27rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  // .p-multiselect-items-wrapper{

  //     overflow:;
  // }

  // .p-multiselect-item {
  //   text-overflow: ellipsis;
  //   width: 27rem;
  //   white-space: nowrap;
  //   overflow: hidden;
  
  // }
}

