<div class="data-validation-popup-container" >
    <p-dialog
      [header]="popupModelData.header"
      [(visible)]="popupModelData.addDisplayModal"
      [modal]="true"
      [style]="{ width: '80vw' }"
      [contentStyle]="{ height: '100vh' }"
      [baseZIndex]="10000"
      [draggable]="false"
      [resizable]="false"
    >
      <!-- <div class="input-container">
        <app-single-select [dropdown]="dropdownData"></app-single-select>
        
      </div> -->
      <div class="model-content-container">
          <div class="row-container"> 
            <div class="label-text">
              Data Zone
            </div>
            <div class="single-selector">
              <app-single-select [props]="formProps?.dataZoneProps"
              (changeEvent)="onchangeHandler($event, 'dataZone')"
              ></app-single-select>
            </div>
          </div>
          <div class="row-container"> 
            <div class="label-text">
              Data Provider
            </div>
            <div class="single-selector" >
              <app-single-select [props]="formProps?.dataProviderProps"
              (changeEvent)="onchangeHandler($event, 'dataProvider')"
              ></app-single-select>
            </div>
          </div>
          <div class="row-container"> 
            <div class="label-text">
              DataSet Name
            </div>
            <div class="single-selector" >
              <app-single-select [props]="formProps?.datasetNameProps"
              (changeEvent)="onchangeHandler($event, 'dataSetName')"
              ></app-single-select> 
            </div>
          </div>
      </div>
      <div class="table-container">
        <p-table
        [value]="attributeOption_copy"
        [paginator]="true"
        [rows]="10"
        [alwaysShowPaginator]="true"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [rowHover]="true"
        [scrollable]="true"
        [(first)]="tablePageCount"
    >
        <ng-template pTemplate="header" >
            <tr>
                <!-- <th class="table-header" style="min-width: 52px; cursor: pointer;">
                    <div class="t-hd-svg" (click)="resetAll()"><app-t-filter-svg></app-t-filter-svg></div>
                </th> -->
                <th class="table-header">
                    <div class="t-hd-txt ">Attribute</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt ">DQ Rule Type</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Value</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Status</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">DQ Severity</div>
                </th>
            </tr>
            <tr>
                <!-- <th class="table-header">
                </th> -->
                <th class="table-header">
                    <div class="t-input ">
                        <app-prime-multi-select
                          #filter
                        [options]="attributeOption_orig"
                        (changeEmitter)="multiselectOnchange($event,'value')"
                        ></app-prime-multi-select>
                    </div>
                    <!-- #T_dataZone
                    [options]="uniqueValues?.[COLUMNS.T_dataZone]"
                    (changeEmitter)="multiselectOnchange($event,COLUMNS.T_dataZone)" -->
                </th>
                <th class="table-header">
                    <div class="t-input">
                       
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                      
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                    </div>
                </th>
            </tr>
        </ng-template>
        <!-- *ngIf="attributeFormArray.length === attributeOption.length" -->
        <ng-template pTemplate="body" let-data let-i="rowIndex"  >
            <tr>
                <td>
                    <div class="t-bd-txt ">
                        {{data.label}}
                    </div>  
                </td>
                <td>
                  <!-- ruleType -->
                    <div class="t-bd-txt " [formGroup]="formGroup">
                        <div class="signle-selector-container">
                          <div>
                            <p-dropdown
                            [options]="ruleTypeOptions"
                            [formControl]="attributeFormArray?.controls[data.index]['controls']['ruleType']"
                            [optionLabel]="'label'"
                            [placeholder]="'Select'"
                            (onChange)="attributeChangeHandler(attributeFormArray?.controls[data.index] , 'ruleType')"
                              class="full-width"
                            appendTo="body"
                              ></p-dropdown>
                          </div>
                              <div class="err-txt-container">
                                <small
                                *ngIf="attributeFormArray?.controls[data.index]['controls']['ruleType'].invalid && 
                                (attributeFormArray?.controls[data.index]['controls']['ruleType'].dirty
                                 || attributeFormArray?.controls[data.index]['controls']['ruleType'].touched ||
                                  isSubmitted)"
                                class="err-txt">This field is required</small>
                               </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt " [formGroup]="formGroup">
                      <!-- valueProps -->
                        <div class="signle-selector-container">
                          <div *ngIf="attributeFormArray?.controls[data.index]['controls']['ruleType'].value?.label === 'DATE FORMAT CHECK'; else elseTemplate">
                            <p-dropdown
                            [options]="dateFormatOption"
                            [formControl]="attributeFormArray?.controls[data.index]['controls']['value_1']"
                            [optionLabel]="'label'"
                            [placeholder]="'Select'"
                              class="p-inputtext-sm"
                            appendTo="body"
                              ></p-dropdown>
                          <div class="err-txt-container">
                            <small
                            *ngIf="attributeFormArray?.controls[data.index]['controls']['value_1'].invalid && 
                            (attributeFormArray?.controls[data.index]['controls']['value_1'].dirty
                             || attributeFormArray?.controls[data.index]['controls']['value_1'].touched ||
                              isSubmitted)"
                            class="err-txt">This field is required</small>
                           </div>
                          </div>
                          <ng-template #elseTemplate >
                            <div *ngIf="attributeFormArray?.controls[data.index]['controls']['ruleType'].value?.label === 'RANGE CHECK'; else elseTemplate">
              <!-- range -->
                              <div class="range-container">
                                <div class="range-input-container">
                                  <div class="range-txtbox">
                                    <input
                                  type="text"
                                  pInputText
                                  [formControl]="attributeFormArray?.controls[data.index]['controls']['value_1']"
                                  placeholder="Start value"
                                  class="p-inputtext-sm range"
                                />
                                  </div>
                                  <div class="range-txtbox">
                                    <input
                                    type="text"
                                    pInputText
                                    [formControl]="attributeFormArray?.controls[data.index]['controls']['value_2']"
                                    placeholder="End value"
                                    class="p-inputtext-sm range"
                                  />
                                  </div>
                                </div>
                                <div class="err-txt-container">
                                  
                                  <small class="err-txt"
                                  *ngIf="(attributeFormArray?.controls[data.index]['controls']['value_1'].errors?.required && 
                                  (attributeFormArray?.controls[data.index]['controls']['value_1'].dirty || attributeFormArray?.controls[data.index]['controls']['value_1'].touched || isSubmitted)) ||
                                  (attributeFormArray?.controls[data.index]['controls']['value_2'].errors?.required && 
                                  (attributeFormArray?.controls[data.index]['controls']['value_2'].dirty || attributeFormArray?.controls[data.index]['controls']['value_2'].touched || isSubmitted))
                                  ">
                                    This is field required</small>
                                    <!-- ((attributeFormArray?.controls[data.index]['controls']['value_1'].errors?.patternInvalid && !attributeFormArray?.controls[data.index]['controls']['value_1'].errors?.required && !attributeFormArray?.controls[data.index]['controls']['value_2'].errors?.required)
                                  || (attributeFormArray?.controls[data.index]['controls']['value_2'].errors?.patternInvalid && !attributeFormArray?.controls[data.index]['controls']['value_2'].errors?.required && !attributeFormArray?.controls[data.index]['controls']['value_1'].errors?.required)
                                  ) -->
                                  <small
                                  *ngIf="(attributeFormArray?.controls[data.index]['controls']['value_1'].errors?.patternInvalid || attributeFormArray?.controls[data.index]['controls']['value_2'].errors?.patternInvalid) && (!attributeFormArray?.controls[data.index]['controls']['value_1'].errors?.required &&!attributeFormArray?.controls[data.index]['controls']['value_2'].errors?.required)"
                                  class="err-txt">"This (',\,`) characters not allowed"</small>
                                </div>
                              </div>
                            </div>
                            <ng-template #elseTemplate>
                              <input
                              type="text"
                              pInputText
                              [formControl]="attributeFormArray?.controls[data.index]['controls']['value_1']"
                              placeholder="Enter a value"
                              class="p-inputtext-sm"
                            />
                              <div class="err-txt-container">
                                <small
                                *ngIf="attributeFormArray?.controls[data.index]['controls']['value_1'].errors?.required && 
                                (attributeFormArray?.controls[data.index]['controls']['value_1'].dirty
                                 || attributeFormArray?.controls[data.index]['controls']['value_1'].touched ||
                                  isSubmitted)"
                                class="err-txt">This is required</small>
                                <small
                                *ngIf="attributeFormArray?.controls[data.index]['controls']['value_1'].errors?.patternInvalid"
                                class="err-txt">"This (',\,`) characters not allowed"</small>
                               </div>
                            </ng-template>
                          </ng-template>
                      </div>
                      </div>
                </td>
                <td>
                    <div class="t-bd-txt ">
                        <!-- statusProps -->
                        <div class="t-bd-txt " [formGroup]="formGroup">
                          <div class="single-selector-container">
                            <div  >
                              <p-dropdown
                              [options]="statusOption"
                              [formControl]="attributeFormArray?.controls[data.index]['controls']['status']"
                              [optionLabel]="'label'"
                              [placeholder]="'Select'"
                              (onChange)="attributeChangeHandler(attributeFormArray?.controls[data.index] , 'status')"
                                class="full-width"
                              appendTo="body"
                                ></p-dropdown>
                            </div>
                                <div class="err-txt-container">
                                  <small
                                  *ngIf="attributeFormArray?.controls[data.index]['controls']['status'].invalid && 
                                  (attributeFormArray?.controls[data.index]['controls']['status'].dirty
                                   || attributeFormArray?.controls[data.index]['controls']['status'].touched ||
                                    isSubmitted)"
                                  class="err-txt">This is required</small>
                                 </div>
                          </div>
                      </div>
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt">
                        <!-- dqSeverityProps -->
                        <div class="t-bd-txt ">
                          <div class="t-bd-txt " [formGroup]="formGroup">
                            <div class="signle-selector-container">
                              <div  >
                                <p-dropdown
                                [options]="dqSeverityOption"
                                [formControl]="attributeFormArray?.controls[data.index]['controls']['dqSeverity']"
                                [optionLabel]="'label'"
                                [placeholder]="'Select'"
                                (onChange)="attributeChangeHandler(attributeFormArray?.controls[data.index] , 'dqSeverity')"
                                  class="full-width"
                                appendTo="body"
                                  ></p-dropdown>
                              </div>
                                  <div class="err-txt-container">
                                    <small
                                    *ngIf="attributeFormArray?.controls[data.index]['controls']['dqSeverity'].invalid && 
                                    (attributeFormArray?.controls[data.index]['controls']['dqSeverity'].dirty
                                     || attributeFormArray?.controls[data.index]['controls']['dqSeverity'].touched ||
                                      isSubmitted)"
                                    class="err-txt">This is required</small>
                                   </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </td>
        
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns >
            <tr>
                <td colspan="8">
                    <div class="t-Error-cell">
                        No records found
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    </div>
      <ng-template pTemplate="footer">
        <app-non-outlined-button [btnprops]="popupModelData.cancelBtnProps"
        (click)="rejectHandler()"
        ></app-non-outlined-button>
        <app-primary-button  
        (click)="submitHandler()"
        [btnProps]="popupModelData.saveBtnProps"
        >
        <!-- [disabled]="!dropdownData?.formControl" -->
        </app-primary-button>
      </ng-template>
    </p-dialog>


  <div *ngIf="formFieldApiStatus.dataZone ||formFieldApiStatus.dataProvider ||
  formFieldApiStatus.datasetName ||formFieldApiStatus.attribute ||  
  formFieldApiStatus.dateFormat ||formFieldApiStatus.function ||  
  formFieldApiStatus.dqSeverity ||formFieldApiStatus.status  || formFieldApiStatus.ruleType
  " 
  class="progress-spinner">
		<app-progress-spinner></app-progress-spinner>
	</div>
  </div>

  <!-- yellow toast -->
	<p-toast position="top-center" key="wrn" [baseZIndex]="5000">
		<ng-template let-message pTemplate="message">
			<div class="toast-container bg-y">
				<div class="icon">
					<i class="pi pi-exclamation-circle" style="color:#ffffff"></i>
				</div>
				<div class="toast-desc">
					{{ message.detail }}
				</div>
			</div>
		</ng-template>
	</p-toast>
  