.data-validation-popup-container {
	// .input-container {
	//   display: flex;
	//   flex-direction: column;
	//   gap: 15px;
	// }

	.model-content-container {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		
    padding: 6% 40% 3% 7%;
	}

	.row-container {
		display: grid;
		grid-template-columns: 0.5fr 1fr;
		gap: 15px;
	}
	.label-text {
		display: flex;
		justify-content: flex-end;
		align-items: center;
        color: #555555;
		margin-top: -1.375rem;
	}

    .table-container{
        overflow-x: auto;
        padding: 0rem 3.8rem;
        // .edit-t-cell{
        //     display: flex;
        //     justify-content: space-between;
        //      gap: 17px;
        // }
        .hd-container{
          display: flex;
          flex-direction: column;
          // gap: 5px
        }
        .t-hd-txt{
          line-height: 1.313rem;
          color: #555555;
          font-size: 0.875rem;
          font-weight: 500;
          padding-top: .75rem;
        }
        .t-bd-txt{
          line-height: 1.25rem;
          color: #333333;
          font-size: 0.875rem;
        }

        .t-input{
            padding: 0.5rem 0px;
        }
        .l-padd{
            padding-left: 1rem;
        }
    }
    .progress-spinner{
        position: fixed;
        z-index: 100001;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

	::ng-deep {
		.p-dialog .p-dialog-content {
			padding: 0px;
		}
		.p-dialog .p-dialog-footer {
			padding: 1rem;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			border-top: 1px solid lightgray;
		}
		.p-dialog .p-dialog-header {
			padding: 1rem;
			border-bottom: 1px solid lightgray;
		
		}
	}
	.err-txt-container{
        height: 1.083rem;
      }
    
      .err-txt{
        color: #B00020;
        font-size: 13px;
      }

      .range-container{
      .range-input-container{
        display: flex;
        gap: 1rem;
      }
        .range-txtbox{
          width: 50%;
        }
        .p-inputtext.p-inputtext-sm, .range{
          width: 5.938rem !important;
        }
      }
      
      .p-input-icon-right, .full-width {
        width: 100%;
        // padding: 9px 38px 9px 9px;
      }
.single-selector-container{
    
  .err-txt-container{
      height: 1.083rem;
    }
  
    .err-txt{
      color: #B00020;
      font-size: 13px;
    }    
}

}
:host ::ng-deep{
  .p-dropdown .p-inputtext{
   
    text-overflow: ellipsis;
  }
  .p-dropdown-label {
    font-size: 0.8rem;
    width: 22ch;    
}

}
.toast-container{
  padding: 10px 5px;
  display: flex;
  gap: 1rem;
  justify-content: left;
  align-items: center;
  height: auto;
  width: 447px;
  padding-left: 1rem;

  .toast-desc{
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0px;
      color: #FFFFFF;
  }
}
.bg-y{
  background-color: #d9a300;
}
	