<div class="session-container">
    <div class="header-container">
        <div class="header-content">
            <div class="svg">
                <app-session-manager-svg></app-session-manager-svg>
            </div>
            <div class="text-content-container">
                <div class="breadcrum">
                    Admin <i class="pi pi-angle-right" style="color: #0052cc; font-size: inherit"></i>
                    {{tab_label}} <i class="pi pi-angle-right" style="color: #0052cc; font-size: inherit"></i>
                </div>
                <div class="header-text">Session Manager</div>
                <div class="connetions-text">{{ table_data?.length || '0' }} Sessions</div>
            </div>
        </div>
    </div>
    <div class="session-body">
        <p-table
        [value]="table_data"
        [paginator]="true"
        [rows]="10"
        [alwaysShowPaginator]="true"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [rowHover]="true"
        [scrollable]="true"
        [(first)]="tablePageNumber"
        >
        <ng-template pTemplate="header">
            <tr>
                <th class="table-header" style="min-width: 52px; cursor: pointer;">
                    <div class="t-hd-svg" ><app-t-filter-svg (click)="resetAll()"></app-t-filter-svg></div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Session ID</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">User Name</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Session Activity</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Session Start</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Session Stop</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">IP Address</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Actions</div>
                </th>
            </tr>
            <tr>
                <th class="table-header"></th>
                <th class="table-header">
                    <div class="t-input l-padd">
                        <app-prime-multi-select
                        [options]="uniqueValues?.[Column.sessionId]"
                        (changeEmitter)="filterChangeHandler($event,Column.sessionId)"
                        #sessionIdFilter
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        [options]="uniqueValues?.[Column.userName]"
                        (changeEmitter)="filterChangeHandler($event,Column.userName)"
                        #userNameFilter
    
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        [options]="uniqueValues?.[Column.activity]"
                        (changeEmitter)="filterChangeHandler($event,Column.activity)"
                        #sessionActivityFilter
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        [options]="uniqueValues?.[Column.sessionStart]"
                        (changeEmitter)="filterChangeHandler($event,Column.sessionStart)"
                        #sessionStartFilter
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        [options]="uniqueValues?.[Column.sessionStop]"
                        (changeEmitter)="filterChangeHandler($event,Column.sessionStop)"
                        #sessionStopFilter
                        ></app-prime-multi-select>
                    </div>
                </th>   
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        [options]="uniqueValues?.[Column.ipAddress]"
                        (changeEmitter)="filterChangeHandler($event,Column.ipAddress)"
                        #ipAddressFilter
                        ></app-prime-multi-select>
                    </div>
                </th>   
                    <th class="table-header"></th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                <tr>
                    <td></td>
                    <td>
                        <div class="t-bd-txt l-padd t-name-cell">
                            {{ data.SESSN_ID}}
                        </div>
                    </td>
                    <td>
                        <div class="t-bd-txt t-sts-cell">
                            {{ data.USER_NM }}
                        </div>
                    </td>
                    <td>
                        <div class="t-bd-txt t-crdon-cell">
                            {{ data.USERSESSN_ACTVTY_NM }}
                        </div>
                    </td>
                    <td>
                        <div class="t-bd-txt t-crdby-cell">
                            {{ data.SESSN_START}}
                        </div>
                    </td>
                    <td>
                        <div class="t-bd-txt t-type-cell">
                            {{ data.SESSN_END }}
                        </div>
                    </td>
                    <td>
                        <div class="t-bd-txt t-type-cell">
                            {{ data.IP_ADD }}
                        </div>
                    </td>
                    <td>
                        <div class="edit-t-cell">
                            <span style="cursor: pointer">
                                <a>Kill Session</a>
                            </span>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr >
                    <!-- <td [attr.colspan]="columns.length">No records found</td> -->
                    <td colspan="8">No records found</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <!-- greenToast -->
    <p-toast position="top-center" key="su" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div class="toast-container bg-g">
            <div class="icon">
              <i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
            </div>
            <div class="toast-desc">
              {{ message.detail }}
            </div>
          </div>
        </ng-template>
      </p-toast>
          <!-- redToast -->
      <p-toast position="top-center" key="err" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div class="toast-container bg-r">
                <div class="icon">
                    <i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
                </div>
                <div class="toast-desc">
                    {{ message.detail }}
                </div>
            </div>
        </ng-template>
    </p-toast>
    <!-- yellow toast -->
    <p-toast position="top-center" key="wrn" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div class="toast-container bg-y">
                <div class="icon">
                    <i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
                </div>
                <div class="toast-desc">
                    {{ message.detail }}
                </div>
            </div>
        </ng-template>
    </p-toast>
    <div *ngIf="loaderService.loaderState | async as loaderVisible" class="progress-spinner">
        <app-progress-spinner></app-progress-spinner>
      </div>
    </div>
    