<div class="new-normal-body" [formGroup]="newRuleForm">
    <div class="new-normal-body-2">
        <div class="new-normal-flex">
            <div>Rule Name</div>
            <div class="new-normal-box">
                <input pInputText class="p-inputtext-sm" [style]="{width: '100%'}" formControlName="ruleName" />
                <div
                    *ngIf="newRuleForm.controls['ruleName'].invalid && newRuleForm.controls['ruleName'].touched">
                    <small class="p-error">This field is required</small>
                </div>
                <div *ngIf="newRuleForm.get('ruleName').hasError('pattern')">
                    <small class="p-error">This (',\,`,;) characters not allowed</small>
                </div>
            </div>
        </div>
        <div class="new-normal-flex">
            <div>Business Unit</div>
            <div class="new-normal-box">
                <p-dropdown [options]="businessUnitOptions" placeholder="Select" [style]="{width: '100%'}"
                    formControlName="businessUnit"></p-dropdown>
                <div
                    *ngIf="newRuleForm.controls['businessUnit'].invalid && newRuleForm.controls['businessUnit'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-normal-flex">
            <div>Therapeutic Class</div>
            <div class="new-normal-box">
                <p-dropdown [options]="therapeuticOptions"  placeholder="Select" [style]="{width: '100%'}"
                    formControlName="therapeuticClass"></p-dropdown>
                <div
                    *ngIf="newRuleForm.controls['therapeuticClass'].invalid && newRuleForm.controls['therapeuticClass'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-normal-flex">
            <div>Product Code</div>
            <div class="new-normal-box">
                <p-dropdown [options]="productCodeOptions" placeholder="Select" [style]="{width: '100%'}"
                    formControlName="productCode"></p-dropdown>
                <div
                    *ngIf="newRuleForm.controls['productCode'].invalid && newRuleForm.controls['productCode'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-normal-flex">
            <div>Normalization Factor</div>
            <div class="new-normal-box">
                <p-dropdown [options]="factorOption"  placeholder="Select" [style]="{width: '100%'}"
                formControlName="NormalizationFactor"></p-dropdown>                <div
                    *ngIf="newRuleForm.controls['NormalizationFactor'].invalid && newRuleForm.controls['NormalizationFactor'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-normal-flex">
            <div>Product Unit</div>
            <div class="new-normal-box">
                <p-dropdown [options]="productUnitOption" placeholder="Select"
                    [style]="{width: '100%'}" formControlName="productUnit"></p-dropdown>
                <div
                    *ngIf="newRuleForm.controls['productUnit'].invalid && newRuleForm.controls['productUnit'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-normal-flex">
            <div>Start Date</div>
            <div class="new-normal-box">
                <p-calendar   
                 (onSelect)="handleDateOnchange($event)"
                [showIcon]="true" formControlName="startDate" [minDate]="endDate"></p-calendar>
                <div
                    *ngIf="newRuleForm.controls['startDate'].invalid && newRuleForm.controls['startDate'].touched">
                    <small class="p-error">This field is required</small>
                </div>
                <div *ngIf="newRuleForm.get('startDate').hasError('pattern')">
                    <small class="p-error">This (',\,`,;) characters not allowed</small>
                </div>
            </div>
        </div>
        <div class="new-normal-flex">
            <div>End Date</div>
            <div class="new-normal-box">
                <p-calendar  [minDate]="endDate"  [showIcon]="true" formControlName="EndDate"></p-calendar>
                <div
                    *ngIf="newRuleForm.controls['EndDate'].invalid && newRuleForm.controls['EndDate'].touched">
                    <small class="p-error">This field is required</small>
                </div>
                <div *ngIf="newRuleForm.get('EndDate').hasError('pattern')">
                    <small class="p-error">This (',\,`,;) characters not allowed</small>
                </div>
            </div>

        </div>
    </div>
    <div class="new-normal-button">
        <button pButton type="button" label="Cancel" class="p-button-sm" class="p-button-text"
            (click)="cancelButtonHandler()"></button>
        <p-button label="Save" class="p-button-sm" type="submit" (click)="onSaveHandler()"></p-button>
    </div>
    <div *ngIf="loaderService.loaderState | async as loaderVisible" class="progress-spinner">
        <app-progress-spinner></app-progress-spinner>
    </div>
</div>
