<div class="inbox-container">
    <div class="header-container">
        <div class="header-content">
            <div class="svg">
                <img src="../../../assets/mdi_msg-badge-outline.svg">
            </div>
            <div class="text-content-container">
                <div class="header-text">Messages</div>
                <div class="connetions-text">{{ inboxData?.length || '0' }} total</div>
            </div>
        </div>
    </div>
    <div class="inbox-body">
        <p-table [value]="inboxData" [paginator]="true" [rows]="10" [alwaysShowPaginator]="true"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5, 10, 25, 50]" [rowHover]="true" [scrollable]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th class="table-header">
                        <div class="t-hd-txt">Messages</div>
                    </th>
                    <th class="table-header">
                        <div class="t-hd-txt">Date/Time</div>
                    </th>
                    <th class="table-header">
                        <div class="t-hd-txt">Actions</div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                <tr>
                    <td>
                        <div class="t-bd-txt t-noti-cell">
                            {{ data.RQST_BODY }}
                        </div>
                    </td>
                    <td>
                        <div class="t-bd-txt t-comment-cell">
                            {{beforeTime[rowIndex]}}
                        </div>
                    </td>
                    <td>
                        <div class="edit-cell" *ngIf="data.RQST_STAT === 'Approved' || data.RQST_STAT === 'Rejected'; else elseDisp">
                          <p style="text-align: center;">{{ data.RQST_STAT }}</p>
                        </div>
                      
                        <ng-template #elseDisp>
                          <div class="edit-cell">
                            <button class="p-btn">Approved</button>
                            <button class="p-btn">Rejected</button>
                          </div>
                        </ng-template>
                      </td>
                      
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <!-- <td [attr.colspan]="columns.length">No records found</td> -->
                    <td colspan="3">No records found</td>
                </tr>
            </ng-template>
        </p-table>
    </div>



    <div *ngIf="loaderService.loaderState | async as loaderVisible" class="progress-spinner">
        <app-progress-spinner></app-progress-spinner>
    </div>
</div>