.inbox-container {
    padding: 1rem;

    .header-container {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        padding-bottom: 1.5rem;
       
        .header-content {
            display: flex;
            align-items: center;
            gap: 10px;
            padding-right: 1rem;
            border-right: 1px solid #e5e5e5;
        }

        .header-text {
            font-size: large;
            letter-spacing: 3px;
            line-height: 37px;
            font-weight: 300;
        }

        .breadcrum {
            font-size: 0.8rem;
            line-height: 17px;
            color: #0052cc;
            display: flex;
            gap: 5px;
            align-items: center;
        }

        .connetions-text {
            font-size: 0.9rem;
            line-height: 17px;
            color: gray;
        }

        .body-container {
            display: flex;
            gap: 15px;
        }

    }

    .table-header {
        background-color: var(--hm-primary-color) !important;
        color: #555 !important;

        .t-hd-txt {
            line-height: 1.313rem;
            color: #555555;
            font-size: 0.875rem;
            font-weight: 500;
            padding: .5rem;
        }

        .t-hd-svg {
            position: absolute;
            top: 2rem;
            left: 2rem;
        }
    }

    .t-bd-txt {
        line-height: 1rem;
        color: #333333;
        font-size: 0.813rem;
        padding-left: 10px;
    }

    .edit-cell{
        display: flex;
         gap: 1rem;
         p-button{
            color: #0052cc!important;
        }
        background: transparent;
    }
    .p-btn {
            color: #0052cc!important;
            cursor:pointer;
            background: #fdfdfd;
            border: 0 none;
            padding: 0.3rem 0.7rem;
            font-size: 0.85rem;
            border:1px solid #0052cc;
            transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
            border-radius: 4px;
        }
    .p-btn:hover {
            background: #cae6fc;
            transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
           
        }

    .progress-spinner {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99;
    }

  
}

::ng-deep {


    .p-datatable .p-datatable-thead>tr>th {
        padding: 0rem 0.75rem;
        height: 3rem;
    }

    .p-datatable .p-datatable-thead>tr>th {
        border: none;
    }


    .p-datatable>.p-datatable-wrapper {
        overflow-x: auto !important;
    }

    .p-datatable-scrollable>.p-datatable-wrapper {
        overflow-y: hidden;
        min-height: 23rem;
    }

}
