<svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.845 33.25H15.75V36.75H8.75V38.9357H33.25V36.75H26.25V33.25H36.155C38.416 33.25 40.25 31.416 40.25 29.155V7.595C40.25 5.334 38.416 3.5 36.155 3.5H5.845C3.584 3.5 1.75 5.334 1.75 7.595V29.155C1.75 31.416 3.584 33.25 5.845 33.25ZM38.5 7.93275C38.5 6.45225 37.2977 5.25 35.8172 5.25H6.18275C4.70225 5.25 3.5 6.45225 3.5 7.93275V28.8172C3.5 30.2977 4.70225 31.5 6.18275 31.5H35.8172C37.2977 31.5 38.5 30.2977 38.5 28.8172V7.93275Z" fill="black"/>
    <path d="M35 10.5H19.25V14H35V10.5Z" fill="black"/>
    <path d="M35 17.7178H19.25V21.2178H35V17.7178Z" fill="black"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.25 10.5C14.665 10.5 16.625 12.46 16.625 14.875C16.625 17.29 14.665 19.25 12.25 19.25C9.835 19.25 7.875 17.29 7.875 14.875C7.875 12.46 9.835 10.5 12.25 10.5ZM12.25 12.25C13.699 12.25 14.875 13.426 14.875 14.875C14.875 16.324 13.699 17.5 12.25 17.5C10.801 17.5 9.625 16.324 9.625 14.875C9.625 13.426 10.801 12.25 12.25 12.25Z" fill="black"/>
    </svg>