<div class="wrap" (click)="toggleSubMenu()" [ngClass]="{ selectedMainMenu: expanded === true }">
	<div matTooltip="Customers" matTooltipClass="menu-tooltip">
		<svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				[attr.fill]="color"
				d="M12.0434 10.5906C13.0093 9.79825 13.7019 8.73555 14.0273 7.54656C14.3528 6.35757 14.2952 5.09981 13.8626 3.94376C13.4299 2.78771 12.643 1.78929 11.6086 1.08383C10.5742 0.378373 9.34219 0 8.07969 0C6.8172 0 5.58524 0.378373 4.5508 1.08383C3.51636 1.78929 2.72947 2.78771 2.29681 3.94376C1.86414 5.09981 1.80662 6.35757 2.13205 7.54656C2.45747 8.73555 3.15009 9.79825 4.11603 10.5906C2.54936 11.2814 1.20086 12.3681 0.210457 13.7382C0.123197 13.859 0.0612024 13.9954 0.028012 14.1395C-0.00517843 14.2837 -0.00891422 14.4328 0.0170179 14.5783C0.0429501 14.7239 0.0980423 14.8631 0.179149 14.9879C0.260256 15.1127 0.365789 15.2207 0.489722 15.3057C0.740017 15.4775 1.05007 15.5453 1.35167 15.4943C1.65326 15.4432 1.92171 15.2775 2.09794 15.0335C2.77254 14.098 3.66818 13.3345 4.70925 12.8073C5.75032 12.2802 6.90623 12.005 8.07938 12.005C9.25253 12.0049 10.4085 12.28 11.4496 12.8071C12.4907 13.3341 13.3864 14.0976 14.0611 15.0331C14.1483 15.1539 14.2592 15.2567 14.3872 15.3358C14.5153 15.4148 14.658 15.4685 14.8074 15.4938C14.9567 15.5191 15.1097 15.5154 15.2576 15.4831C15.4055 15.4507 15.5454 15.3903 15.6693 15.3052C15.7933 15.2202 15.8988 15.1121 15.9799 14.9873C16.061 14.8625 16.1161 14.7234 16.142 14.5778C16.1679 14.4322 16.1642 14.2831 16.131 14.139C16.0978 13.9948 16.0358 13.8584 15.9485 13.7376C14.9582 12.3678 13.6098 11.2812 12.0434 10.5906ZM4.23241 6.00494C4.23241 5.26326 4.45805 4.53823 4.88079 3.92155C5.30354 3.30487 5.9044 2.82422 6.6074 2.54039C7.3104 2.25656 8.08396 2.1823 8.83026 2.32699C9.57656 2.47169 10.2621 2.82884 10.8001 3.35329C11.3382 3.87774 11.7046 4.54592 11.8531 5.27335C12.0015 6.00078 11.9253 6.75478 11.6341 7.44C11.3429 8.12522 10.8498 8.71089 10.2171 9.12295C9.58445 9.53501 8.84062 9.75494 8.07969 9.75494C7.05968 9.75382 6.08178 9.35838 5.36052 8.65536C4.63926 7.95234 4.23356 6.99916 4.23241 6.00494ZM23.5104 15.3052C23.3865 15.3903 23.2466 15.4508 23.0987 15.4831C22.9508 15.5155 22.7978 15.5192 22.6484 15.4939C22.4991 15.4686 22.3563 15.4149 22.2282 15.3358C22.1002 15.2568 21.9894 15.1539 21.9021 15.0331C21.2266 14.0985 20.3308 13.3356 19.2899 12.8087C18.249 12.2817 17.0936 12.0061 15.9207 12.0049C15.6145 12.0049 15.321 11.8864 15.1045 11.6754C14.8881 11.4645 14.7665 11.1783 14.7665 10.8799C14.7665 10.5816 14.8881 10.2954 15.1045 10.0844C15.321 9.87347 15.6145 9.75494 15.9207 9.75494C16.47 9.7543 17.0129 9.63898 17.5127 9.41674C18.0126 9.19451 18.4578 8.87051 18.8184 8.46654C19.179 8.06258 19.4467 7.58802 19.6034 7.07478C19.7602 6.56155 19.8023 6.02155 19.727 5.49112C19.6518 4.96068 19.4608 4.45211 19.167 3.99962C18.8733 3.54713 18.4835 3.16121 18.0239 2.86783C17.5643 2.57446 17.0456 2.38042 16.5026 2.29878C15.9596 2.21714 15.405 2.24979 14.8761 2.39453C14.5814 2.47533 14.2659 2.43871 13.9989 2.29274C13.7319 2.14677 13.5354 1.9034 13.4525 1.61617C13.3696 1.32894 13.4072 1.02138 13.5569 0.761149C13.7067 0.500916 13.9563 0.309328 14.251 0.228532C15.6051 -0.144081 17.0493 -0.053139 18.3429 0.486204C19.6366 1.02555 20.7015 1.98071 21.3603 3.19253C22.0191 4.40435 22.2319 5.79962 21.9633 7.14583C21.6947 8.49204 20.9609 9.70787 19.8842 10.5907C21.4507 11.2813 22.7991 12.3678 23.7895 13.7376C23.9657 13.9816 24.0353 14.2838 23.983 14.5777C23.9307 14.8717 23.7607 15.1333 23.5104 15.3051V15.3052Z"
			/>
		</svg>
	</div>

	<div style="padding-left: 0.6rem">Customers</div>
	<div>
		<span style="display: grid; width: 100%; justify-content: flex-end">
			<img *ngIf="!expanded" src="/assets/images/svg/down-arrow.svg" width="10px" height="10px" alt="" />
			<img *ngIf="expanded" src="/assets/images/svg/up-arrow.svg" width="10px" height="10px" alt="" />
		</span>
	</div>
</div>

<div *ngIf="expanded && isMenuOpen">
	<div class="sub-menu" [ngClass]="{ selectedMenu: clickedItem === 'list-customers' }" (click)="List()">List</div>

	<div
		class="sub-menu"
		[ngClass]="{ selectedMenu: clickedItem === 'received-payments' }"
		(click)="receivedPayments()"
	>
		Received Payments
	</div>
	<div
		class="sub-menu"
		[ngClass]="{ selectedMenu: clickedItem === 'pending-receivables' }"
		(click)="pendingReceivables()"
	>
		Pending Receivables
	</div>
	<div class="sub-menu" [ngClass]="{ selectedMenu: clickedItem === 'customer-statements' }" (click)="statements()">
		Statements
	</div>
</div>
