<div class="top-nav-container">
	<div class="left">
		<div class="logo" (click)="homeNavigation()">
			<div>
				<img src="../../../../assets/dz-logo.webp" alt="img" height="24px" width="151px" />
			</div>
			<div id="harmony-text">HARMONY</div>
		</div>
	</div>
	<div class="center">
		<div class="center-menu-container">
			<!-- (click)="op.toggle($event, target)" -->
			<div (click)="handleTopNavMenuClick(topnavData[0])" class=".home-svg-container"
				(click)="mainMenuChangeHandler('home')">
				<app-home-icon-svg [props]="topnavData[0]"></app-home-icon-svg>

				<!-- p overlay..... -->
			</div>


			<!-- data source configarationns -->
			<div class="config-svg-container" #dataSource (mouseenter)="handleMenuMouseHover(1)"
				(mouseleave)="handleMenuMouseOut(1)">
				<app-ds-config-svg [props]="topnavData[1]"></app-ds-config-svg>
				<!-- p overlay..... -->
				<p-overlay [(visible)]="overlayVisible" [target]="dataSource"
					[responsive]="{ breakpoint: '640px', contentStyleClass: 'h-20rem' }"
					contentStyleClass="p-4 surface-overlay shadow-2 border-round">
					<div class="card">
						<div class="card-content-container" (click)="handleSourceConnectorPageClick()">
							<div class="img">
								<app-source-connector-mini-svg></app-source-connector-mini-svg>
							</div>
							<div class="card-centent">
								<div><a class="header-text" [ngClass]="{ 'menu-cell-2-clicked': isActive } ">
										Source Connector
									</a></div>
								<div class="text">Establish connection with data sources and cloud buckets</div>
							</div>
						</div>
						<div class="card-content-container">
							<div class="img">
								<app-source-library-svg></app-source-library-svg>
							</div>
							<div class="card-centent">
								<div><a class="header-text" >Source
										Library</a></div>
								<div class="text">Pre-built data layouts for rapid source onboarding</div>
							</div>
						</div>
						<div class="card-content-container">
							<div class="img">
								<app-source-onboard-svg></app-source-onboard-svg>
							</div>
							<div class="card-centent">
								<div><a class="header-text" >Source
										Onboard</a></div>
								<div class="text">Configure data layouts and vendor details</div>
							</div>
						</div>
						<div class="card-content-container">
							<div class="img">
								<app-configured-source-svg></app-configured-source-svg>
							</div>
							<div class="card-centent">
								<div><a class="header-text" >Configured
										Source</a></div>
								<div class="text">View and change configured data layouts</div>
							</div>
						</div>
					</div>
				</p-overlay>

			</div>


			<!-- data governance -->
			<div class="governance-svg-container" #dataGovernace (mouseenter)="handleMenuMouseHover(2)"
				(mouseleave)="handleMenuMouseOut(2)">
				<app-data-governance-svg [props]="topnavData[2]"></app-data-governance-svg>
				<!-- p overlay..... -->
				<p-overlay [(visible)]="dataGovernanceOverlayVisible" [target]="dataGovernace"
					[responsive]="{ breakpoint: '640px', contentStyleClass: 'h-20rem' }"
					contentStyleClass="p-4 surface-overlay shadow-2 border-round">
					<nav class="side-nav">
						<ul>
							<li *ngFor="let menuItem of menuItems" [class.active]="menuItem.active"
								[class.highlight]="menuItem.highlight"
								(click)="onMenuItemClick(menuItem,'Data Governance')">
								<!-- Home Menu - Row 1 Start && Data Quality -->

								<a *ngIf="menuItem.label === 'Data Quality' && menuItem.active !== true">
									<div class="menu-cell" (click)="gotoRoute('data-quality-rule')">
										<div class="menu-cell-2">{{ menuItem.label }}</div>
										<div class="menu-cell-3">
											<!-- <img src="/assets/svg/arrow-right.svg" width="24px" height="24px" alt="" /> -->
										</div>
									</div>
								</a>

								<a *ngIf="menuItem.label === 'Data Quality' && menuItem.active === true">
									<div class="menu-cell" (click)="gotoRoute('data-quality-rule')">
										<div class="menu-cell-2-clicked">{{ menuItem.label }}</div>
										<div class="menu-cell-3">
											<!-- <img src="/assets/svg/arrow-right.svg" width="24px" height="24px" alt="" /> -->
										</div>
									</div>
								</a>

								<!-- Define Row Menu - Row 2 End && Discover Menu Row 3 Start-->

								<a *ngIf="menuItem.label === 'Business Rule' && menuItem.active !== true">
									<div class="menu-cell">
										<div class="menu-cell-2">{{ menuItem.label }}</div>
										<div class="menu-cell-3">
											<!-- <img src="/assets/svg/arrow-right.svg" width="24px" height="24px" alt="" /> -->
										</div>
									</div>
								</a>

								<a *ngIf="menuItem.label === 'Business Rule' && menuItem.active === true">
									<div class="menu-cell">
										<div class="menu-cell-2-clicked">{{ menuItem.label }}</div>
										<div class="menu-cell-3">
											<!-- <img src="/assets/svg/arrow-right.svg" width="24px" height="24px" alt="" /> -->
										</div>
									</div>
								</a>

								<a *ngIf="menuItem.label === 'Data Quality Report'">
									<div class="menu-cell">
										<div class="menu-cell-2">{{ menuItem.label }}</div>
										<div class="menu-cell-3">&nbsp;</div>
									</div>
								</a>

								<!-- <a *ngIf="menuItem.label === 'Data Quality Report' && menuItem.active === true">
					<div class="menu-cell">
						<div class="menu-cell-2-clicked">{{ menuItem.label }}</div>
						<div class="menu-cell-3">&nbsp;</div>
					</div>
				</a> -->

								<a *ngIf="menuItem.label === 'Rule Library' && menuItem.active !== true">
									<div class="menu-cell">
										<div class="menu-cell-2">{{ menuItem.label }}</div>
										<div class="menu-cell-3">&nbsp;</div>
									</div>
								</a>

								<a *ngIf="menuItem.label === 'Rule Library' && menuItem.active === true">
									<div class="menu-cell">
										<div class="menu-cell-2-clicked">{{ menuItem.label }}</div>
										<div class="menu-cell-3">&nbsp;</div>
									</div>
								</a>

								<a *ngIf="menuItem.label === 'Audit Report'">
									<div class="menu-cell">
										<div class="menu-cell-2">{{ menuItem.label }}</div>
										<div class="menu-cell-3">&nbsp;</div>
									</div>
								</a>
								<!-- 
				<a *ngIf="menuItem.label === 'Audit Report' && menuItem.active === true">
					<div class="menu-cell">
						<div class="menu-cell-2-clicked">{{ menuItem.label }}</div>
						<div class="menu-cell-3">&nbsp;</div>
					</div>
				</a> -->

								<a *ngIf="menuItem.label === 'Data Profiling' && menuItem.active !== true">
									<div class="menu-cell">
										<div class="menu-cell-2">{{ menuItem.label }}</div>
										<div class="menu-cell-3">&nbsp;</div>
									</div>
								</a>

								<a *ngIf="menuItem.label === 'Data Profiling' && menuItem.active === true">
									<div class="menu-cell" (click)="gotoRoute(menuItem.url)">
										<div class="menu-cell-2-clicked">{{ menuItem.label }}</div>
										<div class="menu-cell-3">&nbsp;</div>
									</div>
								</a>

								<a *ngIf="menuItem.label === 'File Monitoring' && menuItem.active !== true">
									<div class="menu-cell">
										<div class="menu-cell-2">{{ menuItem.label }}</div>
										<div class="menu-cell-3">&nbsp;</div>
									</div>
								</a>

								<a *ngIf="menuItem.label === 'File Monitoring' && menuItem.active === true">
									<div class="menu-cell">
										<div class="menu-cell-2-clicked">{{ menuItem.label }}</div>
										<div class="menu-cell-3">&nbsp;</div>
									</div>
								</a>

								<a *ngIf="menuItem.label === 'Document Library' && menuItem.active !== true">
									<div class="menu-cell">
										<div class="menu-cell-2">{{ menuItem.label }}</div>
										<div class="menu-cell-3">&nbsp;</div>
									</div>
								</a>

								<a *ngIf="menuItem.label === 'Document Library' && menuItem.active === true">
									<div class="menu-cell">
										<div class="menu-cell-2-clicked">{{ menuItem.label }}</div>
										<div class="menu-cell-3">&nbsp;</div>
									</div>
								</a>

								<!-- <ul *ngIf="menuItem.children && menuItem.openSubMenu" class="sub-menu">
					<div class="partition-fly-sub-menu">
						<li *ngFor="let childItem of menuItem.children" (click)="gotoRoute(childItem.url)">
							<div class="fly-sub-menu" >
								<div class="fly-sub-menu-icon">
									<img src="{{ childItem.icon }}" width="24px" height="24px" alt="" />
								</div>
								<div>
									<div>
										<a (click)="sonSubMenuItemClick(childItem, $event)" class="fly-sub-menu-label">
											{{ childItem.label }}</a
										>
									</div>
									<div class="fly-sub-menu-details">
										{{ childItem.details }}
									</div>
								</div>
							</div>
						</li>
					</div>
				</ul> -->
							</li>
						</ul>
					</nav>
				</p-overlay>


			</div>


			<!-- Data-engineering -->
			<div class="data-engg-svg-container" #dataEngineering (mouseenter)="handleMenuMouseHover(3)"
				(mouseleave)="handleMenuMouseOut(3)">
				<app-data-engineering-svg [props]="topnavData[3]"></app-data-engineering-svg>
				<p-overlay [(visible)]="dataEngineeringOverlayVisible" [target]="dataEngineering"
					[responsive]="{ breakpoint: '640px', contentStyleClass: 'h-20rem' }"
					contentStyleClass="p-4 surface-overlay shadow-2 border-round">
					<nav class="side-nav">
						<ul>
							<li *ngFor="let menuItem of dataEngineeringMenuItems" [class.active]="menuItem.active"
								[class.highlight]="menuItem.highlight"
								(click)="onMenuItemClick(menuItem,'dataEngineering')">

								<a *ngIf="menuItem.label === 'Data Lineage' && menuItem.active !== true ">
									<div class="menu-cell" (click)="gotoRoute(menuItem.url)">
										<div class="menu-cell-2">{{ menuItem.label }}</div>
									</div>
								</a>
								<a *ngIf="menuItem.label === 'Data Lineage' && menuItem.active === true ">
									<div class="menu-cell" (click)="gotoRoute(menuItem.url)">
										<div class="menu-cell-2-clicked">{{ menuItem.label }}</div>
									</div>
								</a>

								<a *ngIf="menuItem.label === 'Data Catalog' && menuItem.active !== true">
									<div class="menu-cell" (click)="gotoRoute(menuItem.url)">
										<div class="menu-cell-2">{{ menuItem.label }}</div>
									</div>
								</a>
								<a *ngIf="menuItem.label === 'Data Catalog'  && menuItem.active === true ">
									<div class="menu-cell" (click)="gotoRoute(menuItem.url)">
										<div class="menu-cell-2-clicked">{{ menuItem.label }}</div>
									</div>
								</a>
							</li>

						</ul>
					</nav>
				</p-overlay>
			</div>


			<div class=".business-app-svg-container">
				<app-business-app-svg [props]="topnavData[4]"></app-business-app-svg>
			</div>

			<!-- ADMIN or 05 DONE-->
			<div #admin class="admin-svg-container" (mouseenter)="handleMenuMouseHover(5)"
				(mouseleave)="mainMenuChangeBackHandler('admin')">
				<app-admin-icon-svg [props]="topnavData[5]"></app-admin-icon-svg>
				<p-overlay [(visible)]="adminOverlayVisible" [target]="admin"
					[responsive]="{ breakpoint: '640px', contentStyleClass: 'h-20rem' }"
					contentStyleClass="p-4 surface-overlay shadow-2 border-round">
					<nav class="side-nav">
						<ul>
							<li *ngFor="let menuItem of adminMenuItems" [class.active]="menuItem.active"
								[class.highlight]="menuItem.highlight" (click)="onMenuItemClick(menuItem,'admin')">

								<a *ngIf="menuItem.label === 'Tenants'&& menuItem.active !== true ">
									<div class="menu-cell" (click)="gotoRoute(menuItem.url)">
										<div class="menu-cell-2">{{ menuItem.label }}</div>
									</div>
								</a>
								<a *ngIf="menuItem.label === 'Tenants'&& menuItem.active === true ">
									<div class="menu-cell" (click)="gotoRoute(menuItem.url)">
										<div class="menu-cell-2-clicked">{{ menuItem.label }}</div>
									</div>
								</a>

								<a *ngIf="menuItem.label === 'Users' && menuItem.active !== true">
									<div class="menu-cell" (click)="gotoRoute(menuItem.url)">
										<div class="menu-cell-2">{{ menuItem.label }}</div>
									</div>
								</a>
								<a *ngIf="menuItem.label === 'Users' && menuItem.active === true">
									<div class="menu-cell" (click)="gotoRoute(menuItem.url)">
										<div class="menu-cell-2-clicked">{{ menuItem.label }}</div>
									</div>
								</a>

								<a *ngIf="menuItem.label === 'Groups' && menuItem.active !== true">
									<div class="menu-cell" (click)="gotoRoute(menuItem.url)">
										<div class="menu-cell-2">{{ menuItem.label }}</div>
									</div>
								</a>
								<a *ngIf="menuItem.label === 'Groups' && menuItem.active === true">
									<div class="menu-cell" (click)="gotoRoute(menuItem.url)">
										<div class="menu-cell-2-clicked">{{ menuItem.label }}</div>
									</div>
								</a>

								<a *ngIf="menuItem.label === 'User Access configuration' && menuItem.active !== true">
									<div class="menu-cell" (click)="gotoRoute(menuItem.url)">
										<div class="menu-cell-2">{{ menuItem.label }}</div>
									</div>
								</a>
								<a *ngIf="menuItem.label === 'User Access configuration' && menuItem.active === true">
									<div class="menu-cell" (click)="gotoRoute(menuItem.url)">
										<div class="menu-cell-2-clicked">{{ menuItem.label }}</div>
									</div>
								</a>

								<a *ngIf="menuItem.label === 'User Groups Configuration'&& menuItem.active !== true ">
									<div class="menu-cell" (click)="gotoRoute(menuItem.url)">
										<div class="menu-cell-2">{{ menuItem.label }}</div>
									</div>
								</a>
								<a *ngIf="menuItem.label === 'User Groups Configuration'&& menuItem.active === true ">
									<div class="menu-cell" (click)="gotoRoute(menuItem.url)">
										<div class="menu-cell-2-clicked">{{ menuItem.label }}</div>
									</div>
								</a>

								<a *ngIf="menuItem.label === 'Lov Master' && menuItem.active !== true">
									<div class="menu-cell" (click)="gotoRoute(menuItem.url)">
										<div class="menu-cell-2">{{ menuItem.label }}</div>
									</div>
								</a>
								<a *ngIf="menuItem.label === 'Lov Master' && menuItem.active === true">
									<div class="menu-cell" (click)="gotoRoute(menuItem.url)">
										<div class="menu-cell-2-clicked">{{ menuItem.label }}</div>
									</div>
								</a>

								<a *ngIf="menuItem.label === 'User Zone Configuration' && menuItem.active !== true">
									<div class="menu-cell" (click)="gotoRoute(menuItem.url)">
										<div class="menu-cell-2">{{ menuItem.label }}</div>
									</div>
								</a>
								<a *ngIf="menuItem.label === 'User Zone Configuration' && menuItem.active === true">
									<div class="menu-cell" (click)="gotoRoute(menuItem.url)">
										<div class="menu-cell-2-clicked">{{ menuItem.label }}</div>
									</div>
								</a>

								<a *ngIf="menuItem.label === 'Session Manager' && menuItem.active !== true">
									<div class="menu-cell" (click)="gotoRoute(menuItem.url)">
										<div class="menu-cell-2">{{ menuItem.label }}</div>
									</div>
								</a>
								<a *ngIf="menuItem.label === 'Session Manager' && menuItem.active === true">
									<div class="menu-cell" (click)="gotoRoute(menuItem.url)">
										<div class="menu-cell-2-clicked">{{ menuItem.label }}</div>
									</div>
								</a>

								<a *ngIf="menuItem.label === 'Clear Cache' && menuItem.active !== true">
									<div class="menu-cell" (click)="gotoRoute(menuItem.url)">
										<div class="menu-cell-2">{{ menuItem.label }}</div>
									</div>
								</a>
								<a *ngIf="menuItem.label === 'Clear Cache' && menuItem.active === true">
									<div class="menu-cell" (click)="gotoRoute(menuItem.url)">
										<div class="menu-cell-2-clicked">{{ menuItem.label }}</div>
									</div>
								</a>
							</li>

						</ul>
					</nav>
				</p-overlay>
			</div>
		</div>
	 </div>
	 <div class="right">
		<div class="menu-right-settings">
			<!-- <app-avatars [avatarUrl]="avatarUrl"></app-avatars> -->
			<div class="top-icon tn-r-icon" #inbox (click)="mainMenuChangeHandler('inbox')"><i
					class="pi pi-envelope"></i></div>
			<div class="top-icon tn-r-icon" #notification (click)="mainMenuChangeHandler('notification')"><i
					class="pi pi-bell"></i></div>
			<div class="top-icon avatar">
				<app-avatars [avatarUrl]="avatarUrl" (click)="menu.toggle($event)"></app-avatars>
			</div>
			<div (click)="menu.toggle($event)">John doe</div>
			<!-- <div *ngIf="username">{{username}}</div> -->
			<app-down-arrow-svg color="#666" (click)="menu.toggle($event)"></app-down-arrow-svg>
		</div>
	</div>
</div>

<p-menu [showTransitionOptions]="'.12s cubic-bezier(0, 0, 0.2, 1)'" [hideTransitionOptions]="'0.5s linear'" #menu
	[popup]="true" [model]="menuItemsLogout">
</p-menu>


<!-- <p-overlay
	[(visible)]="notificationOverlayVisible"
	[target]="notification"
	[responsive]="{ breakpoint: '640px', contentStyleClass: 'h-20rem' }"
	contentStyleClass="p-4 surface-overlay shadow-2 border-round"
>
	<nav class="side-nav">
		<ul>
			
		</ul>
	</nav>
</p-overlay> -->

<!-- notification -->
<p-overlay [(visible)]="notificationOverlayVisible" [target]="notification"
	[responsive]="{ breakpoint: '640px', contentStyleClass: 'h-20rem' }"
	contentStyleClass="p-4 surface-overlay shadow-2 border-round">

	<div class="notification-overlay-panel">
		<div class="overlay-header">
			<div class="notification-top">
				<div>
					Last {{notificationCount}} Notifications
				</div>
				<div (click)="notificationClickHandler();setclickhandler()" class="view-cell">
					View All
				</div>
			</div>
			<div class="notification-count">
				{{notificationData.length}} total
			</div>
		</div>
		<nav>
			<ul>
				<li *ngFor="let notification of notificationData.slice(-5)">
					<a class="noti-menu-cell">
						{{ notification.JOB_NOTIFICATION }}
					</a>
				</li>
			</ul>
		</nav>
	</div>
</p-overlay>
<!-- message-->
<p-overlay [(visible)]="inboxOverlayVisible" [target]="inbox"
	[responsive]="{ breakpoint: '640px', contentStyleClass: 'h-20rem' }"
	contentStyleClass="p-4 surface-overlay shadow-2 border-round">

	<div class="notification-overlay-panel">
		<div class="overlay-header">
			<div class="notification-top">
				<div>
					Last {{notificationCount}} messages
				</div>
				<div (click)="inboxClickHandler();setclickhandler()" class="view-cell">
					View All
				</div>
			</div>
			<div class="notification-count">
				{{inboxData.length}} total
			</div>
		</div>
		<nav>
			<ul>
				<li *ngFor="let data of inboxData.slice(-5)">
					<a class="noti-menu-cell">
						{{ data.RQST_SUBJ }}
					</a>
				</li>
			</ul>
		</nav>
	</div>
</p-overlay>
<!-- greenToast -->
<p-toast position="top-center" key="su" [baseZIndex]="5000">
	<ng-template let-message pTemplate="message">
		<div class="toast-container bg-g">
			<div class="icon">
				<i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
			</div>
			<div class="toast-desc">
				{{ message.detail }}
			</div>
		</div>
	</ng-template>
</p-toast>
<!-- redToast -->
<p-toast position="top-center" key="err" [baseZIndex]="5000">
</p-toast>
<!-- redToast -->
<p-toast position="top-center" key="err" [baseZIndex]="5000">
	<ng-template let-message pTemplate="message">
		<div class="toast-container bg-r">
			<div class="icon">
				<i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
			</div>
			<div class="toast-desc">
				{{ message.detail }}
			</div>
		</div>
	</ng-template>
</p-toast>
<!-- yellow toast -->
<p-toast position="top-center" key="wrn" [baseZIndex]="5000">
	<ng-template let-message pTemplate="message">
		<div class="toast-container bg-y">
			<div class="icon">
				<i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
			</div>
			<div class="toast-desc">
				{{ message.detail }}
			</div>
		</div>
	</ng-template>
</p-toast>