.top-nav-container {
	display: flex;
	justify-items: center;
	justify-content: space-between;
	align-items: center;
	background-color: #ffffff;
	border-bottom: 1px solid #e5e5e5;
	padding: 0px 33px;
	position: initial;
	width: 100%;
	overflow: hidden;
	height: 88px;

	.center {
		height: 100%;
	}

	.logo {
		width: auto;
	}

	.logo:hover {
		cursor: pointer;
	}

	.center-menu-container {
		display: flex;
		justify-items: center;
		justify-content: space-between;
		height: 100%;
		// gap: 28px;
		// width: 100%;
		background-color: #ffffff;
		transition: background-color 0.5s ease;
	}

	.center-menu-container > * {
		flex: 1;
	}
	.menu-right-settings {
		display: flex;
		align-items: center;
		justify-items: center;
		justify-content: space-between;
		gap: 0.9rem;
	}
	.menu-item-container:hover {
		cursor: pointer;
	}
	.menu-right-settings:hover {
		cursor: pointer;
	}
	#harmony-text {
		letter-spacing: 10px;
		line-height: 26px;
		color: #004165;
		font-size: large;
	}
	.top-icon {
		height: 20px;
		width: 20px;
	}
	.tn-r-icon {
		display: flex;
		align-items: center;
	}

	.avatar {
		position: relative;
		top: -6px;
	}
}
.card {
	margin-top: -5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	background-color: #ffffff;
	width: auto;
	padding: 15px 15px 25px 15px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;

	.card-content-container {
		display: flex;
		gap: 1rem;
		padding: 0.5rem;
	}
	.text {
		width: 192px;
		color: #717171;
		font-size: small;
		line-height: 18px;
	}
	.card-centent {
		display: flex;
		flex-direction: column;
		gap: 1px;
	}
	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	}
	.header-text {
		font-size: larger;
		color: #0c7bb9;
		font-weight: 400;
		line-height: 24px;
	}
	.card-content-container:hover {
		cursor: pointer;
		background-color: aliceblue;
	}
}

// test - sub menu
.side-nav {
	width: 200px;
	height: 100%;
	background: #ffffff;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
	padding-top: 0.5rem;
	padding-left: 0.4rem;
}
.notification-overlay-panel{
	width: 20rem;
	background: #ffffff;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
	padding: 0.5rem;
	word-wrap: break-word;
	position: absolute;
	left: -200px; 
	.overlay-header{
		border-bottom: 1px solid lightgray;
	.notification-top{
		 display: flex;
		 justify-content: space-between;
		 padding: 0.2rem 0.5rem;
		.view-cell{
           cursor: pointer;
		   color: #0153b0;
		 }
	}
	.notification-count{
		color: solid #E5E5E5;
		padding: 0.5rem;
	  }	
	} 
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	position: relative;
	z-index: 99;
}

li a {
	display: block;
	padding: 8px;
	color: #333;
	text-decoration: none;
}

// after clicked
li.active > a {
	background-color: #fff !important;
	color: #000;
	border-top-right-radius: 3rem !important;
	border-bottom-right-radius: 3rem !important;
	cursor: pointer;
}

// main menu hover
li:hover:hover:not(.active) > a {
	background-color: #c7e7ff20;
	cursor: pointer;
}

ul ul {
	position: absolute;
	top: 0;
	left: 100%;
	display: none;
}

li:hover > ul {
	display: block;
}

ul ul li a {
	//background-color: #fff;
}

// sub menu rows and hover
ul ul li:hover > a {
	background-color: #c7e7ff;
	cursor: pointer;
}
.noti-menu-cell{
	display: flex;
	align-items: center;
	border-bottom: 1px solid lightgrey;
}
.menu-cell {
	display: flex;
	align-items: center;
}

.menu-cell-1 {
	padding: 0 1rem;
}

.menu-cell-1-clicked {
	color: #000;
}

.menu-cell-2 {
	color: #0153b0;
}

.menu-cell-2-clicked {
	color: #000!important;
}

.menu-cell-3 {
	margin-left: auto;
}

.sub-menu {
	width: 30rem;
	background-color: #fff;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
	padding: 1rem;
}

.partition-fly-sub-menu {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

.sub-menu-rows {
	//padding-left: 1rem !important;
}

.fly-sub-menu {
	display: grid;
	grid-template-columns: 40px 1fr;
}

.fly-sub-menu-icon {
	padding: 0.3rem;
}

.fly-sub-menu-label {
	color: #0153b0 !important;
	font-size: 1rem !important;
	padding-left: 0 !important;
	padding-bottom: 0.2rem !important;
}

.fly-sub-menu-details {
	color: #717171;
	font-size: 0.785rem;
	line-height: 1.1rem;
}

.fly-sub-menu:hover {
	background-color: #f1f1f1 !important;
	cursor: pointer;
}
.toast-container {
	padding: 10px 5px;
	display: flex;
	gap: 1rem;
	justify-content: left;
	align-items: center;
	height: auto;
	width: 447px;
	padding-left: 1rem;

	.toast-desc {
		font-size: 15px;
		line-height: 20px;
		letter-spacing: 0px;
		color: #FFFFFF;
	}
}

.bg-g {
	background-color: #12AA46;
}

.bg-r {
	background-color: red;
}

.bg-y {
	background-color: #d9a300;
}