<div class="referential-integrity-container">
    <div class="export-container">
        <button pButton type="button" [label]="buttonPorps.label"
        (click)="exportExcel()"
        class="p-button-outlined"></button>
        <!-- <app-single-select></app-single-select> -->

        <div class="new-connector" (click)="handleNewRuleClick()">
            <div class="icon">
                <i class="pi pi-plus-circle" style="color: #0052cc; font-size: 1.688rem"></i>
            </div>
            <div class="new-connector-text"> New Rule</div>
        </div>
    </div>

    <div class="table-container">
        <p-table
        [value]="table_data_copy"
        [paginator]="true"
        [rows]="10"
        [alwaysShowPaginator]="true"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [rowHover]="true"
        [scrollable]="true"
        [(first)]="tablePageNumber"
    >
        <ng-template pTemplate="header" >
            <tr>
                <th class="table-header" style="min-width: 52px; cursor: pointer;">
                    <div class="t-hd-svg" (click)="resetAll()"><app-t-filter-svg></app-t-filter-svg></div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt ">Parent Data Zone</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Parent Data Provider</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Parent Dataset</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Parent Dataset Attribute</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Child Data Zone</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Child Data Provider</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Child Dataset Name</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Child Dataset Attribute</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">DQ Severity</div>
                </th>

                 <th class="table-header">
                    <div class="t-hd-txt">Status</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Action</div>
                </th>
            </tr>
            <tr>
                <th class="table-header">

                </th>
                <th class="table-header">
                    <div class="t-input ">
                        <app-prime-multi-select
                            #p_dataZone
                            [options]="uniqueValues?.[COLUMNS.p_dataZone]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.p_dataZone)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        #P_dataProvider
                        [options]="uniqueValues?.[COLUMNS.P_dataProvider]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.P_dataProvider)"
                    ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        #P_dataSetName
                        [options]="uniqueValues?.[COLUMNS.P_dataSetName]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.P_dataSetName)"
                    ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        #P_attribute
                            [options]="uniqueValues?.[COLUMNS.P_attribute]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.P_attribute)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        #C_dataZone
                            [options]="uniqueValues?.[COLUMNS.C_dataZone]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.C_dataZone)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        #C_dataProvider
                            [options]="uniqueValues?.[COLUMNS.C_dataProvider]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.C_dataProvider)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        #C_dataSetName
                        [options]="uniqueValues?.[COLUMNS.C_dataSetName]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.C_dataSetName)"
                    ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        #C_attribute
                        [options]="uniqueValues?.[COLUMNS.C_attribute]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.C_attribute)"
                    ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        #dqSeverity
                            [options]="uniqueValues?.[COLUMNS.dqSeverity]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.dqSeverity)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        #status
                        [options]="uniqueValues?.[COLUMNS.status]"
                        (changeEmitter)="multiselectOnchange($event,COLUMNS.status)"
                    ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <!-- <app-prime-multi-select
                            [options]=""
                        ></app-prime-multi-select> -->
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
            <tr>
                <td>
                    <div class="t-bd-switch">
                        <p-inputSwitch [(ngModel)]="data.SWITCH_STATUS" (ngModelChange)="inputSwitchOnchange(data)"></p-inputSwitch>
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt  t-cell-fixed-width">
                        {{data.PARENT_DATA_ZONE}}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width"
                    [pTooltip]="data.PARENT_DATA_PROVIDER" 
                    tooltipPosition="top"
                    [tooltipDisabled]="27 > data.PARENT_DATA_PROVIDER?.length"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                      
                    >
                        {{data.PARENT_DATA_PROVIDER}}
                    </div>
                </td>
               
                <td>
                    <div class="t-bd-txt t-cell-fixed-width"
                    [pTooltip]="data.PARENT_DATASET_NAME" 
                    tooltipPosition="top"
                    [tooltipDisabled]="27 > data.PARENT_DATASET_NAME?.length"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                    >
                        {{data.PARENT_DATASET_NAME}}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width"
                    [pTooltip]="data.PARENT_DATASET_ATTRIBUTE" 
                    tooltipPosition="top"
                    [tooltipDisabled]="27 > data.PARENT_DATASET_ATTRIBUTE?.length"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                    >
                        {{data.PARENT_DATASET_ATTRIBUTE}}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width">
                        {{data.CHILD_DATA_ZONE}}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width"
                    [pTooltip]="data.CHILD_DATA_PROVIDER" 
                    tooltipPosition="top"
                    [tooltipDisabled]="27 > data.CHILD_DATA_PROVIDER?.length"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"   
                    >
                        {{data.CHILD_DATA_PROVIDER}}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width"
                    [pTooltip]="data.CHILD_DATASET_NAME" 
                    tooltipPosition="top"
                    [tooltipDisabled]="27 > data.CHILD_DATASET_NAME?.length"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                    >
                        {{data.CHILD_DATASET_NAME}}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width "
                    [pTooltip]="data.CHILD_DATASET_ATTRIBUTE" 
                    tooltipPosition="top"
                    [tooltipDisabled]="27 > data.CHILD_DATASET_ATTRIBUTE?.length"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"   
                    >
                        {{data.CHILD_DATASET_ATTRIBUTE}}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width ">

                        {{data.RULE_SEVERITY}}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width">
                        {{data.STATUS}}
                    </div>
                </td>
                <td>
                    <div class="edit-t-cell">
                        <span style="cursor: pointer" (click)="editBtnHandler(data)">
                            <app-pencil-i-svg></app-pencil-i-svg>
                        </span>
                        <span style="cursor: pointer" (click)="deleteBtnHandler(data)">
                            <app-delete-i-svg></app-delete-i-svg>
                        </span>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns >
            <tr>
                <!-- <td [attr.colspan]="columns.length">No records found</td> -->
                <td colspan="12">
                    <div class="t-Error-cell">
                        No records found
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    </div>

    <div class="popup-container" *ngIf="popupModelData?.displayModal">
        <app-ref-integrity-popup [popupModelData]="popupModelData"
        (submitResponse)="handleFormSubmit($event)"
            ></app-ref-integrity-popup>
    </div>
    <app-delete-popup
        [deletePopupModel]="deletePopupModel"
        (deleteHandler)="deletePopupDeleteHandler()"
    ></app-delete-popup>
</div>


<!-- test -->
