
     <span class="p-input-icon-right">
       <i  class="pi pi-search" (click)="handleChange()" style="cursor: pointer;"></i>
       <input
         [type]="'text'"
         pInputText
         [(ngModel)]="selectedValues"
         placeholder="Type and hit enter"
         (change)="handleChange()"
         class="full-width p-inputtext-sm"
       />
     </span>
    
   