.input-text-container{
    width: 100%;
    
}

.p-input-icon-right, .full-width {
    // width: 00%;
    // max-width: 20ch;
    // padding: 9px 38px 9px 9px;
  }

 ::ng-deep{
    .p-inputtext.p-inputtext-sm{
        padding: 0.375rem 0.625rem;
        // line-height: 1.25rem;
        color: inherit;
        font-size: .813rem;
    }
    .p-inputtext:enabled:focus{
        box-shadow: none;
    }
 }