<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
  <path fill="#fff" d="M0 0h24v24H0z"/>
  <path fill="#000" fill-rule="evenodd" d="M9 12.496C9.006 11.118 12.14 10 16 10c3.863 0 7 1.12 7 2.5V21c0 1.38-3.137 2.5-7 2.5S9 22.38 9 21v-8.504Zm1 1.292c1.225.726 3.455 1.212 6 1.212s4.775-.486 6-1.212V21c0 .828-2.689 1.5-6 1.5s-6-.672-6-1.5v-7.212ZM22 12.5c0 .828-2.689 1.5-6 1.5s-6-.672-6-1.5 2.689-1.5 6-1.5 6 .672 6 1.5Z" clip-rule="evenodd"/>
  <path fill="#000" fill-rule="evenodd" d="M23 9V1H1v21h7v-1H2V5h20v4h1ZM8 17H3v1h5v-1Zm0-2H3v1h5v-1Zm2-6V6H3v7h5v-1H4V7h5v2h1Zm10-1h-8v1h8V8Zm0-2h-8v1h8V6Zm2-4H2v2h20V2Z" clip-rule="evenodd"/>
</svg>
