<div class="l-heading">
  Line Charts
</div>
<div class="line-chart-wrap">
  <div class="l-canvas">
    <canvas baseChart class="chart"
    [data]="lineChartData"
    [options]="lineChartOptions"
    [type]="lineChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"></canvas>
  </div>

  <div>
    <table>
      <tr>
        <th *ngFor="let label of lineChartData.labels">
          <span style="font-weight: 600; padding: 0.3rem;">
            {{label}}
          </span>
         </th>
      </tr>
      <tr *ngFor="let d of lineChartData.datasets; let i=index" [class]="'line-'+i" style="font-weight: 400; display:table-row; padding: 0.3rem; border: 1px solid;">
        <td *ngFor="let label of lineChartData.labels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
  </div>
  <div>
    <div class="button-row">
      <button class="button-9" (click)="randomize()">Randomize</button>
      <button class="button-9" (click)="pushOne()">Push</button>
      <button class="button-9" (click)="changeColor()">Recolor</button>
      <button class="button-9" (click)="hideOne()">Toggle Series B</button>
      <button class="button-9" (click)="changeLabel()">Change Label</button>
    </div>

  </div>
</div>


