.line-chart-wrap {
  padding: 2rem;
}
.l-heading {
  padding: 1rem;
    font-size: 1.6rem;
    font-weight: 200;
    letter-spacing: 1px;
}

.l-canvas {
  width: 600px;
  height: 400px;
  margin: 0 auto;
}

.button-row {
  display: flex;
  gap: 1.2rem;
  width: max-content;
}
