<div class="alignment-container">
    <p-tabView (onChange)="setCurrentTab($event)">
        <p-tabPanel
        [header]="tab"
        *ngFor="let tab of this.tabs; let i = index"
        [selected]="i == 0"
        >
        </p-tabPanel>
      </p-tabView>
      <div class="business-rule-button">
        <button pButton type="button" label="Export"
        class="p-button-outlined" (click)="exportExcel()"></button>
     </div>
     <div *ngIf="currentTab=='ZIP Territory Alignment'">
        <app-zip-territory (Data)="handleData($event)" [savedData]="savedData"></app-zip-territory>
     </div>
     <div *ngIf="currentTab=='Customer Territory Alignment'">
      <app-customer-territory (Data)="handleData($event)" [savedData]="savedData"></app-customer-territory>
   </div>
   <div *ngIf="currentTab=='Employee Territory Alignment'">
      <app-employee-territory (Data)="handleData($event)" [savedData]="savedData"></app-employee-territory>
   </div>
</div>
