<div class="new-market-body" [formGroup]="newMarketForm">
    <div class="new-market-body-2">
        <div class="new-market-flex">
            <div>Product Code</div>
            <div class="new-market-box">
                <p-dropdown [options]="productCodeOptions"  placeholder="Select" [style]="{width: '100%'}"
                    formControlName="productCode"></p-dropdown>
                <div
                    *ngIf="newMarketForm.controls['productCode'].invalid && newMarketForm.controls['productCode'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-market-flex">
            <div>Market Code</div>
            <div class="new-market-box">
                <p-dropdown [options]="marketCodeOption"  placeholder="Select" [style]="{width: '100%'}"
                formControlName="marketCode"></p-dropdown>                <div
                    *ngIf="newMarketForm.controls['marketCode'].invalid && newMarketForm.controls['marketCode'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-market-flex">
            <div>Rule Type</div>
            <div class="new-market-box">
                <p-dropdown [options]="ruleTypeOption"  placeholder="Select"
                    [style]="{width: '100%'}" formControlName="ruleType"></p-dropdown>
                <div
                    *ngIf="newMarketForm.controls['ruleType'].invalid && newMarketForm.controls['ruleType'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-market-flex">
            <div>Start Date</div>
            <div class="new-market-box">
                <p-calendar (onSelect)="handleDateOnchange($event)" [minDate]="currentDate"  [showIcon]="true" formControlName="startDate"></p-calendar>
                <div
                    *ngIf="newMarketForm.controls['startDate'].invalid && newMarketForm.controls['startDate'].touched">
                    <small class="p-error">This field is required</small>
                </div>
                <div *ngIf="newMarketForm.get('startDate').hasError('pattern')">
                    <small class="p-error">This (',\,`,;) characters not allowed</small>
                </div>
            </div>
        </div>
        <div class="new-market-flex">
            <div>End Date</div>
            <div class="new-market-box">
                <p-calendar  [minDate]="endDate"  [showIcon]="true" formControlName="EndDate"></p-calendar>
                <div
                    *ngIf="newMarketForm.controls['EndDate'].invalid && newMarketForm.controls['EndDate'].touched">
                    <small class="p-error">This field is required</small>
                </div>
                <div *ngIf="newMarketForm.get('EndDate').hasError('pattern')">
                    <small class="p-error">This (',\,`,;) characters not allowed</small>
                </div>
            </div>

        </div>
    </div>
    <div class="new-market-button">
        <button pButton type="button" label="Cancel" class="p-button-sm" class="p-button-text"
            (click)="cancelButtonHandler()"></button>
        <p-button label="Save" class="p-button-sm" type="submit" (click)="onSaveHandler()"></p-button>
    </div>
    <div *ngIf="loaderService.loaderState | async as loaderVisible" class="progress-spinner">
        <app-progress-spinner></app-progress-spinner>
    </div>
</div>