<div class="popup-model-container" *ngIf="popupModelData">
  <!-- <p-button
    (click)="showModalDialog()"
    icon="pi pi-plus"
    label="Add User"
  ></p-button> -->
  <p-dialog
    [header]="popupModelData.header"
    [(visible)]="popupModelData.displayModal"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [contentStyle]="{ height: '100%' }"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
  >
    <!-- <div class="input-container">
      <app-single-select [dropdown]="dropdownData"></app-single-select>
      
    </div> -->
    <div class="model-content-container">
        
        <div class="row-container"> 
          <div class="label-text">
            Connection Type
          </div>
          <div class="single-selector" *ngIf="this.popupModelData.connectionFromProps.type">
            <app-single-select [props]="this.popupModelData.connectionFromProps.type"></app-single-select>
          </div>
        </div>
        <div class="row-container"> 
          <div class="label-text">
            Connection Name
          </div>
          <div class="text-box" *ngIf="this.popupModelData.connectionFromProps.name">
            <!-- <app-single-select [dropdown]="this.popupModelData.connectionFromProps.name"></app-single-select> -->
            <app-input-text-box [props]="this.popupModelData.connectionFromProps.name"></app-input-text-box>
          </div>
        </div>
        <div class="row-container"> 
          <div class="label-text">
            Connection String
          </div>
          <div class="text-box" *ngIf="this.popupModelData.connectionFromProps.connectionString">
            <app-input-text-box [props]="this.popupModelData.connectionFromProps.connectionString"></app-input-text-box>
          </div>
        </div>
        <div class="row-container"> 
          <div class="label-text">
            Comment
          </div>
          <div class="text-area" *ngIf="this.popupModelData.connectionFromProps.comment">
            <app-text-area [props]="popupModelData.connectionFromProps.comment"></app-text-area>
          </div>
        </div>
        <div class="row-container"> 
          <div class="label-text" >
            
          </div>
          <div class="check-box" *ngIf="this.popupModelData.connectionFromProps.active">
            <!-- <app-check-box [props]="this.popupModelData.connectionFromProps.active"></app-check-box> -->
            <div class="check-box-outer-container">
              <div  class="check-box-container" >
                  <div class="check-box">
                      <p-checkbox
                      [formControl]="this.popupModelData.connectionFromProps.active.formControl"
                          [binary]="true"
                      ></p-checkbox>
                  </div>
                  <div class="label">
                      {{popupModelData.connectionFromProps.active.label}}
                   </div>
                   <!-- [attr.disabled]="props.disabled" -->
              </div>
          </div>
          
          </div>
        </div>
    </div>

    <ng-template pTemplate="footer">
      <app-non-outlined-button [btnprops]="popupModelData.cancelBtnProps"
      (click)="rejectHandler()"
      ></app-non-outlined-button>
      <app-primary-button  
      (click)="submitHandler()"
      [btnProps]="popupModelData.saveBtnProps"
      >
      <!-- [disabled]="!dropdownData?.formControl" -->
      </app-primary-button>
    </ng-template>
  </p-dialog>
</div>
