.popup-model-container {
	// .input-container {
	//   display: flex;
	//   flex-direction: column;
	//   gap: 15px;
	// }

	.model-content-container {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		border-bottom: 1px solid lightgray;
		border-top: 1px solid lightgray;
		padding: 6% 20%;
	}

	.row-container {
		display: grid;
		grid-template-columns: 0.7fr 1fr;
		gap: 15px;
	}
	.label-text {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-top: -1.375rem;
	}
	
.check-box-outer-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .check-box-container{
        display: flex;
        gap: .5rem;
        width: auto;
        justify-content: flex-start;
        align-items: center;

        .label{
            font-size: 0.875rem;
            color: #333333;
        }

    }
}

	::ng-deep {
		.p-dialog .p-dialog-content {
			padding: 0px;
		}
		.p-dialog .p-dialog-footer {
			padding: 1rem;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
		.p-dialog .p-dialog-header {
			padding: 1rem;
		}
	}

}
