<div class="wrap" (click)="settings()" [ngClass]="{ selectedMainMenu: expanded === true }">
	<div matTooltip="Settings" matTooltipClass="menu-tooltip">
		<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				[attr.fill]="color"
				d="M17.1593 10.98C17.1993 10.66 17.2293 10.34 17.2293 10C17.2293 9.66005 17.1993 9.34005 17.1593 9.02005L19.2693 7.37005C19.4593 7.22005 19.5093 6.95005 19.3893 6.73005L17.3893 3.27005C17.3304 3.16687 17.2366 3.08807 17.1248 3.04775C17.0131 3.00744 16.8906 3.00825 16.7793 3.05005L14.2893 4.05005C13.7693 3.65005 13.2093 3.32005 12.5993 3.07005L12.2193 0.420047C12.2028 0.302388 12.1439 0.194807 12.0537 0.117483C11.9635 0.0401581 11.8481 -0.00159773 11.7293 4.67889e-05H7.72933C7.47933 4.67889e-05 7.26933 0.180047 7.23933 0.420047L6.85933 3.07005C6.24933 3.32005 5.68933 3.66005 5.16933 4.05005L2.67933 3.05005C2.62135 3.03038 2.56056 3.02025 2.49933 3.02005C2.32933 3.02005 2.15933 3.11005 2.06933 3.27005L0.0693316 6.73005C-0.0606684 6.95005 -0.000668302 7.22005 0.189332 7.37005L2.29933 9.02005C2.25933 9.34005 2.22933 9.67005 2.22933 10C2.22933 10.33 2.25933 10.66 2.29933 10.98L0.189332 12.63C-0.000668302 12.78 -0.0506684 13.05 0.0693316 13.27L2.06933 16.73C2.12828 16.8332 2.22205 16.912 2.33383 16.9523C2.44561 16.9927 2.5681 16.9918 2.67933 16.95L5.16933 15.95C5.68933 16.35 6.24933 16.68 6.85933 16.93L7.23933 19.58C7.26933 19.82 7.47933 20 7.72933 20H11.7293C11.9793 20 12.1893 19.82 12.2193 19.58L12.5993 16.93C13.2093 16.68 13.7693 16.34 14.2893 15.95L16.7793 16.95C16.8393 16.97 16.8993 16.98 16.9593 16.98C17.1293 16.98 17.2993 16.89 17.3893 16.73L19.3893 13.27C19.5093 13.05 19.4593 12.78 19.2693 12.63L17.1593 10.98ZM15.1793 9.27005C15.2193 9.58005 15.2293 9.79005 15.2293 10C15.2293 10.21 15.2093 10.43 15.1793 10.73L15.0393 11.86L15.9293 12.56L17.0093 13.4L16.3093 14.61L15.0393 14.1L13.9993 13.68L13.0993 14.36C12.6693 14.68 12.2593 14.92 11.8493 15.09L10.7893 15.52L10.6293 16.65L10.4293 18H9.02933L8.83933 16.65L8.67933 15.52L7.61933 15.09C7.18933 14.91 6.78933 14.68 6.38933 14.38L5.47933 13.68L4.41933 14.11L3.14933 14.62L2.44933 13.41L3.52933 12.57L4.41933 11.87L4.27933 10.74C4.24933 10.43 4.22933 10.2 4.22933 10C4.22933 9.80005 4.24933 9.57005 4.27933 9.27005L4.41933 8.14005L3.52933 7.44005L2.44933 6.60005L3.14933 5.39005L4.41933 5.90005L5.45933 6.32005L6.35933 5.64005C6.78933 5.32005 7.19933 5.08005 7.60933 4.91005L8.66933 4.48005L8.82933 3.35005L9.02933 2.00005H10.4193L10.6093 3.35005L10.7693 4.48005L11.8293 4.91005C12.2593 5.09005 12.6593 5.32005 13.0593 5.62005L13.9693 6.32005L15.0293 5.89005L16.2993 5.38005L16.9993 6.59005L15.9293 7.44005L15.0393 8.14005L15.1793 9.27005ZM9.72933 6.00005C7.51933 6.00005 5.72933 7.79005 5.72933 10C5.72933 12.21 7.51933 14 9.72933 14C11.9393 14 13.7293 12.21 13.7293 10C13.7293 7.79005 11.9393 6.00005 9.72933 6.00005ZM9.72933 12C8.62933 12 7.72933 11.1 7.72933 10C7.72933 8.90005 8.62933 8.00005 9.72933 8.00005C10.8293 8.00005 11.7293 8.90005 11.7293 10C11.7293 11.1 10.8293 12 9.72933 12Z"
				fill="black"
			/>
		</svg>
	</div>

	<div style="padding-left: 0.6rem">Settings</div>
</div>
