:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
    animation: custom-progress-spinner-dash 0.5s ease-in-out infinite, p-progress-spinner-color 6s ease-in-out infinite;
   
    @keyframes p-progress-spinner-color {

          from {
            stroke: #2A71C5 !important;
        }
    
        to {
            stroke: #2A71C5 !important;
        }
    }
}

.progress-spinner-container{
    position: absolute;
    z-index: 5000;
}