<div class="dev-progress">
    <div style="padding: 1rem; padding-bottom: 0;">
       <h1>Build Version 1.01</h1>
    </div>
    <div style="padding: 1rem;">
       <h1>Build Date - 19/04/2023</h1>
    </div>
    <div style="padding: 1rem; padding-bottom: 0;">
            <div>
                <h1  style="padding: 1rem 0px;">Data Source Configuration</h1>   
                <p>* Source Connector</p>
              </div>
              <div>
                 <h1 style="padding: 1rem 0px;">Data Governance </h1>   
                 <p>* All</p>
                 <p>* Threshold Variation</p>
                 <p>* Threshold trend</p>
                 <p>* Referential Integrity</p>
                 <p>* Control Total</p>
                 <p>* Data Validation</p>
                 <p>* Control Sum</p>
               </div>         
    </div>
    <table>
        <tr>
            <th>
                Modules
            </th>
            <th>
                Status
            </th>
        </tr>
        <tr>
            <td>
                Module 1 Login with api validation
                <tr>
                    <td>
                        login
                    </td>
                    <td>
                        completed
                    </td>
                </tr>
                <tr>
                    <td>
                        logout
                    </td>
                    <td>
                        completed
                    </td>
                </tr>
                <tr>
                    <td>
                        TopNav
                    </td>
                    <td>
                        completed
                    </td>
                </tr>
            </td>
            <td>
                Complete
            </td>
        </tr>
        <tr>
            <td>
                <tr>
                       module 2 Data Configuration
                        <tr>
                            <td>
                                source Connector page
                               </td>
                        </tr>

                        <tr>

                            <td>
                                overlay Menu
                            </td>
                            <td>
                                Complete
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Table with filter
                            </td>
                            <td>
                                Complete
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Add, Edit, Delete Connection
                            </td>
                            <td>
                                Complete
                            </td>
                        </tr>
                  <td>
                Complete
            </td>
        </tr>


    <tr>
        <td>
            Module 3  Data Governance
            <tr>
              <td style="width: 210px;">
                  Data Quality
                 </td>
                 <td>
                  Completed
                 </td>
          </tr>
          <tr>
            <td style="width: 210px;">
                Threshold
               </td>
               <td>
                Completed
               </td>
        </tr>
        <tr>
          <td style="width: 210px;">
            Referential Integrity
             </td>
             <td>
              Completed
             </td>
      </tr>
      <tr>
        <td style="width: 210px;">
          Data Validation
           </td>
           <td>
            Completed
           </td>
    </tr>
    <tr>
      <td style="width: 210px;">
        Control Total
         </td>
         <td>
          Completed
         </td>
  </tr>
  <tr>
    <td style="width: 210px;">
      Threshold Trend
       </td>
       <td>
        Completed
       </td>
</tr>
<tr>
  <td style="width: 210px;">
    Control Sum
     </td>
     <td>
        Completed
     </td>
</tr>
        <td>
            Progress
        </td>
    </tr>
    <tr>
      <td>
          Module 4  Data Engineering
          <tr>
            <td style="width: 210px;">
                Data Lineage
               </td>
               <td>
                In Progress
               </td>
        </tr>
        <tr>
          <td style="width: 210px;">
              Data Catalog
             </td>
             <td>
              In Progress
             </td>
      </tr>
      <td>
        Progress
    </td>
  </tr>
  <tr>
    <td>
        Module 5  Admin
        <tr>
          <td style="width: 210px;">
              Tenant
             </td>
             <td>
              In Progress
             </td>
      </tr>
      <tr>
        <td style="width: 210px;">
            Users
           </td>
           <td>
            In Progress
           </td>
    </tr>
    <tr>
        <td style="width: 210px;">
           Groups
           </td>
           <td>
            Completed
           </td>
    </tr>
    <tr>
        <td style="width: 210px;">
            User Access Configuration
           </td>
           <td>
            In Progress
           </td>
    </tr>
    <tr>
        <td style="width: 210px;">
            User Group Configuration 
           </td>
           <td>
            Completed
           </td>
    </tr>
    <tr>
        <td style="width: 210px;">
            User Zone Configuration
           </td>
           <td>
            In Progress
           </td>
    </tr>
    <tr>
        <td style="width: 210px;">
            LOV Master
           </td>
           <td>
             In progress
           </td>
    </tr>
    <tr>
        <td style="width: 210px;">
            Session Manager
           </td>
           <td>
            In Progress
           </td>
    </tr>
    <tr>
        <td style="width: 210px;">
            Clear Cache
           </td>
           <td>
            In Progress
           </td>
    </tr>
    <td>
       In Progress
    </td>
    </table>
</div>




