.toast-container{

    .toast-container{
        padding: 10px 5px;
        display: flex;
        gap: 1rem;
        justify-content: left;
        align-items: center;
        height: auto;
        width: 447px;
        padding-left: 1rem;

        .toast-desc{
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 0px;
            color: #FFFFFF;
        }
    }

    .bg-g{
        background-color: #12AA46;
    }
    .bg-r{
        background-color: #cb2e13e8;
    }
    .bg-y{
        background-color: #d9a300;
    }
}