

<div class="toast-container">
    <p-toast position="top-center" key="suss" [baseZIndex]="5000">
		<ng-template let-message pTemplate="message">
			<div class="toast-container bg-g">
				<div class="icon">
					<i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
				</div>
				<div class="toast-desc">
					{{ message.detail }}
				</div>
			</div>
		</ng-template>
	</p-toast>
	<!-- redToast -->
	<p-toast position="top-center" key="err" [baseZIndex]="5000">
		<ng-template let-message pTemplate="message">
			<div class="toast-container bg-r">
				<div class="icon">
					<i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
				</div>
				<div class="toast-desc">
					{{ message.detail }}
				</div>
			</div>
		</ng-template>
	</p-toast>
	<!-- yellow toast -->
	<p-toast position="top-center" key="wrn" [baseZIndex]="5000">
		<ng-template let-message pTemplate="message">
			<div class="toast-container bg-y">
				<div class="icon">
					<i class="pi pi-exclamation-circle" style="color:#ffffff"></i>
				</div>
				<div class="toast-desc">
					{{ message.detail }}
				</div>
			</div>
		</ng-template>
	</p-toast>
</div>