.business-rule-container{
    background-color: #F9F9F9;
    padding: 10px 33px 0rem;
    width: 100%;
    .business-rule-top-body{
        display: flex;
        align-items: center;
    .left-content{
        display: flex;
        align-items: center;
        gap: 1.25rem;
        .txt-content-container{
            border-right: 1.5px solid #E5E5E5;
            padding-right: 19px;
            .breadcrum{
                font-size: 0.8rem;
                line-height: 17px;
                color: #0052cc;
                display: flex;
                gap: 5px;
                align-items: center;
            }
            .hdr-text{
                font-size: large;
                letter-spacing: 3px;
                line-height: 37px;
                font-weight: 300;
            }
            .rule-text{
                font-size: 0.9rem;
                line-height: 17px;
                color: gray;
            }
        }

    }
    .tabView-flex{
        display: grid;
        padding: 1rem 0 0 1rem;
    .new-rule{
           display: flex;
            gap: 0.8rem;
            align-items: center;
            padding: 0rem 1.2rem;
            cursor: pointer;
    .new-business-rule {
         color: #0052cc;
    }
    
    }
    .business-overlay{
        background-color: white;
        padding: 1rem;
        box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
        .contain-flex{
            display: flex;
            gap: 1rem;
        }
        .contained-grid{
          display: grid;
          grid-gap: 0.5rem;
        }
        .contained-text{
            color: #2A7CD9;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1rem;
            grid-auto-rows: auto;
            justify-items: start;
            cursor: pointer;
        }
   }
}
}
.toast-container {
    padding: 10px 5px;
    display: flex;
    gap: 1rem;
    justify-content: left;
    align-items: center;
    height: auto;
    width: 447px;
    padding-left: 1rem;

    .toast-desc {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0px;
        color: #FFFFFF;
    }
}

.bg-g {
    background-color: #12AA46;
}

.bg-r {
    background-color: red;
}

.bg-y {
    background-color: #d9a300;
}

}
:host  ::ng-deep{
    .p-tabview .p-tabview-panels{
        background: none;
        padding: 0;
    }
    .p-tabview .p-tabview-nav li .p-tabview-nav-link{
        color: #2A7CD9;
        background: none;
        font-weight: 1000;
    }
    .p-tabview .p-tabview-nav {
        background: none;
    }
    .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
        background: none;
        font-weight: 800;
    }
    .p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
        color:#2A7CD9;
    }
}