<div class="business-rule-container">
 <div class="business-rule-top-body">
    <div class="left-content">
        <div class="svg">
            <app-business-rule-svg></app-business-rule-svg>
        </div>
        <div class="txt-content-container">
            <div class="breadcrum">Data Governance <i class="pi pi-angle-right" style="color: #0052cc; font-size: inherit"></i>
                {{tab_label}} <i class="pi pi-angle-right" style="color: #0052cc; font-size: inherit"></i>
            </div>
            <div class="hdr-text">{{tab_label}}</div>
            <div class="rule-text">{{rules || 0}} Rules</div>
        </div>
    </div>
    <div class="tabView-flex">
    <div class="new-rule" (click)="newRuleHandler($event)">
        <div class="icon">
            <i class="pi pi-plus-circle" style="color: #0052cc; font-size: 1.688rem"></i>
        </div>
        <div class="new-business-rule">New Rule</div>
    </div>
    <p-overlay #op [(visible)]="showOverlayPanel"
    [responsive]="{ breakpoint: '640px', contentStyleClass: 'h-20rem' }"
	contentStyleClass="p-4 surface-overlay shadow-2 border-round"
    >
        <ng-template pTemplate="content">
             <div class="business-overlay">
                <div class="contain-flex">
                    <app-business-rule-customer-svg></app-business-rule-customer-svg>
                   <div class="contained-grid">
                    <div>
                        Customer
                     </div>
                      <div class="contained-text">
                       <div (click)="newCustomerHandler()">
                        Customer Rule
                       </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="business-overlay">
                <div class="contain-flex">
                    <app-business-rule-product-svg></app-business-rule-product-svg>
                    <div class="contained-grid">
                    <div>
                        Product
                     </div>
                      <div class="contained-text">
                         <div (click)="newMarketRuleHandler()">
                             Market Definition Rule
                         </div>
                         <div (click)="newNormaliZationRuleHandler()">
                             Normalization Factor
                        </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="business-overlay">
                <div class="contain-flex">
                    <app-business-rule-alignment-svg></app-business-rule-alignment-svg>
                    <div class="contained-grid">
                    <div>
                        Alignment
                     </div>
                      <div class="contained-text">
                        <div (click)="newZipRuleHandler()">
                            Zip Territory Alignment Rule
                        </div>
                        <div (click)="newCustomerTerritoryRuleHandler()">
                             Customer Territory Alignment Rule
                       </div>
                       <div (click)="newEmployeeRuleRuleHandler()">
                            Employee Territory Alignment Rule
                       </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="business-overlay">
                <div class="contain-flex">
                    <app-business-rule-specialty-svg></app-business-rule-specialty-svg>
                   <div class="contained-grid">
                    <div>
                        Specialty
                     </div>
                      <div class="contained-text">
                        <div (click)="newGroupMapRuleHandler()">
                            Specialty Group Map Rule
                        </div>
                        <div (click)="newUpdateRuleHandler()">
                            Specialty Update Rule
                       </div>
                       <div (click)="newInclusionRuleRuleHandler()">
                           Specialty Inclusion Rule
                       </div>
                    </div>
                   </div>
                </div>
             </div>
        </ng-template>
    </p-overlay>
    <div class="tab-view-container">
        <p-tabView (onChange)="setCurrentTab($event)">
          <p-tabPanel
          [header]="tab"
          *ngFor="let tab of this.tabs; let i = index"
          [selected]="i == 0"
          >
          </p-tabPanel>
        </p-tabView>
    </div>
   </div>
 </div>
 
 <div *ngIf="currentTab=='Customer'">
    <app-business-rule-customer (ruleCountEmitter)="ruleCountSetter($event)" [savedData]="savedCustomer"></app-business-rule-customer>
 </div>
 <div *ngIf="currentTab=='Product'">
    <app-business-rule-product (ruleCountEmitter)="ruleCountSetter($event)" [savedData]="savedProduct"></app-business-rule-product>
 </div>
 <div *ngIf="currentTab=='Alignment'">
    <app-business-rule-alignment (ruleCountEmitter)="ruleCountSetter($event)" [savedData]="savedAlignment"></app-business-rule-alignment>
 </div>
 <div *ngIf="currentTab=='Specialty'">
    <app-business-rule-specialty (ruleCountEmitter)="ruleCountSetter($event)" [savedData]="savedSpecialty"></app-business-rule-specialty>
 </div>
 <p-toast position="top-center" key="su" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
      <div class="toast-container bg-g">
        <div class="icon">
          <i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
        </div>
        <div class="toast-desc">
          {{ message.detail }}
        </div>
      </div>
    </ng-template>
  </p-toast>
      <!-- redToast -->
  <p-toast position="top-center" key="err" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="toast-container bg-r">
            <div class="icon">
                <i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
            </div>
            <div class="toast-desc">
                {{ message.detail }}
            </div>
        </div>
    </ng-template>
</p-toast>
<!-- yellow toast -->
<p-toast position="top-center" key="wrn" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="toast-container bg-y">
            <div class="icon">
                <i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
            </div>
            <div class="toast-desc">
                {{ message.detail }}
            </div>
        </div>
    </ng-template>
</p-toast>
</div>

