<div class="wrap" (click)="reports()" [ngClass]="{ selectedMainMenu: expanded === true }">
	<div matTooltip="REports" matTooltipClass="menu-tooltip">
		<svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				[attr.fill]="color"
				d="M3 20C2.20435 20 1.44129 19.6839 0.87868 19.1213C0.316071 18.5587 0 17.7956 0 17V3C0 2.20435 0.316071 1.44129 0.87868 0.87868C1.44129 0.316071 2.20435 0 3 0H11.172C11.9672 0.000435018 12.7298 0.316597 13.292 0.879L17.122 4.707C17.6843 5.26964 18.0001 6.03256 18 6.828V17C18 17.7956 17.6839 18.5587 17.1213 19.1213C16.5587 19.6839 15.7956 20 15 20H3ZM2 17C2 17.2652 2.10536 17.5196 2.29289 17.7071C2.48043 17.8946 2.73478 18 3 18H15C15.2652 18 15.5196 17.8946 15.7071 17.7071C15.8946 17.5196 16 17.2652 16 17V8H13C12.2044 8 11.4413 7.68393 10.8787 7.12132C10.3161 6.55871 10 5.79565 10 5V2H3C2.73478 2 2.48043 2.10536 2.29289 2.29289C2.10536 2.48043 2 2.73478 2 3V17ZM13 6H15.586L12 2.414V5C12 5.26522 12.1054 5.51957 12.2929 5.70711C12.4804 5.89464 12.7348 6 13 6ZM13 11C13 10.7348 12.8946 10.4804 12.7071 10.2929C12.5196 10.1054 12.2652 10 12 10C11.7348 10 11.4804 10.1054 11.2929 10.2929C11.1054 10.4804 11 10.7348 11 11V15C11 15.2652 11.1054 15.5196 11.2929 15.7071C11.4804 15.8946 11.7348 16 12 16C12.2652 16 12.5196 15.8946 12.7071 15.7071C12.8946 15.5196 13 15.2652 13 15V11ZM10 13C10 12.7348 9.89464 12.4804 9.70711 12.2929C9.51957 12.1054 9.26522 12 9 12C8.73478 12 8.48043 12.1054 8.29289 12.2929C8.10536 12.4804 8 12.7348 8 13V15C8 15.2652 8.10536 15.5196 8.29289 15.7071C8.48043 15.8946 8.73478 16 9 16C9.26522 16 9.51957 15.8946 9.70711 15.7071C9.89464 15.5196 10 15.2652 10 15V13ZM6 14C5.73478 14 5.48043 14.1054 5.29289 14.2929C5.10536 14.4804 5 14.7348 5 15C5 15.2652 5.10536 15.5196 5.29289 15.7071C5.48043 15.8946 5.73478 16 6 16H6.01C6.27522 16 6.52957 15.8946 6.71711 15.7071C6.90464 15.5196 7.01 15.2652 7.01 15C7.01 14.7348 6.90464 14.4804 6.71711 14.2929C6.52957 14.1054 6.27522 14 6.01 14H6Z"
				fill="black"
			/>
		</svg>
	</div>

	<div style="padding-left: 0.6rem">Reports</div>
</div>
