<div class="control-sum-container">
    <div class="export-container">
        <button pButton type="button" [label]="buttonPorps.label"
        (click)="exportExcel()"class="p-button-outlined"></button>
        <!-- <app-single-select></app-single-select> -->

        <div class="new-connector" (click)="handleNewQueryClick()">
            <div class="icon">
                <i class="pi pi-plus-circle" style="color: #0052cc; font-size: 1.688rem"></i>
            </div>
            <div class="new-connector-text"> New Rule</div>
        </div>
    </div>

    <div class="table-container">
        <p-table
        [value]="table_data_copy"
        [paginator]="true"
        [rows]="10"
        [alwaysShowPaginator]="true"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [rowHover]="true"
        [scrollable]="true"
        [(first)]="tablePageNumber"
    >
        <ng-template pTemplate="header" >
            <tr>
                <th class="table-header" style="min-width: 52px; cursor: pointer;">
                    <div class="t-hd-svg" (click)="resetAll()"><app-t-filter-svg></app-t-filter-svg></div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt ">Target Data Zone</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt ">Target Data Provider</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Target Dataset</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Target Metric Name</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Target Group By</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Target Filter Clause</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Source Data Zone</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Source Data Provider</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Source Dataset Name</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Source Metric Name</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Source Group By</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Source Filter Clause</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">DQ Severity</div>
                </th>

                 <th class="table-header">
                    <div class="t-hd-txt">Status</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Action</div>
                </th>
            </tr>
            <tr>
                <th class="table-header">
                </th>
                <th class="table-header">
                    <div class="t-input ">
                        <app-prime-multi-select
                            #T_dataZone
                            [options]="uniqueValues?.[COLUMNS.T_dataZone]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.T_dataZone)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #T_dataProvider
                            [options]="uniqueValues?.[COLUMNS.T_dataProvider]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.T_dataProvider)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #T_dataSetName
                            [options]="uniqueValues?.[COLUMNS.T_dataSetName]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.T_dataSetName)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #T_metricName
                            [options]="uniqueValues?.[COLUMNS.T_metricName]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.T_metricName)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #T_groupBy
                            [options]="uniqueValues?.[COLUMNS.T_groupBy]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.T_groupBy)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #T_filterClause
                            [options]="uniqueValues?.[COLUMNS.T_filterClause]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.T_filterClause)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        #S_dataZone
                        [options]="uniqueValues?.[COLUMNS.S_dataZone]"
                        (changeEmitter)="multiselectOnchange($event,COLUMNS.S_dataZone)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #S_dataProvider
                            [options]="uniqueValues?.[COLUMNS.S_dataProvider]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.S_dataProvider)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #S_dataSetName
                            [options]="uniqueValues?.[COLUMNS.S_dataSetName]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.S_dataSetName)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #S_metricName
                            [options]="uniqueValues?.[COLUMNS.S_metricName]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.S_metricName)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #S_groupBy
                            [options]="uniqueValues?.[COLUMNS.S_groupBy]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.S_groupBy)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #S_filterClause
                            [options]="uniqueValues?.[COLUMNS.S_filterClause]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.S_filterClause)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        #dqSeverity
                        [options]="uniqueValues?.[COLUMNS.dqSeverity]"
                        (changeEmitter)="multiselectOnchange($event,COLUMNS.dqSeverity)"
                    ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #status
                            [options]="uniqueValues?.[COLUMNS.status]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.status)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                    </div>
                </th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
            <tr>
                <td>
                    <div class="t-bd-switch">
                        <!-- data.STATUS === 'Active' ? true :  -->
                        <p-inputSwitch [(ngModel)]="data.SWITCH_STATUS "
                        (ngModelChange)="inputSwitchOnchange(data)"></p-inputSwitch>
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt  t-cell-fixed-width">
                        {{ data.TARGET_DATA_ZONE }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width"
                    [pTooltip]="data.TARGET_DATA_PROVIDER" 
                    tooltipPosition="top"
                    [tooltipDisabled]="25 > data.TARGET_DATA_PROVIDER?.length"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                    >
                        {{ data.TARGET_DATA_PROVIDER }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width"
                    [pTooltip]="data.TARGET_DATASET_NAME" 
                    tooltipPosition="top"
                    [tooltipDisabled]="25 > data.TARGET_DATASET_NAME?.length"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                    >
                        {{ data.TARGET_DATASET_NAME }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width"
                    [pTooltip]="data.TARGET_METRIC_NAME" 
                    tooltipPosition="top"
                    [tooltipDisabled]="25 > data.TARGET_METRIC_NAME?.length"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                    >
                        {{ data.TARGET_METRIC_NAME }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width"
                    [pTooltip]="data.TARGET_GROUP_BY" 
                    tooltipPosition="top"
                    [tooltipDisabled]="25 > data.TARGET_GROUP_BY?.length"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                    >
                        {{ data.TARGET_GROUP_BY }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width"
                    [pTooltip]="data.TARGET_FILTER" 
                    tooltipPosition="top"
                    [tooltipDisabled]="25 > data.TARGET_FILTER?.length"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                    >
                        {{ data.TARGET_FILTER }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt  t-cell-fixed-width">
                        {{ data.SOURCE_DATA_ZONE }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width"
                    [pTooltip]="data.SOURCE_DATA_PROVIDER" 
                    tooltipPosition="top"
                    [tooltipDisabled]="25 > data.SOURCE_DATA_PROVIDER?.length"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                    >
                        {{ data.SOURCE_DATA_PROVIDER }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width"
                    [pTooltip]="data.SOURCE_DATASET_NAME" 
                    tooltipPosition="top"
                    [tooltipDisabled]="25 > data.SOURCE_DATASET_NAME?.length"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                    >
                        {{ data.SOURCE_DATASET_NAME }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width"
                    [pTooltip]="data.SOURCE_METRIC_NAME" 
                    tooltipPosition="top"
                    [tooltipDisabled]="25 > data.SOURCE_METRIC_NAME?.length"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                    >
                        {{ data.SOURCE_METRIC_NAME }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width"
                    [pTooltip]="data.SOURCE_GROUP_BY" 
                    tooltipPosition="top"
                    [tooltipDisabled]="25 > data.SOURCE_GROUP_BY?.length"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                    >
                        {{ data.SOURCE_GROUP_BY }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width"
                    [pTooltip]="data.SOURCE_FILTER" 
                    tooltipPosition="top"
                    [tooltipDisabled]="25 > data.SOURCE_FILTER?.length"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                    >
                        {{ data.SOURCE_FILTER }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt  t-cell-fixed-width">

                        {{ data.RULE_SEVERITY }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt  t-cell-fixed-width">
                        {{ data.STATUS}}
                    </div>
                </td>
                <td>
                    <div class="edit-t-cell">
                        <span style="cursor: pointer" (click)="editBtnHandler(data)">
                            <app-pencil-i-svg></app-pencil-i-svg>
                        </span>
                        <span style="cursor: pointer" (click)="deleteBtnHandler(data)">
                            <app-delete-i-svg></app-delete-i-svg>
                        </span>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns >
            <tr>
                <!-- <td [attr.colspan]="columns.length">No records found</td> -->
                <td colspan="16">
                    <div class="t-Error-cell">
                        No records found
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    </div>

    <div class="popup-container" *ngIf="popupModelData.displayModal">
        <app-control-sum-popup [popupModelData]="popupModelData"
        (submitResponse)="PopupSubmitHandler($event)"
            ></app-control-sum-popup>
    </div>
    <!-- (cancelResoponse)="editPopupCancelHandler()" -->
    <div *ngIf="deletePopupModel">
		<app-delete-popup
			[deletePopupModel]="deletePopupModel"
			(deleteHandler)="deleteApiCall()"
		></app-delete-popup>
	</div>

</div>
