
  <div class="edit-tenant-body">
    <form [formGroup]="editTenantForm" enctype="multipart/form-data" style="overflow-y: auto;
    height: 90%;">
    <div class="edit-tenant-body-2">
      <div class="edit-tenant-flex">
          <div>Edit Name</div>
          <div class="edit-tenant-box">
              <input
          pInputText
          class="p-inputtext-sm"
          [style]="{width: '100%'}"
          formControlName="tenantName"
        />
        <div *ngIf="editTenantForm.controls['tenantName'].invalid && editTenantForm.controls['tenantName'].touched">
          <small class="p-error">This field is required</small>
        </div>
        <div *ngIf="editTenantForm.get('tenantName').hasError('pattern')">
          <small class="p-error">This (',\,`,;) characters not allowed</small>
        </div>
          </div>
         
      </div>
      <div class="edit-tenant-flex">
          <div>Region</div>
          <div class="edit-tenant-box">
           <p-dropdown
          [options]="region"
           placeholder="Select"
           [style]="{width: '100%'}"
           formControlName="tenantRegion"
        ></p-dropdown>
        <div *ngIf="editTenantForm.controls['tenantRegion'].invalid && editTenantForm.controls['tenantRegion'].touched">
          <small class="p-error">This field is required</small>
        </div>
          </div>
      </div>
      <div class="edit-tenant-flex">
          <div>Country</div>
          <div class="edit-tenant-box">
          <p-dropdown
          [options]="country"
           placeholder="Select" 
           [style]="{width: '100%'}"
           formControlName="tenantCountry"
        ></p-dropdown>
        <div *ngIf="editTenantForm.controls['tenantCountry'].invalid && editTenantForm.controls['tenantCountry'].touched">
          <small class="p-error">This field is required</small>
        </div>
          </div>
      </div>
      <div class="edit-tenant-flex">
          <div>Project</div>
          <div class="edit-tenant-box">
              <input
              pInputText
              class="p-inputtext-sm"
              [style]="{width: '100%'}"
              formControlName="tenantProject"
            />
            <div *ngIf="editTenantForm.controls['tenantProject'].invalid && editTenantForm.controls['tenantProject'].touched">
              <small class="p-error">This field is required</small>
            </div>
            <div *ngIf="editTenantForm.get('tenantProject').hasError('pattern')">
              <small class="p-error">This (',\,`,;) characters not allowed</small>
            </div>
          </div>
      </div>
      <div class="edit-tenant-flex">
          <div>Product ID</div>
          <div class="edit-tenant-box">
              <input
              pInputText
              class="p-inputtext-sm"
              [style]="{width: '100%'}"
              formControlName="tenantProductId"
            />
            <div *ngIf="editTenantForm.controls['tenantProductId'].invalid && editTenantForm.controls['tenantProductId'].touched">
              <small class="p-error">This field is required</small>
            </div>
            <div *ngIf="editTenantForm.get('tenantProductId').hasError('pattern')">
              <small class="p-error">This (',\,`,;) characters not allowed</small>
            </div>
          </div>
      </div>
      <div class="edit-tenant-flex">
          <div>Language</div>
          <div class="edit-tenant-box">
           <p-dropdown
          [options]="language"
          placeholder="Select"
          [style]="{width: '100%'}"
          formControlName="tenantLanguage"
        ></p-dropdown>
        <div *ngIf="editTenantForm.controls['tenantLanguage'].invalid && editTenantForm.controls['tenantLanguage'].touched">
          <small class="p-error">This field is required</small>
        </div>
          </div>
      </div>
      <div class="edit-tenant-flex">
        <div>Image/Logo</div>
        <div *ngIf="imageInputFlag; else elseTemplate">
          <input type="file" class="user-file-btn" formControlName="tenantImage" name="image" (change)="onFileSelected($event)">
          <div *ngIf="editTenantForm.controls['tenantImage'].invalid && editTenantForm.controls['tenantImage'].touched">
            <small class="p-error">This field is required</small>
          </div>
        </div>
        <ng-template #elseTemplate>
          <div class="img-contaioner" style="display: flex; gap: 1rem;">
            <img [src]="'https://harmony-dev-files.s3.amazonaws.com/'+imageUrl" alt="img" height="48" width="88"
          >
          <app-delete-i-svg (click)="imgDeleteHandler()"></app-delete-i-svg>
          </div>
          

        </ng-template>
      </div>
    </div> 
      <div class="edit-tenant-button">
          <button
           pButton type="button" 
           label="Cancel" 
           class="p-button-sm" 
           class="p-button-text"
           (click)="cancelButtonHandler()"
          ></button>
          <p-button 
          label="Save" 
          class="p-button-sm" 
          type="submit" 
          (click)="onSaveHandler()"
           ></p-button>
      </div>
      <div *ngIf="loaderService.loaderState | async as loaderVisible" class="progress-spinner">
        <app-progress-spinner></app-progress-spinner>
      </div>
    </form>
  </div>
