.edit-tenant-body{
    border-top: 1px solid lightgray;
    height: 100%; 
    .edit-tenant-body-2{
        display: grid;
        grid-gap: 1rem;
        padding-top: 3rem;
        padding-bottom: 5rem;
    }
    .edit-tenant-flex{
     display: flex;
     gap: 1rem;
     padding: 0 10rem;
     align-items: center;
     .edit-tenant-box{
         flex-grow: 1;
     }
    }
    .edit-tenant-flex>*:first-child{
        flex: 0 0 25%;
        text-align: right;
    }
    .edit-tenant-button{
     display: flex;
     gap: 1rem;
     padding: 0.5rem;
     justify-content: flex-end;
     border-top: 1px solid lightgray;
     position: absolute;
     bottom: 0;
     width: 100%;
     background-color: #FFFFFF;
    }

    .progress-spinner{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .user-file-btn{

        width: 100%;
    }
    

    .user-file-btn::file-selector-button{

        background-color: #3F51B5;
        border: 1px solid #3F51B5;
        border-radius: 4px;
        width: 86px;
        height: 36px;
        border-radius: 4px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;

    }
 }
 ::ng-deep{
    .p-dialog .p-dialog-content{
        padding: 0;
    }
    .p-inputtext.p-inputtext-sm {
        padding: 0.713rem 0.625rem;
    }
    .p-dropdown-items-wrapper{
        max-height: 8.2rem !important;
    }
   
    .p-error{
        color: #B00020;
        font-size: 13px;
    }
    .p-dialog-content {
        overflow-y: hidden;
    }
} 