<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M18 0.5C27.6583 0.5 35.5 8.34175 35.5 18C35.5 27.6583 27.6583 35.5 18 35.5C8.34175 35.5 0.5 27.6583 0.5 18C0.5 8.34175 8.34175 0.5 18 0.5ZM18 2.25C26.6923 2.25 33.75 9.30775 33.75 18C33.75 26.6923 26.6923 33.75 18 33.75C9.30775 33.75 2.25 26.6923 2.25 18C2.25 9.30775 9.30775 2.25 18 2.25Z" fill="black"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M18 7.5C21.381 7.5 24.125 10.244 24.125 13.625C24.125 17.006 21.381 19.75 18 19.75C14.619 19.75 11.875 17.006 11.875 13.625C11.875 10.244 14.619 7.5 18 7.5ZM18 9.25C20.415 9.25 22.375 11.21 22.375 13.625C22.375 16.04 20.415 18 18 18C15.585 18 13.625 16.04 13.625 13.625C13.625 11.21 15.585 9.25 18 9.25Z" fill="black"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.87427 30.25C6.72477 24.3158 11.833 19.75 18 19.75C24.167 19.75 29.2753 24.3158 30.1258 30.25H28.3548C27.52 25.287 23.1993 21.5 18 21.5C12.8008 21.5 8.48002 25.287 7.64527 30.25H5.87427Z" fill="black"/>
    </svg>