<div class="advanced-search-container">
  <div class="back-data-source">
    <a href="">back to Data Soruce </a>
  </div>
  <div class="header-container">
    <div class="img">
      <img
        src="../../../assets/image 3.jpg"
        alt="img"
        width="181.72"
        height="135"
      />
    </div>
    <div class="ad-serach-container">
      <div class="conatiner-1">
        <div class="ad-serach-text">Advanced Search</div>
        <div>
          <a href=""><i class="pi pi-plus">Add Data Source</i></a>
        </div>
      </div>
      <div class="conatiner-2">
        <div>
          Type something to search for matching Data sources. You can filter the
          results by source type or Owners.
        </div>
        <div class="search-input">
          <!-- <app-input-text-box [formcontrolValue]="formcontrolValue"></app-input-text-box> -->
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="status === 'inter'">
    {{ this.status }}
  </div>
  <!-- *ngIf="status === 'done' && searchInput" -->
  <div class="body" *ngIf="true">
    <div class="filter-container">
      <div class="filter-text">Filter By</div>
      <!-- <div>
        <app-listboxs [lisboxData]="source_listBoxData"></app-listboxs>
      </div>
      <div>
        <app-listboxs [lisboxData]="owners_listBoxData"></app-listboxs>
      </div> -->
    </div>
    <div class="body-container">
      <div class="b-conatiner-1">
        <div class="data-source-t">Data Source</div>
        <div class="result-t">219 Matching results of "customer"</div>
      </div>
      <div class="b-conatiner-2">
        <div class="btn-share">
          <p-button
            label="Share"
            [disabled]="btnStatus"
            (click)="shareBtnHandler()"
          ></p-button>
        </div>
        <div class="search">
          <div class="search-input">
            <input
              type="text"
              pInputText
              [(ngModel)]="sub_searchInput"
              [size]="40"
              [placeholder]="'Search below..'"
              (ngModelChange)="sub_search()"
            />
          </div>
        </div>
      </div>
      <div class="b-conatiner-3" *ngIf="tabledata?.body.length > 0">
        <app-tables
          [tableData]="tabledata"
          (inputValEmitter)="checkBoxInputHandler($event)"
        ></app-tables>
      </div>
    </div>
  </div>
  <app-popup-model
    [popupModelData]="popupModelData"
    (selectedValue)="singleSelectValHandler($event)"
  ></app-popup-model>
  <p-toast position="top-center"></p-toast>
</div>
