.advanced-search-container {
  padding: 15px;

  .ad-serach-text {
    line-height: 25px;
    font-size: x-large;
    font-weight: 400;
  }

  .back-data-source {
    margin-left: 17px;
    margin-bottom: 10px;
  }
  .header-container {
    display: flex;
    gap: 15px;
  }
  .ad-serach-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    .conatiner-1 {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      border-bottom: 1px gray;
    }
    .conatiner-2 {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  .search-input {
    width: 100;
  }
  .body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .filter-container {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
  }
  .body-container {
    grid-column: span 9;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .b-conatiner-1 {
      display: flex;
      gap: 10%;
    }
    .b-conatiner-2 {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
