<div class="new-tenant-body" [formGroup]="newTenantForm" >
   <div class="new-tenant-body-2">
    <div class="new-tenant-flex">
        <div>Tenant Name</div>
        <div class="new-tenant-box">
            <input
        pInputText
        class="p-inputtext-sm"
        [style]="{width: '100%'}"
        formControlName="tenantName"
      />
       <div *ngIf="newTenantForm.controls['tenantName'].invalid && newTenantForm.controls['tenantName'].touched">
          <small class="p-error">This field is required</small>
          <div *ngIf="newTenantForm.get('tenantName').hasError('pattern')">
            <small class="p-error">This (',\,`,;) characters not allowed</small>
          </div>
        </div>
        </div>  
    </div>
    <div class="new-tenant-flex">
        <div>Region</div>
        <div class="new-tenant-box">
         <p-dropdown
        [options]="region"
         placeholder="Select"
         [style]="{width: '100%'}"
         formControlName="tenantRegion"
      ></p-dropdown>
         <div *ngIf="newTenantForm.controls['tenantRegion'].invalid && newTenantForm.controls['tenantRegion'].touched">
          <small class="p-error">This field is required</small>
        </div>
        </div>
    </div>
    <div class="new-tenant-flex">
        <div>Country</div>
        <div class="new-tenant-box">
        <p-dropdown
        [options]="country"
         placeholder="Select" 
         [style]="{width: '100%'}"
         formControlName="tenantCountry"
      ></p-dropdown>
       <div *ngIf="newTenantForm.controls['tenantCountry'].invalid && newTenantForm.controls['tenantCountry'].touched">
          <small class="p-error">This field is required</small>
        </div>
        </div>
    </div>
    <div class="new-tenant-flex">
        <div>Project</div>
        <div class="new-tenant-box">
            <input
            pInputText
            class="p-inputtext-sm"
            [style]="{width: '100%'}"
            formControlName="tenantProject"
          />

            <div *ngIf="newTenantForm.get('tenantProject').hasError('required') && newTenantForm.get('tenantProject')?.touched">
              <small class="p-error">This field is required</small>
            </div>

            <div *ngIf="newTenantForm.get('tenantProject').hasError('pattern')">
              <small class="p-error">This (',\,`,;) characters not allowed</small>
            </div>
          
        </div>
    </div>
    <div class="new-tenant-flex">
        <div>Product ID</div>
        <div class="new-tenant-box">
            <input
            pInputText
            class="p-inputtext-sm"
            [style]="{width: '100%'}"
            formControlName="tenantProductId"
          />
          <div *ngIf="newTenantForm.get('tenantProductId').hasError('required') && newTenantForm.get('tenantProductId')?.touched">
            <small class="p-error">This field is required</small>
          </div>

          <div *ngIf="newTenantForm.get('tenantProductId').hasError('pattern')">
            <small class="p-error">This (',\,`,;) characters not allowed</small>
          </div>
        </div>
    </div>
    <div class="new-tenant-flex">
        <div>Language</div>
        <div class="new-tenant-box">
         <p-dropdown
        [options]="language"
        placeholder="Select"
        [style]="{width: '100%'}"
        formControlName="tenantLanguage"
      ></p-dropdown>
      <div *ngIf="newTenantForm.controls['tenantLanguage'].invalid && newTenantForm.controls['tenantLanguage'].touched">
        <small class="p-error">This field is required</small>
      </div>
        </div>
    </div>
    <div class="new-tenant-flex">
      <div>Upload Image/Logo</div>  
        <div>
        <input type="file" class="user-file-btn" formControlName="tenantImage" (change)="onFileSelected($event)">
        <div *ngIf="newTenantForm.controls['tenantImage'].invalid && newTenantForm.controls['tenantImage'].touched">
          <small class="p-error">This field is required</small>
        </div>
      </div>
    </div>
    </div>
    <div class="new-tenant-button">
        <button
         pButton type="button" 
         label="Cancel" 
         class="p-button-sm" 
         class="p-button-text"
         (click)="cancelButtonHandler()"
        ></button>
        <p-button 
        label="Save" 
        class="p-button-sm" 
        type="submit" 
        (click)="onSaveHandler()"
         ></p-button>
    </div>
    <div *ngIf="loaderService.loaderState | async as loaderVisible" class="progress-spinner">
      <app-progress-spinner></app-progress-spinner>
    </div>
</div>
