// .p-dropdown:not(.p-disabled), 
// .p-dropdown:not(.p-disabled):focus, 
// .p-dropdown:not(.p-disabled).p-focus, 
// .p-dropdown:not(.p-disabled):hover,
// .p-dropdown:not(.p-disabled):focus-visible {
//     border-color: var(--grey-50) ;
//     box-shadow: none;
//     width: 100%;
//     background-color: white;
// }


// .p-dropdown.p-disabled, 
// .p-dropdown.p-disabled:focus, 
// .p-dropdown.p-disabled.p-focus, 
// .p-dropdown.p-disabled:hover,
// .p-dropdown.p-disabled:focus-visible {
//     border-color: var(--grey-50) ;
//     box-shadow: none;
//     width: 100%;
//     background-color: white;
// }
// .p-dropdown .p-dropdown-label.p-placeholder {
//     // color: var(--grey-70);
//     // font-weight: 400;
//     // font-size: 14px;
//     // font-family: 'Inter';
// }



.signle-selector-container{
    
    .err-txt-container{
        height: 1.083rem;
      }
    
      .err-txt{
        color: #B00020;
        font-size: 13px;
      }
}

::ng-deep{
  .p-inputtext{
      padding: 0.625rem 0.625rem;
    }
  .p-dropdown{
      display: flex !important;
      height: fit-content;
  }

  .p-dropdown-label{
      font-size: 0.875rem;
  }
  .p-dropdown-panel{
    
  }
}

// .p-inputtextarea.ng-dirty.ng-invalid,.p-inputtextarea.ng-dirty.ng-invalid:hover, .p-inputtextarea.ng-dirty.ng-invalid:focus {
//     border-color: #e24c4c;
// }



::ng-deep{
    .p-inputtext{
        padding: 0.625rem 0.625rem;
      }
    .p-dropdown{
        display: flex !important;
        height: fit-content;
    }

    .p-dropdown-label{
        font-size: 0.875rem;
    }
    .p-dropdown-panel{
      
    }
}
