<div   [formGroup]="props.formGroup" class="signle-selector-container">
  <!-- *ngIf="props?.options" -->
  <div *ngIf="props?.label">
      {{ props.label }}
  </div>
    
    <p-dropdown
        [options]="props.options"
        [formControl]="props.formControl"
        [optionLabel]="props.optionLabel || 'label'"
        [placeholder]="props.placeholder || 'Select'"
        (onChange)="handleChange()"
        [attr.disabled]="props.disabled || false"
          class="full-width"
          appendTo="body"
      ></p-dropdown>

      <div class="err-txt-container" *ngIf="props.errorMsg">
        <small
        *ngIf="props.formControl.invalid && (props.formControl.dirty || props.formControl.touched || props.isSubmitted)"
        class="err-txt">{{props.errorMsg}}</small>
       </div>
</div>



<!-- class="full-width" -->
 <!-- [style]="{ width: dropdown?.width ? dropdown?.width : '100%' }" -->