<div class="wrap">
  <div>
    <div class="hero">
      <div>DataZymes Harmony - Cloud Data Platform
        to manage all Data sources</div>
      <img src="/assets/svg/hero.svg" />
    </div>

  </div>
  <div class="middle">
    <div class="logo">
      <img src="../../../../assets/dz-logo.webp" alt="img" width="240px">
      <img src="../../../../assets/HARMONY.svg" alt="img" width="240px" >

    </div>
    <div class="login-form">
      <div>Sign In</div>
      <div>
        <label class="i-label">email id</label>
        <span class="p-input-icon-right">
          <i class="pi pi-envelope" style="cursor: pointer;"></i>
          <input
            type="text"
            pInputText
            (keyup.enter)="handleClick()"
            [formControl]="user"
            placeholder=""
            class="full-width p-inputtext-sm"
          />
        </span>
        <div class="err-txt-container">
          <span *ngIf="this.user.invalid && (this.user.dirty || this.user.touched || submited)">
            <small *ngIf="this.user.errors.required" class="err-txt">{{errMsg.require}}</small>
            <small *ngIf="this.user.errors?.patternInvalid" class="err-txt">{{errMsg.email}}</small>
          </span>
         </div>
      </div>
      <div>
        <label class="i-label">Password</label>
        <span class="p-input-icon-right" >
          <i [class]="passIcon" style="cursor: pointer;"
          (mousedown)="passVisibleHandler()"                                         
          (mouseup)="passHideHandler()"></i>
          <input
          (keyup.enter)="handleClick()"
            [type]="passType"
            pInputText
            class="p-inputtext-sm"
            [formControl]="pass"
            placeholder=""
            class="full-width p-inputtext-sm"
          />
        </span>
        <div class="err-txt-container">
          <small
          *ngIf="this.pass.invalid && (this.pass.dirty || this.pass.touched || submited)"
          class="err-txt">{{errMsg.require}}</small>
         </div>
         <div></div>
      </div>
      <div class="frt-pass-container">
        <span class="remember-me-txt">Remember me <p-checkbox [(ngModel)]="rememberMeFlag" [binary]="true"></p-checkbox></span>
        <div class="frgt-pass-txt"><a (click)="forGotPasswordClickHandler()">Forgot Password?</a></div>
      </div>
      <div class="login-btn">
        <!-- <p-button label="Sign-In" class="login-btn" (onClick)="handleClick($event)"></p-button> -->
        <button pButton type="button" label="SIGN IN" (click)="handleClick()" ></button>
      </div>
      <!-- *ngIf="submited && loginResponse" -->
          <div class="err-txt-container crd-err">
            <small
            *ngIf="submited && loginResponse"
            class="err-txt">Signin credentials are not valid</small>
          </div>
      <div class="sso-login" (click)="ssoLogin()">Login Using SSO</div>
    </div>
    <div class="copyright">
      Copyright 2022, Datazymes Inc. All rights reserved.
    </div>
  </div>
  <div>&nbsp;</div>
  <div *ngIf="(loaderService.loaderState | async) as loaderVisible " class="progress-spinner">
    <app-progress-spinner></app-progress-spinner>
  </div>
</div>


<div *ngIf="oauthService.hasValidAccessToken()">
  Access Token: {{ oauthService.getAccessToken() }}
</div>
