<div class="admin-wrap">
	<!-- <div class="admin">Welcome - John Doe</div> -->
	<div class="holy-grail">
		<!-- <div class="left">
			<div (click)="changeChart('line')">Line Chart</div>
			<div (click)="changeChart('bar')">Bar Chart</div>
			<div (click)="changeChart('bubble')">Bubble Chart</div>
			<div (click)="changeChart('doughnut')">Doughnut Chart</div>
		</div>
		<div>
			<app-line-chart *ngIf="linechart"></app-line-chart>
			<app-bar-chart *ngIf="barchart"></app-bar-chart>
			<app-bubble-chart *ngIf="bubblechart"></app-bubble-chart>
			<app-doughnut-chart *ngIf="doughnutchart"></app-doughnut-chart>
		</div> -->
		<div style="font-size: 4rem; font-weight: 400;">Dashboard under construction</div>
	</div>
</div>
