// .admin-wrap {
// 	background-color: #f1f1f1;
// 	display: grid;
// 	place-content: center;
// 	height: calc(100vh - 148px);
// }

.holy-grail {
  // display: grid;
  // grid-template-columns: 200px 1fr;
  // padding: 2rem;

   display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 148px);
   
}

.left {
  border-right: 1px solid lightblue;
  min-height: calc(100vh - 148px);
}

.left div {
  padding: 0.6rem;
}

.left div:hover {
  cursor: pointer;
  background-color: lightblue;
  opacity: 0.5;
}
