<!-- *ngIf="tabledata?.body.length > 0"-->
<div class="filter-container">
	<div class="filter-content-container">
		<div class="title">
			<div class="filter-text text">Filter</div>
			<div class="text" [class]="isResetActive() ? 'reset-text-active' : 'reset-text-inactive'" (click)="reset()">
				Reset
			</div>
		</div>
		<div class="check-box-container">
			<div *ngFor="let item of updatedProps">
				<div class="check-box-outer-container">
					<div class="check-box-container">
						<p-checkbox
							[value]="item.value"
							[label]="item.label"
							[(ngModel)]="selectedValues"
							(onChange)="onCheckboxChange()"
						></p-checkbox>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
