.filter-container {
	// width: 15%;

	.filter-content-container {
		display: flex;
		flex-direction: column;
		background: #ffffff;
		border: 1px solid #d7d4d4;
		border-radius: 3px;
		gap: 1.5rem;
		padding: 10px;
		height: min-content;
		min-width: 12.5rem;
		max-width: 13rem;
	}
	.title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.check-box-container {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	.text{
		font-size: 14px;
		line-height: 20px;
		
	}
	.reset-text-active{
		color: #000;
		cursor: pointer;

	}
	.reset-text-inactive{
		color: #808080;
	}
}

.filter-text {
	color: #000;
	font-weight: 600;
}
