<div class="menu-svg-container">

  <div class="svg-item-container">
      <div >

         <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="30" height="30" x="0" y="0" viewBox="0 0 64 64"  xml:space="preserve"><g><g data-name="Layer 4"><path d="M55 27a1 1 0 0 0-.707.293l-3 3 1.414 1.414L55.414 29H62v-2ZM56 31h6v2h-6zM56 35h6v2h-6zM11.293 31.707l1.414-1.414-3-3A1 1 0 0 0 9 27H2v2h6.586ZM2 31h6v2H2zM2 35h6v2H2z" fill="#0052cc" data-original="#000000"></path><path d="M50.211 40.166c8.477 10.9 10.65 17.559 9.082 19.127-.758.756-2.707.563-5.373-.5a4 4 0 0 0-6.756-3.609 87.766 87.766 0 0 1-5.676-3.964C45.555 50.5 49 49.2 49 47V28.515c2.187-2.624 4.178-5.2 5.915-7.684A3.931 3.931 0 0 0 56 21a3.982 3.982 0 0 0 2.978-6.645c2.982-5.508 3.564-9.227 1.729-11.062-4.065-4.065-16.477 4.787-21.99 9.09A61.653 61.653 0 0 0 32 12c-5.88 0-17 1.045-17 5v8.361C6.29 14.485 2.919 6.5 4.707 4.707c.756-.758 2.707-.565 5.373.5a4 4 0 0 0 6.755 3.611 80.603 80.603 0 0 1 3.583 2.42l1.164-1.627a83.39 83.39 0 0 0-3.749-2.53A3.945 3.945 0 0 0 18 6a3.982 3.982 0 0 0-7.026-2.586C7.3 1.922 4.713 1.87 3.293 3.293-.23 6.816 5.846 17.5 15 28.5v6.981a119.281 119.281 0 0 0-5.346 6.89A3.983 3.983 0 0 0 5.382 49C2.1 54.861 1.388 58.8 3.293 60.707a3.875 3.875 0 0 0 2.857 1.015c4.28 0 11.446-4.131 19.106-10.108A61.706 61.706 0 0 0 32 52a61.7 61.7 0 0 0 6.72-.383c2.607 2.035 5.123 3.827 7.447 5.3A3.937 3.937 0 0 0 46 58a3.983 3.983 0 0 0 7.027 2.585 13.278 13.278 0 0 0 4.781 1.163 3.921 3.921 0 0 0 2.9-1.041c4.065-4.065-4.882-16.578-8.917-21.769ZM14 4a2 2 0 1 1-2 2 2 2 0 0 1 2-2Zm33 33c0 .639-2.841 1.953-8.2 2.609l.405-.4A165.865 165.865 0 0 0 47 30.862Zm-30 2.541C20.471 41.429 27.66 42 32 42c.455 0 .945-.007 1.456-.021a141.732 141.732 0 0 1-8.775 7.562C19.66 48.867 17 47.618 17 47ZM32 40c-1.3 0-2.512-.04-3.65-.108a167.787 167.787 0 0 1-2.143-2.1q-3.78-3.78-6.9-7.32A49.078 49.078 0 0 0 32 32a49.1 49.1 0 0 0 12.685-1.525 166.305 166.305 0 0 1-9.031 9.418A62.087 62.087 0 0 1 32 40ZM17 19.54C20.067 21.224 26.214 22 32 22c5.756 0 11.926-.775 15-2.459V27c0 .871-5.256 3-15 3s-15-2.129-15-3ZM56 19a2 2 0 1 1 2-2 2 2 0 0 1-2 2Zm3.293-14.293c.836.836.7 3.511-1.988 8.53A3.956 3.956 0 0 0 56 13a4 4 0 0 0-2.826 6.828A108.271 108.271 0 0 1 49 25.358V17c0-2.2-3.445-3.5-7.514-4.22C51.6 5.145 57.775 3.187 59.293 4.707ZM32 14c9.744 0 15 2.129 15 3v.064l-.019-.009C46.36 18.29 40.809 20 32 20c-8.826 0-14.465-1.751-14.988-2.962H17V17c0-.871 5.256-3 15-3Zm-7.207 25.207c.137.137.274.266.411.4C19.843 38.954 17 37.639 17 37v-6.152c2.462 2.836 5.1 5.661 7.793 8.359ZM8 44a2 2 0 1 1-2 2 2 2 0 0 1 2-2ZM4.707 59.293c-.882-.882-.674-3.813 2.458-9.384A3.963 3.963 0 0 0 8 50a4 4 0 0 0 4-4 3.96 3.96 0 0 0-.793-2.366q1.732-2.427 3.793-5V47c0 2.2 3.438 3.5 7.5 4.218-9.4 7.053-16.166 9.701-17.793 8.075ZM32 50a59.82 59.82 0 0 1-4.513-.168 155.854 155.854 0 0 0 9.041-8.009c3.815-.287 8.048-.964 10.472-2.282V47c0 .618-2.66 1.867-7.68 2.541q-1.98-1.567-4.009-3.3l-1.3 1.519c.832.713 1.66 1.4 2.484 2.073A59.983 59.983 0 0 1 32 50Zm18 10a2 2 0 1 1 2-2 2 2 0 0 1-2 2Z"
          [attr.fill]="props.activeState ? '#000000' : '#0052cc' " data-original="#000000"></path></g></g></svg>

</div>
      <div class="svg-label" [ngClass]="{'active': props.activeState}">
          {{props.label}}
      </div>
  </div>


</div>
