<div class="new-Customer-body" [formGroup]="newRuleForm">
    <div class="new-Customer-body-2">
        <div class="new-Customer-flex">
            <div>Rule Name</div>
            <div class="new-Customer-box">
                <input pInputText class="p-inputtext-sm" [style]="{width: '100%'}" formControlName="ruleName" />
                <div
                    *ngIf="newRuleForm.controls['ruleName'].invalid && newRuleForm.controls['ruleName'].touched">
                    <small class="p-error">This field is required</small>
                </div>
                <div *ngIf="newRuleForm.get('ruleName').hasError('pattern')">
                    <small class="p-error">This (',\,`,;) characters not allowed</small>
                </div>
            </div>
        </div>
        <div class="new-Customer-flex">
            <div>Business Unit</div>
            <div class="new-Customer-box">
                <p-dropdown [options]="businessUnitOptions"  placeholder="Select" [style]="{width: '100%'}"
                    formControlName="businessUnit"></p-dropdown>
                <div
                    *ngIf="newRuleForm.controls['businessUnit'].invalid && newRuleForm.controls['businessUnit'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-Customer-flex">
            <div>Customer ID</div>
            <div class="new-Customer-box">
                <p-dropdown [options]="customerIdOptions"  placeholder="Select" [style]="{width: '100%'}"
                    formControlName="customerIdCode"></p-dropdown>
                <div
                    *ngIf="newRuleForm.controls['customerIdCode'].invalid && newRuleForm.controls['customerIdCode'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-Customer-flex">
            <div>Territory ID</div>
            <div class="new-Customer-box">
                <p-dropdown [options]="territoryIdOptions" placeholder="Select" [style]="{width: '100%'}"
                    formControlName="territoryId"></p-dropdown>
                <div
                    *ngIf="newRuleForm.controls['territoryId'].invalid && newRuleForm.controls['territoryId'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-Customer-flex">
            <div>Cycle</div>
            <div class="new-Customer-box">
                <p-dropdown [options]="cycleOption"  placeholder="Select" [style]="{width: '100%'}"
                formControlName="cycle"></p-dropdown>                <div
                    *ngIf="newRuleForm.controls['cycle'].invalid && newRuleForm.controls['cycle'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-Customer-flex">
            <div>Start Date</div>
            <div class="new-Customer-box">
                <p-calendar  [showIcon]="true"    
                (onSelect)="handleDateOnchange($event)"
                [minDate]="endDate"
                formControlName="startDate"></p-calendar>
                <div
                    *ngIf="newRuleForm.controls['startDate'].invalid && newRuleForm.controls['startDate'].touched">
                    <small class="p-error">This field is required</small>
                </div>
                <div *ngIf="newRuleForm.get('startDate').hasError('pattern')">
                    <small class="p-error">This (',\,`,;) characters not allowed</small>
                </div>
            </div>
        </div>
        <div class="new-Customer-flex">
            <div>End Date</div>
            <div class="new-Customer-box">
                <p-calendar [showIcon]="true" [minDate]="endDate"  formControlName="EndDate"></p-calendar>
                <div
                    *ngIf="newRuleForm.controls['EndDate'].invalid && newRuleForm.controls['EndDate'].touched">
                    <small class="p-error">This field is required</small>
                </div>
                <div *ngIf="newRuleForm.get('EndDate').hasError('pattern')">
                    <small class="p-error">This (',\,`,;) characters not allowed</small>
                </div>
            </div>

        </div>
    </div>
    <div class="new-Customer-button">
        <button pButton type="button" label="Cancel" class="p-button-sm" class="p-button-text"
            (click)="cancelButtonHandler()"></button>
        <p-button label="Save" class="p-button-sm" type="submit" (click)="onSaveHandler()"></p-button>
    </div>
    <div *ngIf="loaderService.loaderState | async as loaderVisible" class="progress-spinner">
        <app-progress-spinner></app-progress-spinner>
    </div>
</div>