.tenant-container {
    padding: 1rem;

    .header-container {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        padding-bottom: 1.5rem;

        .header-content {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .header-text {
            font-size: large;
            letter-spacing: 3px;
            line-height: 37px;
            font-weight: 300;
        }

        .breadcrum {
            font-size: 0.8rem;
            line-height: 17px;
            color: #0052cc;
            display: flex;
            gap: 5px;
            align-items: center;
        }

        .connetions-text {
            font-size: 0.9rem;
            line-height: 17px;
            color: gray;
        }

        .new-tenant {
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 10px 23px;
            border-left: 1.3px solid lightgray;
            cursor: pointer;
        }

        .new-tenant-text {
            color: #0052cc;
        }


        .body-container {
            display: flex;
            gap: 15px;
        }

    }

    .table-header {
        background-color: var(--hm-primary-color) !important;
        color: #555 !important;

        .t-hd-txt {
            line-height: 1.313rem;
            color: #555555;
            font-size: 0.875rem;
            font-weight: 500;
            padding-top: .75rem;
        }

        .t-hd-svg {
            position: absolute;
            top: 2rem;
            left: 2rem;
        }
    }

    .edit-t-cell {
        display: flex;
        gap: 1rem;
    }

    .t-bd-txt {
        line-height: 1rem;
        color: #333333;
        font-size: 0.813rem;
        padding-left: 10px;
    }

    .t-type-cell,.t-crdby-cell{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 25ch;
    }

    .progress-spinner {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .toast-container {
        padding: 10px 5px;
        display: flex;
        gap: 1rem;
        justify-content: left;
        align-items: center;
        height: auto;
        width: 447px;
        padding-left: 1rem;

        .toast-desc {
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 0px;
            color: #FFFFFF;
        }
    }

    .bg-g {
        background-color: #12AA46;
    }

    .bg-r {
        background-color: red;
    }

    .bg-y {
        background-color: #d9a300;
    }



}



::ng-deep {

    .p-toast .p-toast-message .p-toast-message-content {
        padding: 0;

    }

    .p-datatable .p-datatable-thead>tr>th {
        padding: 0rem 0.75rem;
        height: 3rem;
    }

    .p-datatable .p-datatable-thead>tr>th {
        border: none;
    }

    .p-paginator .p-dropdown .p-dropdown-label {
        display: flex;
        align-items: center;
    }

    .p-datatable>.p-datatable-wrapper {
        overflow-x: auto !important;
    }

    .p-datatable-scrollable>.p-datatable-wrapper {
        overflow-y: hidden;
        min-height: 23rem;
    }

    .p-multiselect-items span.ng-star-inserted {
        text-overflow: ellipsis ellipsis;
        width: 25ch;
    }


}