<div class="tenant-container">
    <div class="header-container">
        <div class="header-content">
            <div class="svg">
                <app-tenant-svg></app-tenant-svg>
            </div>
            <div class="text-content-container">
                <div class="breadcrum">
                    Admin <i class="pi pi-angle-right" style="color: #0052cc; font-size: inherit"></i>
                    {{tab_label}} <i class="pi pi-angle-right" style="color: #0052cc; font-size: inherit"></i>
                </div>
                <div class="header-text">Tenants</div>
                <div class="connetions-text">{{ table_data?.length || '0' }} Tenants</div>
            </div>
        </div>
        <div class="new-tenant" (click)="newTenantHandler()">
            <div class="icon">
                <i class="pi pi-plus-circle" style="color: #0052cc; font-size: 1.688rem"></i>
            </div>
            <div class="new-tenant-text">New Tenant</div>
        </div>
    </div>
    <div class="tenant-body">
        <p-table
        [value]="table_data"
		[paginator]="true"
		[rows]="10"
		[alwaysShowPaginator]="true"
		[showCurrentPageReport]="true"
		currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
		[rowsPerPageOptions]="[5, 10, 25, 50]"
		[rowHover]="true"
		[scrollable]="true"
        [(first)]="tablePageNumber"
        >
        <ng-template pTemplate="header">
            <tr>
                <th class="table-header" style="min-width: 52px; cursor: pointer;">
                    <div class="t-hd-svg" ><app-t-filter-svg (click)="resetAll()"></app-t-filter-svg></div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Tenant Name</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Region</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Country</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Project</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Product Id</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Language</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Image</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Action</div>
                </th>
            </tr>
            <tr>
                <th class="table-header"></th>
                <th class="table-header">
                    <div class="t-input l-padd">
                        <app-prime-multi-select
                        [options]="uniqueValues?.[Column.tenantName]"
                        (changeEmitter)="filterChangeHandler($event,Column.tenantName)"
                        #tenantNameFilter
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        [options]="uniqueValues?.[Column.region]"
                        (changeEmitter)="filterChangeHandler($event,Column.region)"
                        #regionFilter

                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        [options]="uniqueValues?.[Column.country]"
                        (changeEmitter)="filterChangeHandler($event,Column.country)"
                        #countryFilter
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        [options]="uniqueValues?.[Column.project]"
                        (changeEmitter)="filterChangeHandler($event,Column.project)"
                        #projectFilter
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        [options]="uniqueValues?.[Column.productId]"
                        (changeEmitter)="filterChangeHandler($event,Column.productId)"
                        #productIdFilter
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        [options]="uniqueValues?.[Column.language]"    
                        (changeEmitter)="filterChangeHandler($event,Column.language)"
                         #languageFilter
                        ></app-prime-multi-select>
                    </div>
                </th>   
                    <th class="table-header"></th>
                    <th class="table-header"></th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                <tr>
                    <td></td>
                    <td>
                        <div class="t-bd-txt l-padd t-name-cell">
                            {{ data.TNANT_NM }}
                        </div>
                    </td>
                    <td>
                        <div class="t-bd-txt t-sts-cell">
                            {{ data.RGN_NM }}
                        </div>
                    </td>
                    <td>
                        <div class="t-bd-txt t-crdon-cell">
                            {{ data.CNTRY_NM }}
                        </div>
                    </td>
                    <td>
                        <div class="t-bd-txt t-crdby-cell"
                        [pTooltip]="data.PROD_ID" 
						 tooltipPosition="top"
						 [tooltipDisabled]="29 > data.PROD_ID?.length"
						 [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                        >
                            {{ data.PROJ_NM }}
                        </div>
                    </td>
                    <td>
                        <div
                         class="t-bd-txt t-type-cell"
                         [pTooltip]="data.PROD_ID" 
						 tooltipPosition="top"
						 [tooltipDisabled]="29 > data.PROD_ID?.length"
						 [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                         >
                            {{ data.PROD_ID }}
                        </div>
                    </td>
                    <td>
                        <div class="t-bd-txt t-comment-cell">
                            {{ data.LANG_NM }}
                        </div>
                    </td>
                      <td>
                        <!--  -->
                        <img [src]="'https://harmony-dev-files.s3.amazonaws.com/'+data.IMG_URL" alt="img" height="50px" width="50px">
                      </td>
                    <td>
                        <div class="edit-t-cell" >
                            <span style="cursor: pointer">
                                <app-pencil-i-svg (click)="editTenantHandler(data)"></app-pencil-i-svg>
                            </span>
                            <span style="cursor: pointer">
                                <app-delete-i-svg (click)="deleteHandler(data)"></app-delete-i-svg>
                            </span>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr >
                    <!-- <td [attr.colspan]="columns.length">No records found</td> -->
                    <td colspan="9">No records found</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    
    <div *ngIf="deletePopupModel">
		<app-delete-popup
			[deletePopupModel]="deletePopupModel"
			(deleteHandler)="deletePopupDeleteHandler()"
		></app-delete-popup>
	</div>
	<!-- greenToast -->
    <p-toast position="top-center" key="su" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div class="toast-container bg-g">
            <div class="icon">
              <i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
            </div>
            <div class="toast-desc">
              {{ message.detail }}
            </div>
          </div>
        </ng-template>
      </p-toast>
      	<!-- redToast -->
      <p-toast position="top-center" key="err" [baseZIndex]="5000">
		<ng-template let-message pTemplate="message">
			<div class="toast-container bg-r">
				<div class="icon">
					<i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
				</div>
				<div class="toast-desc">
					{{ message.detail }}
				</div>
			</div>
		</ng-template>
	</p-toast>
    <!-- yellow toast -->
	<p-toast position="top-center" key="wrn" [baseZIndex]="5000">
		<ng-template let-message pTemplate="message">
			<div class="toast-container bg-y">
				<div class="icon">
					<i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
				</div>
				<div class="toast-desc">
					{{ message.detail }}
				</div>
			</div>
		</ng-template>
	</p-toast>
    <div *ngIf="loaderService.loaderState | async as loaderVisible" class="progress-spinner">
        <app-progress-spinner></app-progress-spinner>
      </div>
</div>
