<div class="delete-i-container" style="cursor: pointer;">
    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="16" fill="none" viewBox="0 0 13 16">
        <path fill="#2A7CD9" d="M9.778 5.333v8.89H2.667v-8.89h7.11ZM8.444 0H4l-.889.889H0v1.778h12.444V.889h-3.11L8.443 0Zm3.112 3.556H.889v10.666c0 .978.8 1.778 1.778 1.778h7.11c.979 0 1.779-.8 1.779-1.778V3.556Z"/>
      </svg>
</div>