<div class="menu-svg-container">

  <div class="svg-item-container">
      <div >
          <!-- [attr.fill]="props.activeState ? '#000000' : '#0052cc' " -->

              <svg xmlns="http://www.w3.org/2000/svg" version="1.1"  width="30" height="30" viewBox="0 0 60 60"
xml:space="preserve" class=""><g><path d="M57 53h-1v-2a3 3 0 0 0-3-3H7a3 3 0 0 0-3 3v2H3a3 3 0 0 0-3 3v2a2 2 0 0 0 2 2h56a2 2 0 0 0 2-2v-2a3 3 0 0 0-3-3zM6 51a1 1 0 0 1 1-1h46a1 1 0 0 1 1 1v2H6zm-4 7v-2a1 1 0 0 1 1-1h54a1 1 0 0 1 1 1v2zM2 19h56a2.009 2.009 0 0 0 .941-3.78L30.94.235a2 2 0 0 0-1.881 0l-28 14.985A2.009 2.009 0 0 0 2 19zM30 2l28.014 15H58l-56-.016zM5 26v15c0 2.28 3.01 4 7 4s7-1.72 7-4V26c0-2.28-3.01-4-7-4s-7 1.72-7 4zm12 10c0 .815-1.948 2-5 2s-5-1.185-5-2v-2.147c1.542.8 3.263 1.195 5 1.147a10.239 10.239 0 0 0 5-1.147zm0-5c0 .815-1.948 2-5 2s-5-1.185-5-2v-2.147c1.542.8 3.263 1.195 5 1.147a10.239 10.239 0 0 0 5-1.147zm-5 12c-3.052 0-5-1.185-5-2v-2.147c1.542.8 3.263 1.195 5 1.147a10.239 10.239 0 0 0 5-1.147V41c0 .815-1.948 2-5 2zm5-17c0 .815-1.948 2-5 2s-5-1.185-5-2 1.948-2 5-2 5 1.185 5 2zM23 26v15c0 2.28 3.01 4 7 4s7-1.72 7-4V26c0-2.28-3.01-4-7-4s-7 1.72-7 4zm12 10c0 .815-1.948 2-5 2s-5-1.185-5-2v-2.147c1.542.8 3.263 1.195 5 1.147a10.239 10.239 0 0 0 5-1.147zm0-5c0 .815-1.948 2-5 2s-5-1.185-5-2v-2.147c1.542.8 3.263 1.195 5 1.147a10.239 10.239 0 0 0 5-1.147zm-5 12c-3.052 0-5-1.185-5-2v-2.147c1.542.8 3.263 1.195 5 1.147a10.239 10.239 0 0 0 5-1.147V41c0 .815-1.948 2-5 2zm5-17c0 .815-1.948 2-5 2s-5-1.185-5-2 1.948-2 5-2 5 1.185 5 2zM41 26v15c0 2.28 3.01 4 7 4s7-1.72 7-4V26c0-2.28-3.01-4-7-4s-7 1.72-7 4zm12 10c0 .815-1.948 2-5 2s-5-1.185-5-2v-2.147c1.542.8 3.263 1.195 5 1.147a10.239 10.239 0 0 0 5-1.147zm0-5c0 .815-1.948 2-5 2s-5-1.185-5-2v-2.147c1.542.8 3.263 1.195 5 1.147a10.239 10.239 0 0 0 5-1.147zm-5 12c-3.052 0-5-1.185-5-2v-2.147c1.542.8 3.263 1.195 5 1.147a10.239 10.239 0 0 0 5-1.147V41c0 .815-1.948 2-5 2zm5-17c0 .815-1.948 2-5 2s-5-1.185-5-2 1.948-2 5-2 5 1.185 5 2z"
[attr.fill]="props.activeState ? '#000000' : '#0052cc' " data-original="#000000"></path></g></svg>

      </div>
      <div class="svg-label" [ngClass]="{'active': props.activeState}">
          {{props.label}}
      </div>
  </div>


</div>
