
<div class="tab-view-container">
  <p-tabView (onChange)="handleChange($event)">
    <p-tabPanel
    [header]="item.count ? item.header + ' (' + item.count + ') ' : item.header "
    *ngFor="let item of tabviewData; let i = index"
    [selected]="i == 0"
    >
    </p-tabPanel>
    <ng-template pTemplate="content"></ng-template>
  </p-tabView>
  
</div>

