
.tab-view-container{

}

::ng-deep{
    .p-tabview .p-tabview-panels{
        background: none;
    }
    .p-tabview .p-tabview-nav li .p-tabview-nav-link{
        color: #2A7CD9;
        background: none;
    }
    // navigation
    .p-tabview .p-tabview-nav {
        background: none !important;
    }
    .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
        background: none;
    }
    .p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
        color:#2A7CD9;
    }
}
