<div class="wrap" (click)="toggleSubMenu()" [ngClass]="{ selectedMainMenu: expanded === true }">
	<div matTooltip="Vendors" matTooltipClass="menu-tooltip">
		<svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				[attr.fill]="color"
				d="M16 2V20H10V16.5H8V20H2V2H16ZM12 6H14V4H12V6ZM8 6H10V4H8V6ZM4 6H6V4H4V6ZM12 10H14V8H12V10ZM8 10H10V8H8V10ZM4 10H6V8H4V10ZM12 14H14V12H12V14ZM8 14H10V12H8V14ZM4 14H6V12H4V14ZM12 18H14V16H12V18ZM4 18H6V16H4V18ZM18 0H0V22H18V0Z"
			/>
		</svg>
	</div>

	<div style="padding-left: 0.6rem">Vendors</div>
	<div>
		<span style="display: grid; width: 100%; justify-content: flex-end">
			<img *ngIf="!expanded" src="/assets/images/svg/down-arrow.svg" width="10px" height="10px" alt="" />
			<img *ngIf="expanded" src="/assets/images/svg/up-arrow.svg" width="10px" height="10px" alt="" />
		</span>
	</div>
</div>

<div *ngIf="expanded && isMenuOpen">
	<div class="sub-menu" [ngClass]="{ selectedMenu: clickedItem === 'list-vendors' }" (click)="list()">List</div>
	<div class="sub-menu" [ngClass]="{ selectedMenu: clickedItem === 'vendor-payments' }" (click)="payments()">
		Payments
	</div>
	<div class="sub-menu" [ngClass]="{ selectedMenu: clickedItem === 'pending-payments' }" (click)="pendignPayments()">
		Pending Payments
	</div>
	<div class="sub-menu" [ngClass]="{ selectedMenu: clickedItem === 'vendor-statements' }" (click)="statements()">
		Statements
	</div>
</div>
