.data-profile-container {
  background-color: #f9f9f9;
  padding: 10px 33px 5rem;
  min-height: 100vh;
  width: 100%;

  .hdr-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 1rem;
    .left-content {
      display: flex;
      align-items: flex-start;
      gap: 1.25rem;
      padding-top: 1rem;
    }

    .breadcrum {
      font-size: 0.8rem;
      line-height: 17px;
      color: #0052cc;
      display: flex;
      gap: 5px;
      align-items: center;
    }
    .hdr-text {
      font-size: large;
      letter-spacing: 3px;
      line-height: 37px;
      font-weight: 300;
    }
    .rule-text {
      font-size: 0.9rem;
      line-height: 17px;
      color: gray;
    }
    .txt-content-container {
      border-right: 1.5px solid #e5e5e5;
      padding-right: 19px;
    }
  }

  .table-container {
    overflow-x: auto;
    .edit-t-cell {
      display: flex;
      justify-content: space-between;
      gap: 17px;
    }


    .t-hd-txt {
      line-height: 1.313rem;
      color: #555555;
      font-size: 0.875rem;
      font-weight: 500;
      padding-top: 0.75rem;
    }
    .t-bd-txt {
      line-height: 1.25rem;
      color: #333333;
      font-size: 0.875rem;
    }

    .t-input {
      padding: 0.5rem 0px;
    }
    .t-hd-svg {
      position: absolute;
      top: 32px;
      left: 23px;
    }

    .t-descr-cell {
      text-overflow: ellipsis;
      max-width: 20ch;
      white-space: nowrap;
      overflow: hidden;
    }
    .t-Error-cell {
      max-width: 60ch;
      white-space: nowrap;
    }


  }
}

/// table
.table-header {
  background-color: var(--hm-primary-color) !important;
  color: #555 !important;
}

.p-datatable .p-datatable-thead > tr > th {
  padding: 0rem 0.75rem;
}
.p-datatable .p-datatable-thead > tr > th {
  border: none;
}


.search-bar-container {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.search-bar {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-right: 3rem;
}

.progress-spinner {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adv-filter-dropdown {
  display: flex;
}

.check-box-display {
  display: flex;
  gap: 1rem;
}

.checkbox-container label {
  padding-left: 0.5rem;
}

.search-label {
  color: var(--href-text-color);
  cursor: pointer;
}

.popupModel-container{


  .content-container{
    padding: 2rem 2rem;
    margin: 2rem 2rem;
}

    .row-container{
      display: grid;
      grid-template-columns: 0.4fr 1fr;
      gap: 15px;
      align-items: center;
    }
    .label-text {
		display: flex;
		justify-content: flex-end;
		align-items: center;
    color: #555555;
		// margin-top: -1.375rem;
	}
  }

:host::ng-deep{
  .p-toast .p-toast-message .p-toast-message-content{
    padding: 0;

}
  .p-dialog .p-dialog-content {
			padding: 0px;
		}
		.p-dialog .p-dialog-footer {
			padding: 1rem;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			border-top: 1px solid lightgray;
		}
		.p-dialog .p-dialog-header {
			padding: 1rem;
			border-bottom: 1px solid lightgray;
		}
    .p-checkbox .p-checkbox-box{
      border: 2px solid #3F51CC;
    }
    // .p-menu .p-menuitem-link .p-menuitem-text:hover {
    //   color: #2A7CD9; /* Replace 'red' with the desired color value */
    // }
}

.full-width {
  width: 100%;
  }


  .toast-container{
    padding: 10px 5px;
    display: flex;
    gap: 1rem;
    justify-content: left;
    align-items: center;
    height: auto;
    width: 447px;
    padding-left: 1rem;

    .toast-desc{
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0px;
        color: #FFFFFF;
    }
}

.bg-g{
    background-color: #12AA46;
}
.bg-r{
    background-color: #cb2e13e8;
}
.bg-y{
    background-color: #d9a300;
}