<div class="data-profile-container">
  <div class="hdr-container">
    <div class="left-content">
      <div class="svg">
        <app-data-quality-rule></app-data-quality-rule>
      </div>
      <div class="txt-content-container">
        <div class="breadcrum">
          Data Engineering
          <i
            class="pi pi-angle-right"
            style="color: #0052cc; font-size: inherit"
          ></i>
          {{tab_label}} <i class="pi pi-angle-right" style="color: #0052cc; font-size: inherit"></i>
        </div>
        <div class="hdr-text">Data Catalog</div>
        <div class="row-count"><span>{{table_data_copy?.length || 0}}</span><span> Documents</span></div>
      </div>
      <div class="search-bar-container">
        <div class="search-bar">
          <div>
            <span class="p-input-icon-left">

              <p-autoComplete
                [suggestions]="autocompleteResults"
                (completeMethod)="search()"
                [placeholder]="'search data sources...'"
                [size]="60"
                [style]="{ border: '1px solid #2A7CD9', borderRadius: '5px' }"
                [(ngModel)]="autocompleteText"
                [(first)]="tablePageNumber"
                class="p-inputtext-sm"
              ></p-autoComplete>
            </span>
            <span style="padding-left: 1.5rem"
              ><button pButton pRipple type="button" label="Search" class="p-button-outlined"  styleClass="p-button-sm"
              (click)="search()"
              ></button></span>
            <span style="padding-left: 1.5rem"
              >
              <button pButton pRipple type="button" label="Reset" class="p-button-outlined"  styleClass="p-button-sm"></button>
              </span>
          </div>

            <div (click)="advanceSearch()" *ngIf="!this.openAdvanceSearch">
              <span class="search-label">Go to advance search</span></div>

          <div class="check-box-display" *ngIf="this.openAdvanceSearch">
            <div class="checkbox-container">
              <p-checkbox
                [(ngModel)]="searchCheckBox.tag"
                [binary]="true"
                inputId="binary"
              ></p-checkbox>
              <label for="binary">Tags</label>
            </div>

            <div class="checkbox-container">
              <p-checkbox
                [(ngModel)]="searchCheckBox.description"
                [binary]="true"
                inputId="binary"
              ></p-checkbox>
              <label for="binary">Description</label>
            </div>

            <div class="checkbox-container">
              <p-checkbox
                [(ngModel)]="searchCheckBox.field"
                [binary]="true"
                inputId="binary"
              ></p-checkbox>
              <label for="binary">Field</label>
            </div>

            <div class="checkbox-container">
              <p-checkbox
                [(ngModel)]="searchCheckBox.entity"
                [binary]="true"
                inputId="binary"
              ></p-checkbox>
              <label for="binary">Entity</label>
            </div>
          </div>
          <div class="adv-filter-dropdown" *ngIf="this.openAdvanceSearch">
            <div>
              <div style="align-self: center; padding-right: 2rem">Data Zone</div>
              <app-prime-single-select
                [control]="getControlByName('data_zone')"
                [options]="dataZoneOptions"
                (changeEvent)="changeEventHandler('datazone')"
              ></app-prime-single-select>
            </div>

            <div style="padding: 0 2rem">
              <div>Owner</div>
              <app-prime-single-select
                [control]="getControlByName('data_provider')"
                [options]="[]"
                (changeEvent)="changeEventHandler('dataprovider')"
              ></app-prime-single-select>
            </div>
          </div>
          <div
          (click)="advanceSearch()" *ngIf="this.openAdvanceSearch"
          > <span class="search-label">Hide Advance Search</span></div
        >
        </div>
      </div>
    </div>
  </div>

  <!-- table -->
  <div
    class="table-container"
    [hidden]="!table_data_copy?.length"
  >
    <p-table
      [value]="table_data_copy"
        [paginator]="true"
        [rows]="10"
        [alwaysShowPaginator]="true"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [rowHover]="true"
        [scrollable]="true"
        [(first)]="tablePageNumber"
    >
      <ng-template pTemplate="header">
        <tr>
          <th
            class="table-header"
            style="min-width: 52px; cursor: pointer"
          >
            <div class="t-hd-svg"><app-t-filter-svg (click)="resetAll()"></app-t-filter-svg></div>

          </th>
          <th class="table-header">
            <div class="t-hd-txt">Name</div>
          </th>
          <th class="table-header">
            <div class="t-hd-txt">Owner</div>
          </th>
          <th class="table-header">
            <div class="t-hd-txt">Tag</div>
          </th>
          <th class="table-header">
            <div class="t-hd-txt">Data Zone</div>
          </th>
          <th class="table-header">
            <div class="t-hd-txt">Type</div>
          </th>
          <th class="table-header">
            <div class="t-hd-txt">Description</div>
          </th>
          <th class="table-header">
            <div class="t-hd-txt">Data Added</div>
          </th>
          <th class="table-header">
            <div class="t-hd-txt">Action</div>
          </th>
        </tr>
        <tr>
          <th class="table-header">
            <div class="t-input"></div>
          </th>
          <th class="table-header">
            <div class="t-input">
              <app-prime-multi-select
                #name
                [options]="uniqueValues?.[COLUMNS.name]"
                (changeEmitter)="multiselectOnchange($event,COLUMNS.name)"
                ></app-prime-multi-select>
            </div>
          </th>
          <th class="table-header">
            <div class="t-input">
               <app-prime-multi-select
                #owner
                [options]="uniqueValues?.[COLUMNS.owner]"
                (changeEmitter)="multiselectOnchange($event,COLUMNS.owner)"
                ></app-prime-multi-select>
            </div>
          </th>
          <th class="table-header">
            <div class="t-input">
               <app-prime-multi-select
                #tag
                [options]="uniqueValues?.[COLUMNS.tag]"
                (changeEmitter)="multiselectOnchange($event,COLUMNS.tag)"
                ></app-prime-multi-select>
            </div>
          </th>
          <th class="table-header">
            <div class="t-input">
               <app-prime-multi-select
                #dataZone
                [options]="uniqueValues?.[COLUMNS.dataZone]"
                (changeEmitter)="multiselectOnchange($event,COLUMNS.dataZone)"
                ></app-prime-multi-select>
            </div>
          </th>
          <th class="table-header">
            <div class="t-input">
               <app-prime-multi-select
                #type
                [options]="uniqueValues?.[COLUMNS.type]"
                (changeEmitter)="multiselectOnchange($event,COLUMNS.type)"
                ></app-prime-multi-select>
            </div>
          </th>
          <th class="table-header">
            <div class="t-input"></div>
          </th>
          <th class="table-header">
            <div class="t-input">
              <app-prime-multi-select
              #addedDate
              [options]="uniqueValues?.[COLUMNS.addedDate]"
              (changeEmitter)="multiselectOnchange($event,COLUMNS.addedDate)"
              ></app-prime-multi-select>
            </div>
          </th>
          <th class="table-header">
            <div class="t-input"></div>
          </th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-data
        let-rowIndex="rowIndex"
      >
        <tr>
          <td>
            <div class="t-bd-txt"></div>
          </td>
          <td>
            <div class="t-bd-txt">
              {{ data.NAME }}
            </div>
          </td>
          <td>
            <div class="t-bd-txt">
              {{ data.OWNER }}
            </div>
          </td>
          <td>
            <div class="t-bd-txt">
              {{ data.TAGS }}
            </div>
          </td>
          <td>
            <div class="t-bd-txt">
              {{ data.DATAZONE }}
            </div>
          </td>
          <td>
            <div class="t-bd-txt">
              {{ data.TYPE }}
            </div>
          </td>
          <td>
            <div class="t-bd-txt t-descr-cell">
              {{ data.DESCRIPTION }}
            </div>
          </td>
          <td>
            <div class="t-bd-txt">
              {{ data.DATE_ADDED }}
            </div>
          </td>
          <td>
            <div class="t-bd-txt edit-t-cell" >
              <span style="cursor:pointer" (click)="menu.toggle($event)" (click)="setCurrentDataCatalouge(data)"><img src="../../../../assets/edit-icon.svg"/></span>
            
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="emptymessage"
        let-columns
      >
        <tr>
          <!-- <td [attr.colspan]="columns.length">No records found</td> -->
          <td colspan="8">
            <div class="t-Error-cell">No records found</div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div
    *ngIf="loader"
    class="progress-spinner"
  >
    <app-progress-spinner></app-progress-spinner>
  </div>
</div>

<p-menu #menu [model]="menuItems" [popup]="true" styleClass="p-menuitem-text"></p-menu>


<!-- add tag popup -->
<div class="popupModel-container">
  <p-dialog
      [header]="'Add Tag'"
      [(visible)]="tagPopupFlag"
      [modal]="true"
      [style]="{ width: '40vw' }"
      [baseZIndex]="10000"
      [draggable]="false"
      [resizable]="false"
    >
    <div class="content-container">
      <div class="row-container"> 
        <div class="label-text">
          Add Tag
        </div>
        <div class="single-selector" >
          <input
            type="text"
            pInputText
            [(ngModel)]="tagInput"
            placeholder="Enter tag separated by comma"
            class="full-width p-inputtext-sm"
          />
        </div>
      </div>
    </div>
    

<ng-template pTemplate="footer">
        <app-non-outlined-button [btnprops]="cancelBtnProps"
        (click)="tagRejectHAndler()"
        ></app-non-outlined-button>
        <app-primary-button  
        (click)="tagAddHandler()"
        [btnProps]="saveBtnProps"
        [disabled]="!tagInput?.trim()"
        >
        <!-- [disabled]="!dropdownData?.formControl" -->
        </app-primary-button>
      </ng-template>
  </p-dialog>
  <p-dialog
      [header]="'Notify on Refresh'"
      [(visible)]="notifyPopupFlag"
      [modal]="true"
      [style]="{ width: '40vw' }"
      [baseZIndex]="10000"
      [draggable]="false"
      [resizable]="false"
    > 
  <div class="content-container">
    <div class="txt">
      Notification will be sent when {{currentCatalog.NAME}} is refreshed
    </div>
  </div>
<ng-template pTemplate="footer">
        <app-primary-button  
        (click)="notifyClickHandler()"
        [btnProps]="{label: 'Ok',click : ''}">
        </app-primary-button>
      </ng-template>
  </p-dialog>
</div>

<p-toast position="top-center" key="suss" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="toast-container bg-g">
      <div class="icon">
        <i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
      </div>
      <div class="toast-desc">
        {{ message.detail }}
      </div>
    </div>
  </ng-template>
</p-toast>
<!-- redToast -->
<p-toast position="top-center" key="err" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="toast-container bg-r">
      <div class="icon">
        <i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
      </div>
      <div class="toast-desc">
        {{ message.detail }}
      </div>
    </div>
  </ng-template>
</p-toast>
<!-- yellow toast -->
<p-toast position="top-center" key="wrn" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="toast-container bg-y">
      <div class="icon">
        <i class="pi pi-exclamation-circle" style="color:#ffffff"></i>
      </div>
      <div class="toast-desc">
        {{ message.detail }}
      </div>
    </div>
  </ng-template>
</p-toast>




