<div class="new-customer-body" [formGroup]="newCustomerForm">
    <div class="new-customer-body-2">
        <div class="new-customer-flex">
            <div>Rule Name</div>
            <div class="new-customer-box">
                <input pInputText class="p-inputtext-sm" [style]="{width: '100%'}" formControlName="ruleName" />
                <div
                    *ngIf="newCustomerForm.controls['ruleName'].invalid && newCustomerForm.controls['ruleName'].touched">
                    <small class="p-error">This field is required</small>
                </div>
                <div *ngIf="newCustomerForm.get('ruleName').hasError('pattern')">
                    <small class="p-error">This (',\,`,;) characters not allowed</small>
                </div>
            </div>
        </div>
        <div class="new-customer-flex">
            <div>Business Unit</div>
            <div class="new-customer-box">
                <p-dropdown [options]="businessUnitOptions"  placeholder="Select" [style]="{width: '100%'}"
                    formControlName="businessUnit"></p-dropdown>
                <div
                    *ngIf="newCustomerForm.controls['businessUnit'].invalid && newCustomerForm.controls['businessUnit'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-customer-flex">
            <div>Business Process</div>
            <div class="new-customer-box">
                <p-dropdown [options]="businessProcessOptions"  placeholder="Select"
                    [style]="{width: '100%'}" formControlName="businessProcess"></p-dropdown>
                <div
                    *ngIf="newCustomerForm.controls['businessProcess'].invalid && newCustomerForm.controls['businessProcess'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-customer-flex">
            <div>Customer Type</div>
            <div class="new-customer-box">
                <p-dropdown [options]="customerTypeOption"  placeholder="Select" [style]="{width: '100%'}"
                    formControlName="customerType"></p-dropdown>
                <div
                    *ngIf="newCustomerForm.controls['customerType'].invalid && newCustomerForm.controls['customerType'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-customer-flex">
            <div>Customer ID</div>
            <div class="new-customer-box">
                <p-dropdown [options]="customerIdOption"  placeholder="Select" [style]="{width: '100%'}"
                    formControlName="CustomerID"></p-dropdown>
                <div
                    *ngIf="newCustomerForm.controls['CustomerID'].invalid && newCustomerForm.controls['CustomerID'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-customer-flex">
            <div>Rule Type</div>
            <div class="new-customer-box">
                <p-dropdown [options]="ruleTypeOption"  placeholder="Select"
                    [style]="{width: '100%'}" formControlName="ruleType"></p-dropdown>
                <div
                    *ngIf="newCustomerForm.controls['ruleType'].invalid && newCustomerForm.controls['ruleType'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-customer-flex">
            <div>Old Value</div>
            <div class="new-customer-box">
                <input pInputText class="p-inputtext-sm"  [style]="{width: '100%'}" formControlName="oldValue" />
                <div
                    *ngIf="newCustomerForm.controls['oldValue'].invalid && newCustomerForm.controls['oldValue'].touched">
                    <small class="p-error">This field is required</small>
                </div>
                <div *ngIf="newCustomerForm.get('oldValue').hasError('pattern')">
                    <small class="p-error">This (',\,`,;) characters not allowed</small>
                </div>
            </div>
        </div>
        <div class="new-customer-flex">
            <div>New Value</div>
            <div class="new-customer-box">
                <input pInputText class="p-inputtext-sm" [style]="{width: '100%'}" formControlName="newValue" />
                <div
                    *ngIf="newCustomerForm.controls['newValue'].invalid && newCustomerForm.controls['newValue'].touched">
                    <small class="p-error">This field is required</small>
                </div>
                <div *ngIf="newCustomerForm.get('newValue').hasError('pattern')">
                    <small class="p-error">This (',\,`,;) characters not allowed</small>
                </div>
            </div>
        </div>
        <div class="new-customer-flex">
            <div>Start Date</div>
            <div class="new-customer-box">
                <p-calendar  [showIcon]="true" [minDate]="currentDate"  (onSelect)="handleDateOnchange($event)" formControlName="startDate"></p-calendar>
                <div
                    *ngIf="newCustomerForm.controls['startDate'].invalid && newCustomerForm.controls['startDate'].touched">
                    <small class="p-error">This field is required</small>
                </div>
                <div *ngIf="newCustomerForm.get('startDate').hasError('pattern')">
                    <small class="p-error">This (',\,`,;) characters not allowed</small>
                </div>
            </div>
        </div>
        <div class="new-customer-flex">
            <div>End Date</div>
            <div class="new-customer-box">
                <p-calendar   [minDate]="endDate"  [showIcon]="true" formControlName="EndDate"></p-calendar>
                <div
                    *ngIf="newCustomerForm.controls['EndDate'].invalid && newCustomerForm.controls['EndDate'].touched">
                    <small class="p-error">This field is required</small>
                </div>
                <div *ngIf="newCustomerForm.get('EndDate').hasError('pattern')">
                    <small class="p-error">This (',\,`,;) characters not allowed</small>
                </div>
            </div>

        </div>
    </div>
    <div class="new-customer-button">
        <button pButton type="button" label="Cancel" class="p-button-sm" class="p-button-text"
            (click)="cancelButtonHandler()"></button>
        <p-button label="Save" class="p-button-sm" type="submit" (click)="onSaveHandler()"></p-button>
    </div>
    <div *ngIf="loaderService.loaderState | async as loaderVisible" class="progress-spinner">
        <app-progress-spinner></app-progress-spinner>
    </div>
</div>