
.source-connector-page{
    background-color: #F9F9F9;
    padding: 10px 33px 5rem;
    min-height: 100vh;
    width: 100%;
    .header-container{
        display: flex;
        gap: 23px;
        align-items: center;
        padding-bottom: 1.5rem;

        .header-content{

            display: flex;
            align-items: center;
            gap: 10px;
        }

        .header-text{
            font-size: large;
            letter-spacing: 3px;
            line-height: 37px;
            font-weight: 300;
        }
        .breadcrum{
            font-size: 0.8rem;
            line-height: 17px;
            color: #0052cc;
            display: flex;
            gap: 5px;
            align-items: center;
        }
        .connetions-text{
            font-size: 0.9rem;
            line-height: 17px;
            color: gray;
        }

        .new-connector{
            display: flex;
            gap:10px;
            align-items: center;
            padding: 10px 23px;
            border-left: 1.3px solid lightgray;
            cursor: pointer;
        }
        .new-connector-text{
                color: #0052cc;
        }


        .body-container{
            display: flex;
            gap: 15px;
        }
        .svg{

        }
    }
    .body-container{

        .data-handler{
            display: flex;
            gap: 1rem;
      
        }
        
            .table-container{
                overflow-x: auto;
                .edit-t-cell{
                    display: flex;
                    justify-content: space-between;
                     gap: 17px;
                }
            
                // .text-ellipsis{
                //     width: 159.83px;
                //     text-overflow: ellipsis;
                // }
            
                .hd-container{
                  display: flex;
                  flex-direction: column;
                  // gap: 5px
                }
                .t-hd-txt{
                  line-height: 1.313rem;
                  color: #555555;
                  font-size: 0.875rem;
                  font-weight: 500;
                  padding-top: .75rem;
                }
                .t-bd-txt{
                  line-height: 1rem;
                  color: #333333;
                  font-size: 0.813rem;
                  padding-left: 10px;
                }   

                .t-input{
                    padding: 0.5rem 0px;
                }
                .t-name-cell{
                    text-overflow: ellipsis;
                    width: 26ch;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .t-sts-cell{
                    text-overflow: ellipsis;
                    width: 17ch;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .t-crdon-cell{
                    text-overflow: ellipsis;
                    width: 17ch;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .t-crdby-cell{
                    text-overflow: ellipsis;
                    width: 17ch;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .t-type-cell{
                    text-overflow: ellipsis;
                    width: 18ch;
                    white-space: nowrap;
                    overflow: hidden;
                }

                .t-comment-cell{
                    text-overflow: ellipsis;
                    width: 25ch;
                    white-space: nowrap;
                    overflow: hidden;
                }

                .l-padd{
                    padding-left: 1rem;
                }
            }
            
            
            
            
            .table-header {
              background-color: var(--hm-primary-color) !important; color: #555 !important;
            }
            .table-sub-hdr{
                background-color:  var(--hm-secondary-color) !important;
            }
            
            

    
        .empty-handler{
            display: flex;
            justify-content: center;

            .new-connection-container{
                display: flex;
                flex-direction: column;
                gap: 0.625rem;
                padding: 2.25rem 0.625rem;
                border-bottom: 1px dashed lightgray;
            }

            .help-text{
                color: gray;
                padding: 10px 10px;
                a{
                    color: #0052cc;
                }
            }
        }
        .new-connector{
            display: flex;
            gap:10px;
            align-items: center;
            padding: 10px 23px;
            cursor: pointer;
            // border-left: 1.3px solid lightgray;

        }

        .new-connector-text{
                color: #0052cc;
        }
    }
    .progress-spinner{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .toast-container{
        padding: 10px 5px;
        display: flex;
        gap: 1rem;
        justify-content: left;
        align-items: center;
        height: auto;
        width: 447px;
        padding-left: 1rem;

        .toast-desc{
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 0px;
            color: #FFFFFF;
        }
    }

    .bg-g{
        background-color: #12AA46;
    }
    .bg-r{
        background-color: #cb2e13e8;
    }
    .bg-y{
        background-color: #d9a300;
    }
}


::ng-deep {

    .p-toast .p-toast-message .p-toast-message-content{
        padding: 0;

    }
    
    .p-datatable .p-datatable-thead > tr > th{
        padding:0rem 0.75rem;
    }
    .p-datatable .p-datatable-thead > tr > th{
        border: none;
    }
    .p-paginator .p-dropdown .p-dropdown-label {
        display: flex;
        align-items: center;
    }
    .p-datatable>.p-datatable-wrapper{
        overflow-x: auto !important;
    }
    .p-datatable-scrollable>.p-datatable-wrapper{
        overflow-y: hidden;
        min-height: 23rem;
    }

}


