<div class="source-connector-page">
	<div class="header-container">
		<div class="header-content">
			<div class="svg">
				<app-source-connector-svg></app-source-connector-svg>
			</div>
			<div class="text-content-container">
				<div class="breadcrum">
					Source Configuration <i class="pi pi-angle-right" style="color: #0052cc; font-size: inherit"></i>
				</div>
				<div class="header-text">Source Connector</div>
				<div class="connetions-text">{{ table_data_copy?.length || '0' }} connections</div>
			</div>
		</div>
		<div class="new-connector" (click)="handleNewConnectionClick()">
			<div class="icon">
				<i class="pi pi-plus-circle" style="color: #0052cc; font-size: 1.688rem"></i>
			</div>
			<div class="new-connector-text">New Connector</div>
		</div>
	</div>
	<div class="body-container">
		<!--  -->
		<div class="data-handler" *ngIf="connectionTypeFilterOptions">
			<app-ds-filter 
			#dsFilterComponent
			[sc_table_filter_active]="sc_table_filter_active"
				[props]="connectionTypeFilterOptions"
				(checkboxChangedEmitter)="mainFilterOnchange($event)"
				(resetEmitter)="resetAll()"
			></app-ds-filter>
			<div class="table-container">
				<p-table
					[value]="table_data_copy"
					[paginator]="true"
					[rows]="10"
					[alwaysShowPaginator]="true"
					[showCurrentPageReport]="true"
					currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
					[rowsPerPageOptions]="[5, 10, 25, 50]"
					[rowHover]="true"
					[scrollable]="true"
					[(first)]="tablePageCount"
				>
					<ng-template pTemplate="header">
						<tr>
							<th class="table-header">
								<div class="t-hd-txt l-padd">Name</div>
							</th>
							<th class="table-header">
								<div class="t-hd-txt">Status</div>
							</th>
							<th class="table-header">
								<div class="t-hd-txt">Created On</div>
							</th>
							<th class="table-header">
								<div class="t-hd-txt">Created By</div>
							</th>
							<th class="table-header">
								<div class="t-hd-txt">Type</div>
							</th>
							<th class="table-header">
								<div class="t-hd-txt">Comments</div>
							</th>
							<th class="table-header">
								<div class="t-hd-txt">Actions</div>
							</th>
						</tr>
						<tr>
							<th class="table-header">
								<div class="t-input l-padd">
									<app-prime-multi-select
										#connectionNameFilter
										[options]="uniqueValues?.[COLUMNS.name]"
										(changeEmitter)="changeHandler($event, COLUMNS.name)"
									></app-prime-multi-select>
								</div>
							</th>
							<th class="table-header">
								<div class="t-input">
									<app-prime-multi-select
										#connectionStatusFilter
										[options]="uniqueValues?.[COLUMNS.status]"
										(changeEmitter)="changeHandler($event, COLUMNS.status)"
									></app-prime-multi-select>
								</div>
							</th>
							<th class="table-header">
								<div class="t-input">
									<app-prime-multi-select
										#createdOnFilter
										[options]="uniqueValues?.[COLUMNS.creatdDate]"
										(changeEmitter)="changeHandler($event, COLUMNS.creatdDate)"
									></app-prime-multi-select>
								</div>
							</th>
							<th class="table-header">
								<div class="t-input">
									<app-prime-multi-select
										#createdByFilter
										[options]="uniqueValues?.[COLUMNS.creatdBy]"
										(changeEmitter)="changeHandler($event, COLUMNS.creatdBy)"
									></app-prime-multi-select>
								</div>
							</th>
							<th class="table-header"></th>
							<th class="table-header"></th>
							<th class="table-header"></th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
						<tr>
							<td>
								<div class="t-bd-txt l-padd t-name-cell">
									{{ data.CONNECTION_NAME }}
								</div>
							</td>
							<td>
								<div class="t-bd-txt t-sts-cell">
									{{ data.CONNECTION_STATUS }}
								</div>
							</td>
							<td>
								<div class="t-bd-txt t-crdon-cell">
									{{ data.CREATD_DT }}
								</div>
							</td>
							<td>
								<div class="t-bd-txt t-crdby-cell">
									{{ data.CREATD_BY }}
								</div>
							</td>
							<td>
								<div class="t-bd-txt t-type-cell">
									{{ data.CONNECTION_TYPE }}
								</div>
							</td>
							<td>
								<div class="t-bd-txt t-comment-cell"
								[pTooltip]="data.COMMENTS" 
								tooltipPosition="top"
								[tooltipDisabled]="29 > data.COMMENTS?.length"
								[autoHide]="true" [showDelay]="200" [hideDelay]="200" 
								>
									{{ data.COMMENTS }}
								</div>
							</td>

							<td>
								<div class="edit-t-cell">
									<span style="cursor: pointer" (click)="editHandler(data)">
										<app-pencil-i-svg></app-pencil-i-svg>
									</span>
									<span style="cursor: pointer" (click)="deleteHandler(data)">
										<app-delete-i-svg></app-delete-i-svg>
									</span>
								</div>
							</td>
						</tr>
					</ng-template>
					<ng-template pTemplate="emptymessage" let-columns>
						<tr >
							<!-- <td [attr.colspan]="columns.length">No records found</td> -->
							<td colspan="7">No records found</td>
						</tr>
					</ng-template>
				</p-table>
			</div>
		</div>
		<div class="empty-handler" *ngIf="table_data_orig?.length == 0">
			<div>
				<div class="new-connection-container">
					<div class="text">Let’s start by creating a new connection</div>
					<div class="new-connector" (click)="handleNewConnectionClick()">
						<div class="icon">
							<i class="pi pi-plus-circle" style="color: #0052cc; font-size: 1.688rem"></i>
						</div>
						<div class="new-connector-text">New Connector</div>
					</div>
				</div>
				<div class="help-text">Need some help? <a>Read our help docs.</a></div>
			</div>
		</div>
	</div>

	<div *ngIf="popupModelData?.displayModal">
		<app-popup-model
			[popupModelData]="popupModelData"
			(submitResoponse)="editPopupSubmitHandler()"
			(cancelResoponse)="editPopupCancelHandler()"
		></app-popup-model>
	</div>

	<div *ngIf="deletePopupModel">
		<app-delete-popup
			[deletePopupModel]="deletePopupModel"
			(deleteHandler)="deletePopupDeleteHandler()"
		></app-delete-popup>
	</div>

	<!-- greenToast -->
	<p-toast position="top-center" key="su" [baseZIndex]="5000">
		<ng-template let-message pTemplate="message">
			<div class="toast-container bg-g">
				<div class="icon">
					<i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
				</div>
				<div class="toast-desc">
					{{ message.detail }}
				</div>
			</div>
		</ng-template>
	</p-toast>
	<!-- redToast -->
	<p-toast position="top-center" key="err" [baseZIndex]="5000">
		<ng-template let-message pTemplate="message">
			<div class="toast-container bg-r">
				<div class="icon">
					<i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
				</div>
				<div class="toast-desc">
					{{ message.detail }}
				</div>
			</div>
		</ng-template>
	</p-toast>
	<!-- yellow toast -->
	<p-toast position="top-center" key="wrn" [baseZIndex]="5000">
		<ng-template let-message pTemplate="message">
			<div class="toast-container bg-y">
				<div class="icon">
					<i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
				</div>
				<div class="toast-desc">
					{{ message.detail }}
				</div>
			</div>
		</ng-template>
	</p-toast>
	<!-- (loaderService.loaderState | async) as loaderVisible || -->
	<div *ngIf="loaderService.loaderState | async as loaderVisible" class="progress-spinner">
		<app-progress-spinner></app-progress-spinner>
	</div>
</div>
