.wrap {
	display: grid;
	grid-template-columns: 24px 1fr;
	padding: 0.4rem 0.5rem 0.4rem 1.2rem;
	align-items: center;
}

.wrap:hover {
	//background-color: #d1caca;
}

#Path_7587 .cls-2 {
	fill: #707070;
}
#Path_7587 .cls-2:hover {
	fill: red !important;
}

path:hover {
	fill: #222;
}
