<!-- <div class="wrap" (click)="route()" [ngClass]="{ selectedMainMenu: expanded === true }">
	<div matTooltip="Dashboard" matTooltipClass="menu-tooltip">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
			<path fill="none" d="M0 0h24v24H0V0z" />
			<g id="Path_7587" data-name="Path 7587">
				<path
					[attr.fill]="color"
					d="M4 13h6c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v8c0 .55.45 1 1 1zm0 8h6c.55 0 1-.45 1-1v-4c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v4c0 .55.45 1 1 1zm10 0h6c.55 0 1-.45 1-1v-8c0-.55-.45-1-1-1h-6c-.55 0-1 .45-1 1v8c0 .55.45 1 1 1zM13 4v4c0 .55.45 1 1 1h6c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1h-6c-.55 0-1 .45-1 1z"
				/>
			</g>
		</svg>
	</div>

	<div style="padding-left: 0.6rem">Dashboard 1</div>
</div> -->
