.specialty-container{
    display: grid;
    grid-gap: 0.5rem;
    overflow-x: auto;
}
:host  ::ng-deep{
    .p-tabview .p-tabview-panels{
        background: none;
    }
    .p-tabview .p-tabview-nav li .p-tabview-nav-link{
        color: #2A7CD9;
        background: none;
        font-weight: 1000;
    }
    .p-tabview .p-tabview-nav {
        background-color: #EAEAEA;

    }
    .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
        background: none;
        font-weight: 800;
    }
    .p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
        color:#2A7CD9;
    }
}