<div class="specialty-container">
    <p-tabView (onChange)="setCurrentTab($event)">
        <p-tabPanel
        [header]="tab"
        *ngFor="let tab of this.tabs; let i = index"
        [selected]="i == 0"
        >
        </p-tabPanel>
        </p-tabView>
        <div class="business-rule-button">
            <button pButton type="button" label="Export"
            class="p-button-outlined" (click)="exportExcel()"></button>
         </div>
         <div *ngIf="currentTab=='Specialty Group Map'">
            <app-group-map (Data)="handleData($event)" [savedData]="savedData"></app-group-map>
         </div>
         <div *ngIf="currentTab=='Specialty Update'">
            <app-specialty-update (Data)="handleData($event)" [savedData]="savedData"></app-specialty-update>
         </div>
         <div *ngIf="currentTab=='Specialty Inclusion'">
            <app-specialty-inclusion (Data)="handleData($event)" [savedData]="savedData"></app-specialty-inclusion>
         </div>
</div>