 

 <div class="pencil-container-svg">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16">
        <path fill="#2A7CD9" d="M0 12.667V16h3.333l9.83-9.83L9.83 2.837 0 12.667Zm15.74-9.074a.885.885 0 0 0 0-1.253L13.66.26a.886.886 0 0 0-1.253 0l-1.626 1.626 3.333 3.333 1.626-1.626Z"/>
      </svg>
 </div>