<div class="new-group-body" [formGroup]="newRuleForm">
    <div class="new-group-body-2">
        <div class="new-group-flex">
            <div>Rule Name</div>
            <div class="new-group-box">
                <input pInputText class="p-inputtext-sm" [style]="{width: '100%'}" formControlName="ruleName" />
                <div
                    *ngIf="newRuleForm.controls['ruleName'].invalid && newRuleForm.controls['ruleName'].touched">
                    <small class="p-error">This field is required</small>
                </div>
                <div *ngIf="newRuleForm.get('ruleName').hasError('pattern')">
                    <small class="p-error">This (',\,`,;) characters not allowed</small>
                </div>
            </div>
        </div>
        <div class="new-group-flex">
            <div>Business Unit</div>
            <div class="new-group-box">
                <p-dropdown [options]="businessUnitOptions"  placeholder="Select" [style]="{width: '100%'}"
                    formControlName="businessUnit"></p-dropdown>
                <div
                    *ngIf="newRuleForm.controls['businessUnit'].invalid && newRuleForm.controls['businessUnit'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-group-flex">
            <div>Business Process</div>
            <div class="new-group-box">
                <p-dropdown [options]="businessProcessOption" placeholder="Select" [style]="{width: '100%'}"
                    formControlName="businessProcess"></p-dropdown>
                <div
                    *ngIf="newRuleForm.controls['businessProcess'].invalid && newRuleForm.controls['businessProcess'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-group-flex">
            <div>Specialty Group</div>
            <div class="new-group-box">
                <p-dropdown [options]="specialtyGroupOption"  placeholder="Select" [style]="{width: '100%'}"
                    formControlName="specialtyGroup"></p-dropdown>
                <div
                    *ngIf="newRuleForm.controls['specialtyGroup'].invalid && newRuleForm.controls['specialtyGroup'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-group-flex">
            <div>Specialty Code</div>
            <div class="new-group-box">
                <p-dropdown [options]="specialtyCodeOption" placeholder="Select" [style]="{width: '100%'}"
                    formControlName="specialtyCode"></p-dropdown>
                <div
                    *ngIf="newRuleForm.controls['specialtyCode'].invalid && newRuleForm.controls['specialtyCode'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-group-flex">
            <div>Rule Type</div>
            <div class="new-group-box">
                <p-dropdown [options]="ruleTypeOption"  placeholder="Select" [style]="{width: '100%'}"
                formControlName="ruleType"></p-dropdown>                <div
                    *ngIf="newRuleForm.controls['ruleType'].invalid && newRuleForm.controls['ruleType'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-group-flex">
            <div>Functional Area</div>
            <div class="new-group-box">
                <p-dropdown [options]="functionalOption"  placeholder="Select"
                    [style]="{width: '100%'}" formControlName="functionalArea"></p-dropdown>
                <div
                    *ngIf="newRuleForm.controls['functionalArea'].invalid && newRuleForm.controls['functionalArea'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-group-flex">
            <div>Start Date</div>
            <div class="new-group-box">
                <p-calendar   
                 (onSelect)="handleDateOnchange($event)"
                [showIcon]="true" formControlName="startDate"
                [minDate]="endDate"></p-calendar>
                <div
                    *ngIf="newRuleForm.controls['startDate'].invalid && newRuleForm.controls['startDate'].touched">
                    <small class="p-error">This field is required</small>
                </div>
                <div *ngIf="newRuleForm.get('startDate').hasError('pattern')">
                    <small class="p-error">This (',\,`,;) characters not allowed</small>
                </div>
            </div>
        </div>
        <div class="new-group-flex">
            <div>End Date</div>
            <div class="new-group-box">
                <p-calendar  [minDate]="endDate" [showIcon]="true" formControlName="EndDate"></p-calendar>
                <div
                    *ngIf="newRuleForm.controls['EndDate'].invalid && newRuleForm.controls['EndDate'].touched">
                    <small class="p-error">This field is required</small>
                </div>
                <div *ngIf="newRuleForm.get('EndDate').hasError('pattern')">
                    <small class="p-error">This (',\,`,;) characters not allowed</small>
                </div>
            </div>

        </div>
    </div>
    <div class="new-group-button">
        <button pButton type="button" label="Cancel" class="p-button-sm" class="p-button-text"
            (click)="cancelButtonHandler()"></button>
        <p-button label="Save" class="p-button-sm" type="submit" (click)="onSaveHandler()"></p-button>
    </div>
    <div *ngIf="loaderService.loaderState | async as loaderVisible" class="progress-spinner">
        <app-progress-spinner></app-progress-spinner>
    </div>
</div>
