<div class="source-connector-svg">


  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
    <path fill="#000" fill-rule="evenodd" d="M8 19.412c-4.032-.289-7-1.26-7-2.412V3.496C1.009 2.118 5.262 1 10.5 1 15.743 1 20 2.12 20 3.5V12h-1V4.617C17.44 5.437 14.218 6 10.5 6S3.56 5.437 2 4.617V17c0 .674 2.527 1.245 6 1.434v.978ZM10.5 2c4.691 0 8.5.672 8.5 1.5S15.191 5 10.5 5 2 4.328 2 3.5 5.809 2 10.5 2Z" clip-rule="evenodd"/>
    <path fill="#000" fill-rule="evenodd" d="M20 14.5h2v1h-2v3h2v1h-2V21h-4c-2.208 0-4-1.792-4-4s1.792-4 4-4h4v1.5Zm-4-.5h3v6h-3a3.001 3.001 0 0 1 0-6Zm-4 2.5H8.5v1H12v-1Z" clip-rule="evenodd"/>
  </svg>


</div>


