


<div class="primary-btn-container">    
    <!-- button pButton type="button" label="SIGN IN" (click)="handleClick()" ></button -->
    <button pButton [label]="btnProps.label" class="p-button-sm" [disabled]="disabled"></button>
</div>