
.file-Monitering-container{
    background-color: #F9F9F9;
    padding: 10px 33px 5rem;
    // min-height: 100vh;
    width: 100%;

    .hdr-container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-content{
            display: flex;
            align-items: center;
            gap: 1.25rem;

        }
     
        .breadcrum{
            font-size: 0.8rem;
            line-height: 17px;
            color: #0052cc;
            display: flex;
            gap: 5px;
            align-items: center;
        }
        .hdr-text{
            font-size: large;
            letter-spacing: 3px;
            line-height: 37px;
            font-weight: 300;
        }
        .rule-text{
            font-size: 0.9rem;
            line-height: 17px;
            color: gray;
        }
        .txt-content-container{
            border-right: 1.5px solid #E5E5E5;
            padding-right: 19px;
        }
    }

    .tab-view-container{
        padding: 15px 0px 0px;
    }

    .row-container {
		display: grid;
		grid-template-columns: 0.5fr 1fr;
		gap: 15px;
	}
    .btn-row{
        display:flex;
        justify-content: center;
    }
	.label-text {
		display: flex;
		justify-content: flex-end;
		align-items: center;
        color: #555555;
		// margin-top: -1.375rem;
	}
    .dropdown-container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 2rem 0;
        width: 50%;
    }
    .single-selector{
        width: 70%;
    }
    .file-view-section {
        padding: 0 2rem 2rem 2rem;
        background-color: #fff;
        min-height: 25vh;
        display: grid;
        place-items: center;
    
      border: 1px solid #E5E5E5;
    }
    .export-container{
        display: flex;
        justify-content: flex-start;
        gap: 22px;
        margin-bottom: 0.875rem;
    }

    .table-container{
        overflow-x: auto;
        .edit-t-cell{
            display: flex;
            justify-content: space-between;
             gap: 17px;
        }

        // .text-ellipsis{
        //     width: 159.83px;
        //     text-overflow: ellipsis;
        // }

        .hd-container{
          display: flex;
          flex-direction: column;
          // gap: 5px
        }
        .t-hd-txt{
          line-height: 1.313rem;
          color: #555555;
          font-size: 0.875rem;
          font-weight: 500;
          padding-top: .75rem;
        }
        .t-bd-txt{
          line-height: 1rem;
          color: #333333;
          font-size: 0.813rem;
          padding-left: 10px;
        }

        .t-input{
            padding: 0.5rem 0px;
        }
       
        .t-groupBy-cell{
            text-overflow: ellipsis;
            max-width: 42ch;
            white-space: nowrap;
            overflow: hidden;
        }
      .t-hd-svg{
            position: absolute;
            top: 32px;
            left: 23px;
        }
        .t-cell-fixed-width {
            text-overflow: ellipsis;
            max-width: 26ch;
            white-space: nowrap;
            overflow: hidden;
        }


        .t-Error-cell{
            max-width: 60ch;
            white-space: nowrap;
        }

        .l-padd{
            padding-left: 1rem;
        }
    }
    .progress-spinner{
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
   // tab view
   :host  ::ng-deep{
    .p-tabview .p-tabview-panels{
        background: none;
    }
    .p-tabview .p-tabview-nav li .p-tabview-nav-link{
        color: #2A7CD9;
        background: none;
        font-weight: 1000;
    }
    // navigation
    .p-tabview .p-tabview-nav {
        background: none !important;
    }
    .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
        background: none;
        font-weight: 800;
    }
    .p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
        color:#2A7CD9;
    }
   
}
:host ::ng-deep{
    .p-multiselect{
    display: flex !important;
    width: 100%;
}
.p-multiselect .p-multiselect-label{
    padding: 0.5rem 0.625rem;
    font-size: .813rem;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item span{
  font-size: .813rem;
}
.p-multiselect-panel .p-multiselect-header{
    padding: 0.375rem 0.625rem;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item span{
  max-width: 27rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.table-header {
    background-color: var(--hm-primary-color) !important; color: #555 !important;
  }
  .table-sub-hdr{
      background-color:  var(--hm-secondary-color) !important;
  }
  .p-datatable .p-datatable-thead > tr > th{
    padding:0rem 0.75rem;
}
.p-datatable .p-datatable-thead > tr > th{
    border: none;
}
.p-paginator .p-dropdown .p-dropdown-label {
    display: flex;
    align-items: center;
}
.p-datatable>.p-datatable-wrapper{
    overflow-x: auto !important;
}
.p-datatable-scrollable>.p-datatable-wrapper{
    overflow-y: hidden;
    // min-height: 23rem;
}
}
