<div class="file-Monitering-container">
    <div class="hdr-container">
        <div class="left-content">
			<div class="svg">
				<app-data-quality-rule></app-data-quality-rule>
			</div>
			<div class="txt-content-container">
				<div class="breadcrum">Data Governance <i class="pi pi-angle-right" style="color: #0052cc; font-size: inherit"></i>
					{{'File Monitoring'}} <i class="pi pi-angle-right" style="color: #0052cc; font-size: inherit"></i>
				</div>
				<div class="hdr-text">{{'File Monitoring'}}</div>
				<div class="rule-text"> {{ table_data_copy?.length || 0}} Rules</div>
			</div>
		</div>
    </div>
    <div class="tab-view-container">
        <p-tabView (onChange)="setCurrentTab($event)">
          <p-tabPanel
          [header]=" tab "
          *ngFor="let tab of this.tabs; let i = index"
          [selected]="i == 0"
          >
          </p-tabPanel>
        </p-tabView>
    </div>

    <div class="dashoberd-container" *ngIf="currentTab === 'Dashboard'">

        <div class="txt">
            {{'Analyse the success rates of data sets provided by data providers'}}
        </div>
        <div class="dropdown-container" [formGroup]="fileDetailsFormGroup">
            <div class="row-container">
                <div class="label-text">
                    Data Provider
                </div>
                <div class="single-selector">
                    <p-multiSelect [options]="dataProviderOptions"
                    formControlName="dataProvider"
                    placeholder="Select"
                    [showHeader]=" false"
                    optionLabel="label"
                    optionValue="value"
                    (onPanelHide)="dataProviderPanelHide()"
                    (onChange)="dataProviderOnchange()"
                    ></p-multiSelect>
                </div>
            </div>
            <div class="row-container">
                <div class="label-text">
                    Data Set
                </div>
                <div class="single-selector">
                    <p-multiSelect [options]="dataSetOptions"
                    formControlName="dataSet"
                    placeholder="Select"
                    [showHeader]=" false"
                    optionLabel="label"
                    ></p-multiSelect>
                </div>
            </div>
            <div class="row-container">
                <div class="label-text">
                    File Frequency
                </div>
                <div class="single-selector">
                    <p-multiSelect [options]="frequencyOptions"
                    formControlName="frequency"
                    placeholder="Select"
                    [showHeader]=" false"
                    optionLabel="label"
                    ></p-multiSelect>
                </div>
            </div>
            <div class="row-container">
                <div class="label-text">
                    File Name
                </div>
                <div class="single-selector">
                    <p-multiSelect [options]="fileNameOptions"
                    formControlName="fileName"
                    placeholder="Select"
                    [showHeader]=" false"
                    optionLabel="label"
                    ></p-multiSelect>
                </div>
            </div>
            <div class="row-container">
                <div class="label-text">
                    Run Date
                </div>
                <div class="single-selector">
                    <p-multiSelect [options]="runDateOptions"
                    formControlName="runDate"
                    placeholder="Select"
                    [showHeader]=" false"
                    optionLabel="label"
                    ></p-multiSelect>
                </div>
            </div>
            <div class="btn-row">
                <button pButton type="button" label="Show" (click)="handleshowClick()" ></button>
            </div>
        </div>
        <div>
            <div style="text-align: center" *ngIf="true" class="file-view-section">
                <img src="../../../../assets/carbon_chart-bar.svg" />
                <div>Select parameters and click SHOW button above to generate charts here</div>
            </div>
            <!-- <div *ngIf="true">
                <iframe style="width:100%;height:1000px"  *ngIf="this.form.value.database === 'local'" id="profileFrame" [srcdoc]="localFileHtmlTemplate"></iframe>
    
                <iframe style="width: 100%; height: 1000px"  *ngIf="this.form.value.database !== 'local'"  [src]="safeUrl"></iframe>
            </div> -->
        </div>
    </div>
    <div class="history-page-container"  [hidden]="!(currentTab === 'History')">
        <div class="export-container">
            <button pButton type="button" label="Export"
            (click)="exportExcel()"
            class="p-button-outlined"></button>
        </div>
        
    <div class="table-container">
        <p-table
        [value]="table_data_copy"
        [paginator]="true"
        [rows]="10"
        [alwaysShowPaginator]="true"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [rowHover]="true"
        [scrollable]="true"
        [(first)]="tablePageNumber"
    >
        <ng-template pTemplate="header" >
            <tr>
                <th class="table-header" style="min-width: 52px; cursor: pointer;">
                    <div class="t-hd-svg" (click)="resetAll()"><app-t-filter-svg></app-t-filter-svg></div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt ">Data Provider</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Data Set</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">File Name</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">File Frequency</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Run Date</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt"></div>Status
                </th>
            </tr>
            <tr>
                <th class="table-header">

                </th>
                <th class="table-header">
                    <div class="t-input ">
                        <app-prime-multi-select
                            #dataProvider
                            [options]="uniqueValues?.[COLUMNS.dataProvider]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.dataProvider)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #dataSet
                            [options]="uniqueValues?.[COLUMNS.dataSet]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.dataSet)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #fileName
                            [options]="uniqueValues?.[COLUMNS.fileName]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.fileName)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #fileFrequency
                            [options]="uniqueValues?.[COLUMNS.fileFrequency]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.fileFrequency)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        #runDate
                        [options]="uniqueValues?.[COLUMNS.runDate]"
                        (changeEmitter)="multiselectOnchange($event,COLUMNS.runDate)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #status
                            [options]="uniqueValues?.[COLUMNS.status]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.status)"
                        ></app-prime-multi-select>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
            <tr>
                <td>
                    <div class="t-bd-switch">
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width ">
                        {{ data.ENT_PRVDR_NM }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width" >
                        {{ data.ENT_SRC_NM }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width">
                        {{ data.FILE_NAME }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width ">
                        {{ data.ENT_FRE }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width ">
                        {{ data.PRCS_END_TM }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt  t-cell-fixed-width">
                        {{ data.STATUS}}
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns >
            <tr>
                <!-- <td [attr.colspan]="columns.length">No records found</td> -->
                <td colspan="12">
                    <div class="t-Error-cell">
                        No records found
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    </div>
    </div>

    <div *ngIf="loaderService.loaderState | async as loaderVisible" class="progress-spinner">
        <app-progress-spinner></app-progress-spinner>
    </div>
</div>
