<div class="new-update-body" [formGroup]="newRuleForm">
    <div class="new-update-body-2">
        <div class="new-update-flex">
            <div>Specialty Description</div>
            <div class="new-update-box">
                <p-dropdown [options]="specialtyOption"  placeholder="Select" [style]="{width: '100%'}"
                    formControlName="specialtyDescription"></p-dropdown>
                <div
                    *ngIf="newRuleForm.controls['specialtyDescription'].invalid && newRuleForm.controls['specialtyDescription'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-update-flex">
            <div>Specialty Code</div>
            <div class="new-update-box">
                <p-dropdown [options]="specialtyCodeOption"  placeholder="Select" [style]="{width: '100%'}"
                    formControlName="specialtyCode"></p-dropdown>
                <div
                    *ngIf="newRuleForm.controls['specialtyCode'].invalid && newRuleForm.controls['specialtyCode'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-update-flex">
            <div>Rule Type</div>
            <div class="new-update-box">
                <p-dropdown [options]="ruleTypeOption"  placeholder="Select" [style]="{width: '100%'}"
                formControlName="ruleType"></p-dropdown>                <div
                    *ngIf="newRuleForm.controls['ruleType'].invalid && newRuleForm.controls['ruleType'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-update-flex">
            <div>Functional Area</div>
            <div class="new-update-box">
                <p-dropdown [options]="functionalOption"  placeholder="Select"
                    [style]="{width: '100%'}" formControlName="functionalArea"></p-dropdown>
                <div
                    *ngIf="newRuleForm.controls['functionalArea'].invalid && newRuleForm.controls['functionalArea'].touched">
                    <small class="p-error">This field is required</small>
                </div>
            </div>
        </div>
        <div class="new-update-flex">
            <div>Start Date</div>
            <div class="new-update-box">
                <p-calendar (onSelect)="handleDateOnchange($event)" [minDate]="currentDate"  [showIcon]="true" formControlName="startDate"></p-calendar>
                <div
                    *ngIf="newRuleForm.controls['startDate'].invalid && newRuleForm.controls['startDate'].touched">
                    <small class="p-error">This field is required</small>
                </div>
                <div *ngIf="newRuleForm.get('startDate').hasError('pattern')">
                    <small class="p-error">This (',\,`,;) characters not allowed</small>
                </div>
            </div>
        </div>
        <div class="new-update-flex">
            <div>End Date</div>
            <div class="new-update-box">
                <p-calendar [showIcon]="true" [minDate]="endDate" formControlName="EndDate"></p-calendar>
                <div
                    *ngIf="newRuleForm.controls['EndDate'].invalid && newRuleForm.controls['EndDate'].touched">
                    <small class="p-error">This field is required</small>
                </div>
                <div *ngIf="newRuleForm.get('EndDate').hasError('pattern')">
                    <small class="p-error">This (',\,`,;) characters not allowed</small>
                </div>
            </div>

        </div>
    </div>
    <div class="new-update-button">
        <button pButton type="button" label="Cancel" class="p-button-sm" class="p-button-text"
            (click)="cancelButtonHandler()"></button>
        <p-button label="Save" class="p-button-sm" type="submit" (click)="onSaveHandler()"></p-button>
    </div>
    <div *ngIf="loaderService.loaderState | async as loaderVisible" class="progress-spinner">
        <app-progress-spinner></app-progress-spinner>
    </div>
</div>