
.txt-area-container{
    .err-txt-container{
        height: 1.083rem;
      }
    
      .err-txt{
        color: #B00020;
        font-size: 13px;
      }
}
.p-inputtextarea,.full-width{
    width: 100%;
    height: 100% !important;
}

// .p-inputtextarea::placeholder {
//     color: yellow;
//     font-weight: 400;
//     font-size: 14px;
// }

// .p-inputtextarea:enabled:focus,
// .p-inputtextarea:enabled:hover,
// .p-inputtextarea:enabled {
//     border-color: red;
//     box-shadow: none;
//     width: 100% !important;
//     background-color: white;
// }


.p-inputtextarea.ng-dirty.ng-invalid,.p-inputtextarea.ng-dirty.ng-invalid:hover, .p-inputtextarea.ng-dirty.ng-invalid:focus {
    border-color: #e24c4c;
}

