<div [formGroup]="" class="txt-area-container">

    <div class="label">
        <label class="app-form-label" *ngIf="props.label">
            {{props.label}}
        </label>
    </div>
    <div>
        <textarea pInputTextarea 
        class="full-width"
        [formControl]="props.formControl"
        [placeholder]="props.placeholder"
        [attr.disabled]="props.disabled"
        [autoResize]="true"
    ></textarea>
    </div>
   
    <div class="err-txt-container">
        <div
            *ngIf="props.formControl.invalid && (props.formControl.dirty || props.formControl.touched || props.isSubmitted)"
            >
            <small class="err-txt" *ngIf="props.formControl.errors.required">{{props.errorMsg.require}}</small>
            <small class="err-txt" *ngIf="props.formControl.errors.patternInvalid">{{props.errorMsg.pattern}}</small>
        </div>
    </div>

</div>
