<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
  <path fill="#fff" d="M0 0h24v24H0z"/>
  <path fill="#000" fill-rule="evenodd" d="M9 9.496C9.006 8.118 12.14 7 16 7c3.863 0 7 1.12 7 2.5v11.055c0 1.38-3.137 2.5-7 2.5s-7-1.12-7-2.5V9.496Zm1 1.291c1.225.726 3.455 1.213 6 1.213s4.775-.487 6-1.213v9.768c0 .828-2.689 1.5-6 1.5s-6-.672-6-1.5v-9.768ZM22 9.5c0 .827-2.689 1.5-6 1.5s-6-.673-6-1.5c0-.828 2.689-1.5 6-1.5s6 .672 6 1.5Z" clip-rule="evenodd"/>
  <path fill="#000" fill-rule="evenodd" d="M8 17.475C4.609 17.301 2 16.259 2 15V3.496C2.006 2.118 5.14 1 9 1c3.863 0 7 1.12 7 2.5V6h-1V4.788C13.775 5.514 11.545 6 9 6s-4.775-.486-6-1.212V15c0 .743 2.164 1.36 5 1.479v.996ZM15 3.5C15 4.328 12.311 5 9 5s-6-.672-6-1.5S5.689 2 9 2s6 .672 6 1.5Zm.262 16.682 5.657-5.657-.707-.707-4.95 4.95-2.475-2.475-.707.707 3.182 3.182Z" clip-rule="evenodd"/>
</svg>
