<div class="threshold_varient-container">
    <div class="export-container">
        <button pButton type="button" [label]="buttonProps.label"
        (click)="exportExcel()"
        class="p-button-outlined"></button>

        <div class="new-connector" (click)="handleNewRuleClick()">
            <div class="icon">
                <i class="pi pi-plus-circle" style="color: #0052cc; font-size: 1.688rem"></i>
            </div>
            <div class="new-connector-text"> New Rule</div>
        </div>
    </div>

    <div class="table-container">
        <p-table
        [value]="table_data_copy"
        [paginator]="true"
        [rows]="10"
        [alwaysShowPaginator]="true"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [rowHover]="true"
        [scrollable]="true"
        [(first)]="tablePageNumber"
    >
        <ng-template pTemplate="header" >
            <tr>
                <th class="table-header" style="min-width: 52px; cursor: pointer;">
                    <div class="t-hd-svg" (click)="resetAll()"><app-t-filter-svg></app-t-filter-svg></div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt ">Data Zone</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Data Provider</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Dataset Name</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Function</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Metric Name</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">DQ Severity</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Threshold Value</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Group By</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Filter Clause</div>
                </th>

                 <th class="table-header">
                    <div class="t-hd-txt">Status</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Action</div>
                </th>
            </tr>
            <tr>
                <th class="table-header">

                </th>
                <th class="table-header">
                    <div class="t-input ">
                        <app-prime-multi-select
                            #dataZone
                            [options]="uniqueValues?.[COLUMNS.dataZone]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.dataZone)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #dataProvider
                            [options]="uniqueValues?.[COLUMNS.dataProvider]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.dataProvider)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #dataSetName
                            [options]="uniqueValues?.[COLUMNS.dataSetName]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.dataSetName)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #function
                            [options]="uniqueValues?.[COLUMNS.function]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.function)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        #metricName
                        [options]="uniqueValues?.[COLUMNS.metricName]"
                        (changeEmitter)="multiselectOnchange($event,COLUMNS.metricName)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #dqSeverity
                            [options]="uniqueValues?.[COLUMNS.dqSeverity]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.dqSeverity)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #thresholdValue
                            [options]="uniqueValues?.[COLUMNS.thresholdValue]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.thresholdValue)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #groupBy
                            [options]="uniqueValues?.[COLUMNS.groupBy]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.groupBy)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        #filterClause
                        [options]="uniqueValues?.[COLUMNS.filterClause]"
                        (changeEmitter)="multiselectOnchange($event,COLUMNS.filterClause)"
                    ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #status
                            [options]="uniqueValues?.[COLUMNS.status]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.status)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                    </div>
                </th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
            <tr>
                <td>
                    <div class="t-bd-switch">
                        <!-- data.STATUS === 'Active' ? true :  -->
                        <p-inputSwitch [(ngModel)]="data.SWITCH_STATUS "
                        (ngModelChange)="inputSwitchOnchange(data)"></p-inputSwitch>
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width ">
                        {{ data.DATA_ZONE }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width" 
                    [pTooltip]="data.DATA_PROVIDER" 
                    tooltipPosition="top"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                    tooltipStyleClass="tooltip" 
                    [tooltipDisabled]="24 > data.DATA_PROVIDER?.length"            
                    >
                        {{ data.DATA_PROVIDER }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width"
                    [pTooltip]="data.DATASET_NAME" 
                    tooltipPosition="top"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                    tooltipStyleClass="tooltip" 
                    [tooltipDisabled]="24 > data.DATASET_NAME?.length"  
                    >
                        {{ data.DATASET_NAME }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width ">
                        {{ data.FUNCTION }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width "
                    [pTooltip]="data.METRIC_NAME" 
                    tooltipPosition="top"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                    tooltipStyleClass="tooltip" 
                    [tooltipDisabled]="24 > data.METRIC_NAME?.length"  
                    >
                        {{ data.METRIC_NAME }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width" 
                    
                    >
                        {{ data.RULE_SEVERITY }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width" 
                    [pTooltip]="data.THRESHOLD_VALUE" 
                    tooltipPosition="top"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                    tooltipStyleClass="tooltip" 
                    [tooltipDisabled]="24 > data.THRESHOLD_VALUE?.length"  
                    >
                        {{ data.THRESHOLD_VALUE }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-groupBy-cell "
                    [pTooltip]="data.GROUP_BY" 
                    tooltipPosition="top"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                    tooltipStyleClass="tooltip" 
                    [tooltipDisabled]="38 > data.GROUP_BY?.length"  
                    >
                        {{ data.GROUP_BY}}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width">

                        {{ data.FILTER_CLAUSE }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt  t-cell-fixed-width">
                        {{ data.STATUS}}
                    </div>
                </td>
                <td>
                    <div class="edit-t-cell">
                        <span style="cursor: pointer" (click)="editBtnHandler(data)">
                            <app-pencil-i-svg></app-pencil-i-svg>
                        </span>
                        <span style="cursor: pointer" (click)="deleteBtnHandler(data)">
                            <app-delete-i-svg></app-delete-i-svg>
                        </span>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns >
            <tr>
                <!-- <td [attr.colspan]="columns.length">No records found</td> -->
                <td colspan="12">
                    <div class="t-Error-cell">
                        No records found
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    </div>

    <div class="popup-container" *ngIf="popupModelData?.displayModal">
        <app-threshold-varient-popup [popupModelData]="popupModelData"
        #popup
        (submitResponse)="PopupSubmitHandler($event)"
		
            ></app-threshold-varient-popup>
    </div>
    <app-delete-popup
			[deletePopupModel]="deletePopupModel"
			(deleteHandler)="deletePopupDeleteHandler()"
		></app-delete-popup>
    <!-- (cancelResponse)="editPopupCancelHandler()" -->
</div>

