

.threshold_varient-container{

    .export-container{
        display: flex;
        justify-content: flex-start;
        gap: 22px;
        margin-bottom: 0.875rem;
    }

    .table-container{
        overflow-x: auto;
        .edit-t-cell{
            display: flex;
            justify-content: space-between;
             gap: 17px;
        }

        // .text-ellipsis{
        //     width: 159.83px;
        //     text-overflow: ellipsis;
        // }

        .hd-container{
          display: flex;
          flex-direction: column;
          // gap: 5px
        }
        .t-hd-txt{
          line-height: 1.313rem;
          color: #555555;
          font-size: 0.875rem;
          font-weight: 500;
          padding-top: .75rem;
        }
        .t-bd-txt{
          line-height: 1rem;
          color: #333333;
          font-size: 0.813rem;
          padding-left: 10px;
        }

        .t-input{
            padding: 0.5rem 0px;
        }
       
        .t-groupBy-cell{
            text-overflow: ellipsis;
            max-width: 42ch;
            white-space: nowrap;
            overflow: hidden;
        }
      .t-hd-svg{
            position: absolute;
            top: 32px;
            left: 23px;
        }
        .t-cell-fixed-width {
            text-overflow: ellipsis;
            max-width: 26ch;
            white-space: nowrap;
            overflow: hidden;
        }


        .t-Error-cell{
            max-width: 60ch;
            white-space: nowrap;
        }

        .l-padd{
            padding-left: 1rem;
        }
    }
    .new-connector{
        display: flex;
        gap:10px;
        align-items: center;
        padding: 0px 23px;
        cursor: pointer;
    }
    .new-connector-text{
            color: #0052cc;
    }

}


:host ::ng-deep{
	.p-dialog .p-dialog-content {
		padding: 0px;
	}
	.p-dialog .p-dialog-footer {
		padding: 1rem;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		border-top: 1px solid lightgray;
	}
	.p-dialog .p-dialog-header {
		padding: 1rem;
		border-bottom: 1px solid lightgray;
	}
	.p-multiselect{
		max-width: none;
	}
	.p-multiselect .p-multiselect-label{
		//  width: 20ch;
		padding: 0.625rem 0.625rem;
		
	}
	.p-multiselect{
		display: flex !important;
		width: 100%;
	}
	.p-multiselect .p-multiselect-label{
		padding: 0.5rem 0.625rem;
		font-size: .813rem;
	}
	.p-multiselect-panel .p-multiselect-items .p-multiselect-item span{
	  font-size: .813rem;
	}
	.p-multiselect-panel .p-multiselect-header{
		padding: 0.375rem 0.625rem;
	}
	.p-multiselect-panel .p-multiselect-items .p-multiselect-item span{
	//   max-width: 27rem;
	  text-overflow: ellipsis;
	  overflow: hidden;
	  white-space: nowrap;
	}
}