<div class="app-container">
	<app-top-nav *ngIf="isTopNav"></app-top-nav>
	<div class="flex-container">
		<div class="content" flex-grow="1">
			<router-outlet></router-outlet>
		</div>
	</div>
  <app-footer *ngIf="isLoggedIn"></app-footer>
</div>
