.edit-group-body{
    width: 100%;
    border-top: 1px solid lightgray;
    .edit-group-body-2{
        display: grid;
    grid-gap: 1rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
    height: 50%;
    overflow-y: auto;
    .edit-group-flex{
     display: flex;
     gap: 1rem;
     padding: 0 10rem;
     align-items: center;

     .edit-group-box{
         flex-grow: 1;
     }
     .edit-group-radioButton{
        display: flex;
        gap: 0.5rem;
     }
    }
    .edit-group-flex>*:first-child{
     flex: 0 0 20%;
     text-align: right;

    }
}
    .edit-group-button{
     display: flex;
     gap: 1rem;
     padding: 0.5rem;
     justify-content: flex-end;
     border-top: 1px solid lightgray;
     position: absolute;
     bottom: 0;
     width: 100%;
     background-color: #FFFFFF;
    }
 }
 ::ng-deep{
    .p-dialog .p-dialog-content{
        padding: 0;
    }
    .p-dropdown-items-wrapper{
        max-height: 8.2rem !important;
    }
    .p-error{
        color: #B00020;
        font-size: 13px;
    }
    .p-dialog-content {
        overflow-y: hidden;
    }
} 