<div class="edit-group-body"  [formGroup]="editGroupForm">
  <div class="edit-group-body-2">
    <div class="edit-group-flex">
        <div>Group Name</div>
        <div class="edit-group-box">
            <input
        pInputText
        class="p-inputtext-sm"
        [style]="{width: '100%'}"
        formControlName="groupName"
      />
      <div *ngIf="editGroupForm.controls['groupName'].invalid && editGroupForm.controls['groupName'].touched">
        <small class="p-error">This field is required</small>
      </div>
      <div *ngIf="editGroupForm.get('groupName').hasError('pattern')">
        <small class="p-error">This (',\,`,;) characters not allowed</small>
      </div>
        </div>
       
    </div>
    <div class="edit-group-flex">
        <div>Description</div>
        <div class="edit-group-box">
            <textarea [style]="{width: '100%'}" rows="5" cols="30" pInputTextarea formControlName="description"></textarea>
      <div *ngIf="editGroupForm.controls['description'].invalid && editGroupForm.controls['description'].touched">
        <small class="p-error">This field is required</small>
      </div>
      <div *ngIf="editGroupForm.get('description').hasError('pattern')">
        <small class="p-error">This (',\,`,;) characters not allowed</small>
      </div>
        </div>
    </div>
    <div class="edit-group-flex">
        <div>Group Type</div>
        <div class="edit-group-box">
        <p-dropdown
         [options]="groupTypeData"
         placeholder="Select" 
         [style]="{width: '100%'}"
         formControlName="groupType"
      ></p-dropdown>
      <div *ngIf="editGroupForm.controls['groupType'].invalid && editGroupForm.controls['groupType'].touched">
        <small class="p-error">This field is required</small>
      </div>
        </div>
    </div>
    <div class="edit-group-flex">
        <div>Active</div>
        <div class="edit-group-radioButton p-field-radiobutton">
            <p-radioButton name="active" value="Y" formControlName="active"></p-radioButton>
            <label for="yes">Yes</label>
        </div>
        <div class="edit-group-radioButton p-field-radiobutton">
            <p-radioButton name="active" value="N" formControlName="active"></p-radioButton>
            <label for="no">No</label>
        </div>
    </div>
  </div> 
    <div class="edit-group-button">
        <button
         pButton type="button" 
         label="Cancel" 
         class="p-button-sm" 
         class="p-button-text"
         (click)="cancelButtonHandler()"
        ></button>
        <p-button 
        label="Save" 
        class="p-button-sm" 
        type="submit" 
        (click)="onSaveHandler()"
         ></p-button>
    </div>
  
</div>

