<div class="menu-svg-container">

  <div class="svg-item-container">
      <!-- [attr.fill]="props.activeState ? '#000000' : '#0052cc' "  -->
      <div >
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="30" height="30"  viewBox="0 0 64 64"  xml:space="preserve" class=""><g><path d="M24.8 15.02a1 1 0 0 0-.8.98v2c-11.215 0-20 3.953-20 9v16c0 4.428 6.536 7.99 16 8.817V54c0 5.047 8.785 9 20 9s20-3.953 20-9V30c0-2.572-2.162-4.873-6.11-6.547a13.753 13.753 0 0 0 .665-1.944l2.645-.529A1 1 0 0 0 58 20v-4a1 1 0 0 0-.8-.98l-2.641-.529a13.9 13.9 0 0 0-1.497-3.591l1.5-2.247a1 1 0 0 0-.125-1.261l-2.831-2.827a1 1 0 0 0-1.261-.125L48.1 5.938a13.919 13.919 0 0 0-3.589-1.493L43.98 1.8A1 1 0 0 0 43 1h-4a1 1 0 0 0-.98.8l-.529 2.641A13.919 13.919 0 0 0 33.9 5.938l-2.247-1.5a1 1 0 0 0-1.261.125l-2.827 2.831a1 1 0 0 0-.125 1.261l1.5 2.247a13.9 13.9 0 0 0-1.493 3.589ZM24 20a1 1 0 0 0 .8.976l2.641.529c.113.435.254.861.408 1.282C22.846 24.466 20 27.062 20 30v3.812C12.07 33.073 6 30.165 6 27c0-4.125 9.505-6.958 18-7ZM6 31.026c2.622 2.454 7.652 4.237 14 4.791v5.995C12.07 41.073 6 38.165 6 35ZM6 43v-3.974c2.622 2.454 7.652 4.237 14 4.791v5.995C12.07 49.073 6 46.165 6 43Zm34 18c-8.514 0-18-2.875-18-7v-4.036c3.206 3 9.97 5.036 18 5.036s14.794-2.032 18-5.036V54c0 4.125-9.486 7-18 7Zm0-8c-8.514 0-18-2.875-18-7v-4.036c3.206 3 9.97 5.036 18 5.036s14.794-2.032 18-5.036V46c0 4.125-9.486 7-18 7Zm0-8c-8.514 0-18-2.875-18-7v-4.036c3.206 3 9.97 5.036 18 5.036s14.794-2.032 18-5.036V38c0 4.125-9.486 7-18 7Zm18-15c0 4.125-9.486 7-18 7s-18-2.875-18-7c0-2 2.539-4.023 6.68-5.375.086.158.167.318.258.473l-1.5 2.247a1 1 0 0 0 .125 1.261l2.829 2.829a1 1 0 0 0 1.261.125l2.247-1.5a13.9 13.9 0 0 0 3.589 1.493l.531 2.647a1 1 0 0 0 .98.8h4a1 1 0 0 0 .98-.8l.529-2.641a13.9 13.9 0 0 0 3.591-1.497l2.247 1.5a1 1 0 0 0 1.261-.125l2.829-2.829a1 1 0 0 0 .125-1.261l-1.328-1.992C56.232 26.657 58 28.354 58 30ZM29.252 15.548a11.88 11.88 0 0 1 1.712-4.116 1 1 0 0 0 0-1.1l-1.4-2.1 1.669-1.669 2.1 1.4a1 1 0 0 0 1.1.005 11.888 11.888 0 0 1 4.116-1.712 1 1 0 0 0 .778-.783L39.82 3h2.36l.494 2.469a1 1 0 0 0 .778.783 11.888 11.888 0 0 1 4.116 1.712 1 1 0 0 0 1.1-.005l2.1-1.4 1.669 1.669-1.4 2.1a1 1 0 0 0 0 1.1 11.88 11.88 0 0 1 1.712 4.116 1 1 0 0 0 .783.778L56 16.82v2.36l-2.469.494a1 1 0 0 0-.783.778 11.88 11.88 0 0 1-1.712 4.116 1 1 0 0 0 0 1.1l1.4 2.1-1.669 1.669-2.1-1.4a1 1 0 0 0-1.1 0 11.88 11.88 0 0 1-4.116 1.712 1 1 0 0 0-.778.783L42.18 33h-2.36l-.494-2.469a1 1 0 0 0-.778-.783 11.88 11.88 0 0 1-4.116-1.712 1 1 0 0 0-1.1 0l-2.1 1.4-1.669-1.669 1.4-2.1a1 1 0 0 0 0-1.1 11.88 11.88 0 0 1-1.712-4.116 1 1 0 0 0-.783-.778L26 19.18v-2.36l2.469-.494a1 1 0 0 0 .783-.778Z"
            [attr.fill]="props.activeState ? '#000000' : '#0052cc'" data-original="#000000" class=""></path><path d="M41 27a9 9 0 1 0-9-9 9.011 9.011 0 0 0 9 9Zm0-16a7 7 0 1 1-7 7 7.008 7.008 0 0 1 7-7Z"
[attr.fill]="props.activeState ? '#000000' : '#0052cc' " data-original="#000000" class=""></path></g></svg>
      </div>
      <div class="svg-label" [ngClass]="{'active': props.activeState}">
          {{props.label}}
      </div>
  </div>

</div>


