

<div class="check-box-outer-container">
    <div  class="check-box-container" >


        <div class="check-box">
            <p-checkbox
            [(ngModel)]="selectedValues"
                [binary]="true"
                (onChange)="handleChange()"
                [attr.disabled]="props.disabled"
            ></p-checkbox>
        </div>
        <div class="label">
            {{props.label}}
         </div>

    </div>
</div>


<!-- [formControl]="checkBoxProps.formcontrol"> -->

