
.check-box-outer-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .check-box-container{
        display: flex;
        gap: .5rem;
        width: auto;
        justify-content: flex-start;
        align-items: center;

        .label{
            font-size: 0.875rem;
            color: #333333;
        }

    }
}



::ng-deep{
    // .p-checkbox .p-checkbox-box{
    //     border: 2px solid #0052cc;
    //     background: #ffffff;
    //     width: 16px;
    //     height: 16px;
    //     color: #495057;
    //     border-radius: 3px;
    // }
}




