<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path
		d="M19 0.666687C8.88001 0.666687 0.666672 8.88002 0.666672 19C0.666672 29.12 8.88001 37.3334 19 37.3334C29.12 37.3334 37.3333 29.12 37.3333 19C37.3333 8.88002 29.12 0.666687 19 0.666687ZM20.6133 29.56V31.8334H17.405V29.4684C16.0483 29.1384 13.0233 28.0567 11.8683 24.0417L14.8933 22.8134C15.0033 23.2167 15.9567 26.645 19.2933 26.645C20.9983 26.645 22.9233 25.765 22.9233 23.6934C22.9233 21.9334 21.64 21.0167 18.7433 19.9717C16.7267 19.2567 12.6017 18.0834 12.6017 13.9034C12.6017 13.72 12.62 9.50335 17.405 8.47669V6.16669H20.6133V8.44002C23.9867 9.02669 25.215 11.7217 25.49 12.5284L22.5933 13.7567C22.3917 13.115 21.5117 11.3 19.11 11.3C17.8267 11.3 15.7917 11.9784 15.7917 13.8484C15.7917 15.59 17.3683 16.25 20.6317 17.3317C25.0317 18.8534 26.15 21.09 26.15 23.6567C26.15 28.4784 21.5667 29.395 20.6133 29.56V29.56Z"
		fill="url(#paint0_linear_17_9)"
	/>
	<defs>
		<linearGradient
			id="paint0_linear_17_9"
			x1="19"
			y1="0.666687"
			x2="19"
			y2="37.3334"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#5DB02B" />
			<stop offset="1" stop-color="#5DB02B" stop-opacity="0" />
		</linearGradient>
	</defs>
</svg>
