<div class="menu-svg-container">
  <div class="svg-item-container">
      <div class="home-svg">
          <!-- [attr.fill]="props.activeState ? '#000000' : '#2A7CD9' " -->
          <svg width="25.26" height="24" viewBox="0 0 36 34" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M11 32H5.75V33.75H30.25V32H25V28.5H11V32ZM35.5 0.5H0.5V26.75H35.5V0.5ZM33.75 2.25H2.25V23.25H33.75V2.25ZM31.125 18H18.875V19.75H31.125V18ZM31.125 14.5H18.875V16.25H31.125V14.5ZM17.125 12.75H4.875V14.5H17.125V12.75ZM31.125 11H18.875V12.75H31.125V11ZM17.125 9.25H4.875V11H17.125V9.25ZM17.125 5.75H4.875V7.5H17.125V5.75Z"
              [attr.fill]="props.activeState ? '#000000' : '#0052cc'"/>
              </svg>
      </div>
      <div class="svg-label" [ngClass]="{'active': props.activeState}">
          {{props.label}}
      </div>
  </div>
</div>

