.table-container{
    .edit-t-cell{
        display: flex;
        justify-content: space-between;
         gap: 17px;
    }

    // .text-ellipsis{
    //     width: 159.83px;
    //     text-overflow: ellipsis;
    // }

    .hd-container{
      display: flex;
      flex-direction: column;
      // gap: 5px
    }
    .t-hd-txt{
      line-height: 1.313rem;
      color: #555555;
      font-size: 0.875rem;
      font-weight: 500;
    }
    .t-bd-txt{
      line-height: 1.25rem;
      color: #333333;
      font-size: 0.75rem;
    }   
}




.table-header {
  background-color: var(--hm-primary-color) !important; color: #555 !important;
}


::ng-deep{
  .p-datatable .p-datatable-thead > tr >{

  }
}