<div *ngIf="tableData.body" class="table-container">



  <p-table
    [value]="tableData.body"
    [paginator]="true"
    [rows]="10"
    [alwaysShowPaginator] = "false"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 25, 50]"


  >
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let head of tableData.head" class='table-header'>
          <div *ngIf="(head | keyvalue)?.length; else elseBlock" class="hd-container">
            <div *ngFor="let val of head | keyvalue" >
             <!-- <th   *ngIf="val.value != 'single_Select'; else elseBlock ">
              {{ val.value }}
             </th> -->
             <div *ngIf="val.key == 'input'; else elseBlock">
              <div *ngIf="val.value['type'] == 'multiSelect'">
                <!-- <app-single-select [dropdown]="val.value['props']"></app-single-select> -->
                <app-multiselect [props]="val.value['props']"></app-multiselect>
              </div>
             </div>
             <ng-template #elseBlock>
              <div class="t-hd-txt">
                {{val.value}}
              </div>
             </ng-template>

            </div>
          </div>
          <ng-template #elseBlock>
            <div class="t-hd-txt">
              {{ head }}
            </div>
          </ng-template>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-body let-rowIndex="rowIndex" *ngIf="tableData.body.length > 0">
      <tr>
        <td *ngFor="let prop of tableBodyKeys">
          <div *ngIf="prop == 'input'; else elseBlock">
            <label *ngIf="body[prop]?.lable"> {{ body[prop].lable }}</label>
          </div>
          <ng-template #elseBlock>
            <div *ngIf="(body[prop] | keyvalue)?.length; else elseBlock">
              <div *ngFor="let val of body[prop] | keyvalue" class="t-b-txt">
                {{ val.value }}
              </div>
            </div>
            <ng-template #elseBlock>
              <div class="t-bd-txt">
                {{ body[prop] }}
              </div>
            </ng-template>
          </ng-template>
        </td>
        <td >
          <div class="edit-t-cell">
            <span style="cursor: pointer" (click)="handleEdit(body,rowIndex)">
              <app-pencil-i-svg></app-pencil-i-svg>
            </span>
            <span style="cursor: pointer" (click)="handleDelete(body,rowIndex)">
              <app-delete-i-svg></app-delete-i-svg>
            </span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- <p-menu
    [showTransitionOptions]="'.12s cubic-bezier(0, 0, 0.2, 1)'"
    [hideTransitionOptions]="'0.5s linear'"
    #menu
    [popup]="true"
    [model]="menuItems"
  >
   (click)="menu.toggle($event)"
  </p-menu> -->
</div>
