
<div class="data-quality-rule-conatiner">

    <div class="conitainer">
        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="none" viewBox="0 0 42 42">
            <path fill="#000" fill-rule="evenodd" d="M14 19.592a4.363 4.363 0 0 0 1.75.1v5.49l3.987-3.987 1.214 1.216-6.076 6.076L8.8 22.41l1.215-1.216L14 25.18v-5.59Zm-3.17-3.355H5.057L8.8 19.98l-1.216 1.215-6.076-6.076 6.076-6.076L8.8 10.257l-4.23 4.23h6.262a4.381 4.381 0 0 0 0 1.75Zm8.576-1.75h5.775l-4.23-4.23 1.216-1.214 6.076 6.076-6.076 6.076-1.216-1.215 3.743-3.743h-5.288a4.373 4.373 0 0 0 0-1.75ZM14 11.132V5.056l-3.986 3.987-1.215-1.217 6.076-6.076 6.076 6.076-1.214 1.217-3.987-3.987v5.976a4.426 4.426 0 0 0-1.75.1ZM14 38.5v-1.75H5.25V21H3.5v17.5H14Zm8.75-1.75v1.75H38.5V26.25h-1.75v10.5h-14Zm15.75-24.5V3.5H21v1.75h15.75v7h1.75ZM18.72 30.2l4.949 4.95-7.425 2.475L18.72 30.2Zm21.036-11.136-4.95-4.95-14.85 14.849 4.95 4.95 14.85-14.85Zm-2.475 0-2.475-2.475-12.374 12.374 2.474 2.475 12.375-12.374Z" clip-rule="evenodd"/>
          </svg>
    </div>
</div>