


<div class="delete-button-container">    
    <button pButton type="button" [label]="buttonProps.label" class="p-button-sm" class="p-button-danger"
    ></button>
</div>

<!-- style="background-color: #E73008; border: 1px solid #E73008;" -->