.signle-selector-container {
	.err-txt-container{
        height: 1.083rem;
      }
    
      .err-txt{
        color: #B00020;
        font-size: 13px;
      }
}

::ng-deep {
	.p-inputtext {
		padding: 0.625rem 0.625rem;
	}
	.p-dropdown {
		display: flex !important;
		height: fit-content;
	}

	.p-dropdown-label {
		font-size: 0.875rem;
	}
	.p-dropdown-panel {
	}
}
