<!-- <div   [formGroup]="props.formGroup" class="signle-selector-container">

  <div *ngIf="props?.label">
      {{ props.label }}
  </div>

    <p-dropdown
        [options]="props.options"
        [formControl]="props.formControl"
        [optionLabel]="props.optionLabel || 'label'"
        [placeholder]="props.placeholder || 'select'"
        (onChange)="handleChange()"
        [attr.disabled]="props.disabled || false"
          class="full-width"
      ></p-dropdown>

      <div class="err-txt-container" *ngIf="props.errorMsg">
        <small
        *ngIf="props.formControl.invalid && (props.formControl.dirty || props.formControl.touched || props.isSubmitted)"
        class="err-txt">{{props.errorMsg}}</small>
       </div>
</div>
 -->

<div [formGroup]="control.parent" class="form-group" class="signle-selector-container">
	<p-dropdown [options]="options"
  placeholder="Select..."
  [style]="{ width: '230px' }"
  appendTo="body"
  [formControl]="control" (onChange)="handleChange()"></p-dropdown>
	<!-- <div *ngIf="control.invalid && control.touched">
		<div *ngIf="control.hasError('required')">This field is required.</div>
	</div> -->
  <div class="err-txt-container">
    <div class="err-div" *ngIf="control.invalid && control.touched">
      <small
      class="err-txt" *ngIf="control.hasError('required')">This field is required.</small>
    </div>
  </div>
</div>
