<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="24" height="24" fill="white"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M7 6H8V4.675C8 4.302 8.302 4 8.675 4H15.325C15.698 4 16 4.302 16 4.675V6H17V4.625C17 3.728 16.272 3 15.375 3H8.625C7.728 3 7 3.728 7 4.625V6Z" fill="black"/>
    <path d="M5 5H3V6H5V5Z" fill="black"/>
    <path d="M21 5H19V6H21V5Z" fill="black"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M23 20.4V7.6C23 6.717 22.283 6 21.4 6H2.6C1.717 6 1 6.717 1 7.6V20.4C1 21.283 1.717 22 2.6 22H21.4C22.283 22 23 21.283 23 20.4ZM22 19.88V8.12C22 7.502 21.498 7 20.88 7H15.583L15.361 6.778L15.139 7H3.12C2.502 7 2 7.502 2 8.12V19.88C2 20.498 2.502 21 3.12 21H20.88C21.498 21 22 20.498 22 19.88Z" fill="black"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M15 8C17.208 8 19 9.792 19 12C19 14.208 17.208 16 15 16C12.792 16 11 14.208 11 12C11 9.792 12.792 8 15 8ZM15 9C16.656 9 18 10.344 18 12C18 13.656 16.656 15 15 15C13.344 15 12 13.656 12 12C12 10.344 13.344 9 15 9Z" fill="black"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.12695 21C8.90195 18.575 11.769 17 15 17C18.231 17 21.098 18.575 22.873 21H21.367C19.771 19.307 17.508 18.25 15 18.25C12.492 18.25 10.229 19.307 8.63295 21H7.12695Z" fill="black"/>
    </svg>
    