<div class="data-validation-edit-popup-container" >
    <p-dialog
      [header]="popupModelData.header"
      [(visible)]="popupModelData.editDisplayModal"
      [modal]="true"
      [style]="{ width: '60vw' }"
      [contentStyle]="{ height: '100vh' }"
      [baseZIndex]="10000"
      [draggable]="false"
      [resizable]="false"
    >
      <div class="model-content-container">
          <div class="row-container"> 
            <div class="label-text">
              Data Zone
            </div>
            <div class="single-selector">
              <app-single-select [props]="formProps?.dataZoneProps"
              (changeEvent)="valueChangeHandler($event,'dataZone')"
              ></app-single-select>
            </div>
          </div>
          <div class="row-container"> 
            <div class="label-text">
              Data Provider
            </div>
            <div class="single-selector" >
              <app-single-select [props]="formProps?.dataProviderProps"
              (changeEvent)="valueChangeHandler($event,'dataProvider')"
              ></app-single-select>
            </div>
          </div>
          <div class="row-container"> 
            <div class="label-text">
              DataSet Name
            </div>
            <div class="single-selector" >
              <app-single-select [props]="formProps?.datasetNameProps"
              (changeEvent)="valueChangeHandler($event,'dataSetName')"
              ></app-single-select> 
            </div>
          </div>
          <div class="row-container"> 
            <div class="label-text">
              Attribute
            </div>
            <div class="single-selector" >
              <app-single-select [props]="formProps?.attributeProps"
              (changeEvent)="valueChangeHandler($event,'attribute')"
              ></app-single-select>
            </div>
          </div>
          <div class="row-container"> 
            <div class="label-text">
              Rule Type
            </div>
            <div class="single-selector" >
              <app-single-select [props]="formProps?.ruleTypeProps"
              (changeEvent)="valueChangeHandler($event,'ruleType')"
              ></app-single-select>
            </div>
          </div>
            <div *ngIf="formGroup.controls['ruleType'].value?.label === 'DATE FORMAT CHECK'; else elseTemplate">
                <div class="row-container"> 
                    <div class="label-text">
                      Value 1
                    </div>
                    <div class="single-selector" >
                      <app-single-select [props]="formProps?.dateFormatProps"
                      ></app-single-select>
                    </div>
                  </div>
                </div>
                    <ng-template #elseTemplate >
                        <div *ngIf="formGroup.controls['ruleType'].value?.label === 'RANGE CHECK'; else elseTemplate">
                            <div class="row-container"> 
                                <div class="label-text">
                                  Value 1
                                </div>
                                <div class="single-selector" >
                                    <app-input-text-box [props]="formProps?.value_1RangeTextBoxProps"></app-input-text-box>
                                </div>
                              </div>
                              <div class="row-container"> 
                                <div class="label-text">
                                  Value 2
                                </div>
                                <div class="single-selector" >
                                    <app-input-text-box [props]="formProps?.value_2RangeTextBoxProps"></app-input-text-box>
                                </div>
                              </div>
                        </div>
                        <ng-template #elseTemplate >
                            <div class="row-container"> 
                                <div class="label-text">
                                  Value 1
                                </div>
                                <div class="single-selector" >
                                    <app-input-text-box [props]="formProps?.value_1TextBoxProps"></app-input-text-box>
                                </div>
                              </div>
                        </ng-template>
                    </ng-template> 
        
          <div class="row-container"> 
            <div class="label-text">
              DQ Severity
            </div>
            <div class="single-selector" >
              <app-single-select [props]="formProps?.dqSeverityProps"
             
              ></app-single-select>
            </div>
          </div>
          <div class="row-container"> 
            <div class="label-text">
              Status
            </div>
            <div class="single-selector">
              <app-single-select [props]="formProps?.statusProps"
              ></app-single-select>
            </div>
          </div>
      </div>
      <ng-template pTemplate="footer">
        <app-non-outlined-button [btnprops]="popupModelData.cancelBtnProps"
        (click)="rejectHandler()"
        ></app-non-outlined-button>
        <app-primary-button  
        (click)="submitHandler()"
        [btnProps]="popupModelData.saveBtnProps"
        >
        <!-- [disabled]="!dropdownData?.formControl" -->
        </app-primary-button>
      </ng-template>
    </p-dialog>


  <div *ngIf="formFieldApiStatus.dataZone ||formFieldApiStatus.dataProvider ||
  formFieldApiStatus.datasetName ||formFieldApiStatus.attribute ||  
  formFieldApiStatus.dateFormat ||  
  formFieldApiStatus.dqSeverity ||formFieldApiStatus.status"
  class="progress-spinner">
		<app-progress-spinner></app-progress-spinner>
	</div>
  </div>
  