<div class="data-profile-container">
	<div class="hdr-container">
		<div class="left-content">
			<div class="svg">
				<app-data-quality-rule></app-data-quality-rule>
			</div>
			<div class="txt-content-container">
				<div class="breadcrum">
					Data Governance
					<i class="pi pi-angle-right" style="color: #0052cc; font-size: inherit"></i>
					{{'Data Profiling'}}
				</div>
				<div class="hdr-text">Data Profile</div>
			</div>
		</div>
	</div>

	<form [formGroup]="form" #myForm="ngForm" class="profile-filter">
		<div class="dropdown-filters">
			<div style="align-self: center; padding-right: 2rem">Profile Source</div>
			<app-prime-single-select
				[control]="getControlByName('database')"
				[options]="databaseOptions"
				(changeEvent)="databaseOnchange()"
			></app-prime-single-select>
		</div>
		<div class="row-2" *ngIf="this.form.value.database === 'database'">
			<div style="display: flex">
				<div>
					<div style="align-self: center; padding-right: 2rem">Data Zone</div>
					<app-prime-single-select
						[control]="getControlByName('data_zone')"
						[options]="dataZoneOptions"
						(changeEvent)="changeEventHandler('datazone')"
					></app-prime-single-select>
					<img src="/assets/svg/right-bend-arrow.svg" style="position: relative; top: -3rem; left: -2rem" />
				</div>

				<div style="padding: 0 2rem">
					<div>Data Provider</div>
					<app-prime-single-select
						[control]="getControlByName('data_provider')"
						[options]="dataProviderOptions"
						(changeEvent)="changeEventHandler('dataprovider')"
					></app-prime-single-select>
				</div>
				<div>

					<div>Dataset Name</div>
					<app-prime-single-select
						[control]="getControlByName('dataset_name')"
						[options]="datasetNameOptions"
						(changeEvent)="changeEventHandler('datasetname')"
					></app-prime-single-select>
				</div>
			</div>
		</div>

		<div class="row-2" *ngIf="this.form.value.database === 's3'">
			<div style="display: flex; align-items: center;">
				<div class="img"><img src="/assets/svg/right-bend-arrow.svg" style="position: relative; left: -2rem ; margin-bottom:1rem;" /></div>
				<div>
					<app-prime-single-select
						[control]="getControlByName('s3')"
						[options]="s3Options"
						(changeEvent)="changeEventHandler('s3')"
					></app-prime-single-select>
				</div>
			</div>
		</div>

		<div class="row-2" *ngIf="this.form.value.database === 'local'">
			<p-fileUpload name="demo[]"  (onSelect)="onUpload($event)" 
			accept="text/csv,application/csv"
			method="post"
			[url]="fileUploadUrl"
			(onUpload)="fileUploadComplete($event)"
			(onError)="fileUploadError($event)"
			>
				<!-- <ng-template pTemplate="content">
					<ul *ngIf="uploadedFiles.length">
						<li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
					</ul>
				</ng-template> -->
			</p-fileUpload>
		</div>

		<div class="btn-run-profile">
			<p-button  *ngIf="this.form.value.database === 'local'" label="Run Profile" [disabled]="!localFileName?true:false" (click)="runProfile()"></p-button>
			<p-button *ngIf="this.form.value.database !== 'local'" label="Run Profile" (click)="runProfile()" [disabled]="form.invalid"></p-button>
		</div>
	</form>
	<div class="mid-breadcrumbs" *ngIf="isLoaded">
		<span *ngIf="database !== ''">
			{{ database | titlecase}}
		</span>
		<span *ngIf="dataZoneName"> &nbsp;> {{ dataZoneName }} </span>
		<span *ngIf="dataProvideName"> &nbsp;> {{ dataProvideName }} > </span>
		<span *ngIf="datasetName">
			{{ datasetName }}
		</span><span *ngIf="s3SelectedName">
			> {{ s3SelectedName }}
		</span>
	</div>
	<div>
		<div style="text-align: center" *ngIf="!isLoaded" class="profile-view-section">
			<img src="/assets/svg/layout.svg" />
			<div>Begin by selecting a profile source above</div>
		</div>
		<div *ngIf="isLoaded">
			<iframe style="width:100%;height:1000px"  *ngIf="this.form.value.database === 'local'" id="profileFrame" [srcdoc]="localFileHtmlTemplate"></iframe>

			<iframe style="width: 100%; height: 1000px"  *ngIf="this.form.value.database !== 'local'"  [src]="safeUrl"></iframe>
		</div>
	</div>
</div>
<div *ngIf="loaderService.loaderState | async as loaderVisible" class="progress-spinner">
	<app-progress-spinner></app-progress-spinner>
</div>

<app-toasts #toast></app-toasts>
<!--https://harmony.datazymes.com/DataProfile/LND_ADDRESS.html -->