<div class="market-table-container">
<p-table
[value]="tableData"
[paginator]="true"
[rows]="10"
[alwaysShowPaginator]="true"
[showCurrentPageReport]="true"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
[rowsPerPageOptions]="[5, 10, 25, 50]"
[rowHover]="true"
[scrollable]="true"
[(first)]="tablePageNumber"
>
<ng-template pTemplate="header">
    <tr>
        <th class="table-header" style="min-width: 52px; cursor: pointer;">
            <div class="t-hd-svg" ><app-t-filter-svg (click)="resetAll()"></app-t-filter-svg></div>
        </th>
        <th class="table-header">
            <div class="t-hd-txt">Product Code</div>
        </th>
        <th class="table-header">
            <div class="t-hd-txt">Rule Name</div>
        </th>
        <th class="table-header">
            <div class="t-hd-txt">Market Code</div>
        </th>
        <th class="table-header">
            <div class="t-hd-txt">Business Unit</div>
        </th>
        <th class="table-header">
            <div class="t-hd-txt">Therapeutic Class</div>
        </th>
        <th class="table-header">
            <div class="t-hd-txt">Rule Type</div>
        </th>
        <th class="table-header">
            <div class="t-hd-txt">Start Date</div>
        </th>
        <th class="table-header">
            <div class="t-hd-txt">End Date</div>
        </th>
        <th class="table-header">
            <div class="t-hd-txt">Action</div>
        </th>
    </tr>
    <tr>
        <th class="table-header"></th>
        <th class="table-header">
            <div class="t-input l-padd">
                <app-prime-multi-select
                [options]="uniqueValues?.[Column.productCode]"
                (changeEmitter)="filterChangeHandler($event,Column.productCode)"
                #productCodeFilter
                ></app-prime-multi-select>
            </div>
        </th>
        <th class="table-header">
            <div class="t-input">
                <app-prime-multi-select
                [options]="uniqueValues?.[Column.ruleName]"
                (changeEmitter)="filterChangeHandler($event,Column.ruleName)"
                #ruleNameFilter

                ></app-prime-multi-select>
            </div>
        </th>
        <th class="table-header">
            <div class="t-input">
                <app-prime-multi-select
                [options]="uniqueValues?.[Column.marketName]"
                (changeEmitter)="filterChangeHandler($event,Column.marketName)"
                #marketNameFilter
                ></app-prime-multi-select>
            </div>
        </th>
        <th class="table-header">
            <div class="t-input">
                <app-prime-multi-select
                [options]="uniqueValues?.[Column.businessUnit]"
                (changeEmitter)="filterChangeHandler($event,Column.businessUnit)"
                #businessUnitFilter
                ></app-prime-multi-select>
            </div>
        </th>
        <th class="table-header">
            <div class="t-input">
                <app-prime-multi-select
                [options]="uniqueValues?.[Column.therapeutic]"
                (changeEmitter)="filterChangeHandler($event,Column.therapeutic)"
                #therapeuticFilter
                ></app-prime-multi-select>
            </div>
        </th>
        <th class="table-header">
            <div class="t-input">
                <app-prime-multi-select
                [options]="uniqueValues?.[Column.ruleType]"
                (changeEmitter)="filterChangeHandler($event,Column.ruleType)"
                #ruleTypeFilter
                ></app-prime-multi-select>
            </div>
        </th>   
        <th class="table-header">
            <div class="t-input">
                <app-prime-multi-select
                [options]="uniqueValues?.[Column.startDate]"
                (changeEmitter)="filterChangeHandler($event,Column.startDate)"
                #startDateFilter
                ></app-prime-multi-select>
            </div>
        </th>
        <th class="table-header">
            <div class="t-input">
                <app-prime-multi-select
                [options]="uniqueValues?.[Column.endDate]"
                (changeEmitter)="filterChangeHandler($event,Column.endDate)"
                #endDateFilter
                ></app-prime-multi-select>
            </div>
        </th>
            <th class="table-header"></th>
    </tr>
    </ng-template>
        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
            <tr>
                <td></td>
                <td>
                    <div class="t-bd-txt l-padd t-name-cell">
                        {{ data.PROD_CD }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-sts-cell"
                    [pTooltip]="data.BR_NM" 
                    tooltipPosition="top"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                    [tooltipDisabled]="26 > data.BR_NM?.length"
                    >
                        {{ data.BR_NM }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-crdon-cell">
                        {{ data.MKT_NM }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-crdby-cell">
                        {{ data.BU_CD }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt">
                        {{ data.TC_CD }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt">
                        {{ data.ACTION }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-date-cell"
                    [pTooltip]="data.START_DATE | formateDatePipe" 
                        tooltipPosition="top"
                        [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                        [tooltipDisabled]="10 > data.START_DATE?.length"
                    >
                        {{ data.START_DATE | formateDatePipe}}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-date-cell"
                    [pTooltip]="data.END_DATE | formateDatePipe" 
                        tooltipPosition="top"
                        [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                        [tooltipDisabled]="10 > data.END_DATE?.length"
                    >
                        {{ data.END_DATE | formateDatePipe}}
                    </div>
                </td>
                <td>
                    <div class="edit-t-cell" >
                        <span style="cursor: pointer">
                            <app-pencil-i-svg (click)="editHandler(data)"></app-pencil-i-svg>
                        </span>
                        <span style="cursor: pointer">
                            <app-delete-i-svg (click)="deleteHandler(rowIndex)"></app-delete-i-svg>
                        </span>
                    </div>
                </td>
            </tr>
        </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <tr >
            <!-- <td [attr.colspan]="columns.length">No records found</td> -->
            <td colspan="10">No records found</td>
        </tr>
    </ng-template>
</p-table>
<div *ngIf="deletePopupModel">
    <app-delete-popup
        [deletePopupModel]="deletePopupModel"
        (deleteHandler)="deletePopupDeleteHandler()"
    ></app-delete-popup>
</div>
<!-- greenToast -->
<p-toast position="top-center" key="su" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
      <div class="toast-container bg-g">
        <div class="icon">
          <i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
        </div>
        <div class="toast-desc">
          {{ message.detail }}
        </div>
      </div>
    </ng-template>
  </p-toast>
      <!-- redToast -->
  <p-toast position="top-center" key="err" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="toast-container bg-r">
            <div class="icon">
                <i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
            </div>
            <div class="toast-desc">
                {{ message.detail }}
            </div>
        </div>
    </ng-template>
</p-toast>
<!-- yellow toast -->
<p-toast position="top-center" key="wrn" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="toast-container bg-y">
            <div class="icon">
                <i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
            </div>
            <div class="toast-desc">
                {{ message.detail }}
            </div>
        </div>
    </ng-template>
</p-toast>
<div *ngIf="loaderService.loaderState | async as loaderVisible" class="progress-spinner">
    <app-progress-spinner></app-progress-spinner>
</div>
</div>