<div class="wrap" (click)="list()" [ngClass]="{ selectedMainMenu: expanded === true }">
	<div matTooltip="Stocks" matTooltipClass="menu-tooltip">
		<svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				[attr.fill]="color"
				d="M18 14.5C18 14.88 17.79 15.21 17.47 15.38L9.57 19.82C9.41 19.94 9.21 20 9 20C8.79 20 8.59 19.94 8.43 19.82L0.530004 15.38C0.369683 15.2958 0.235516 15.1692 0.142077 15.014C0.048638 14.8589 -0.00049917 14.6811 3.82324e-06 14.5V5.5C3.82324e-06 5.12 0.210004 4.79 0.530004 4.62L8.43 0.18C8.59 0.0600001 8.79 0 9 0C9.21 0 9.41 0.0600001 9.57 0.18L17.47 4.62C17.79 4.79 18 5.12 18 5.5V14.5ZM9 2.15L3.04 5.5L9 8.85L14.96 5.5L9 2.15ZM2 13.91L8 17.29V10.58L2 7.21V13.91ZM16 13.91V7.21L10 10.58V17.29L16 13.91Z"
				fill="black"
			/>
		</svg>
	</div>

	<div style="padding-left: 0.6rem">Stocks</div>
</div>
