<div class="data-profile-container">
	<div class="hdr-container">
		<div class="left-content">
			<div class="svg">
				<app-data-quality-rule></app-data-quality-rule>
			</div>
			<div class="txt-content-container">
				<div class="breadcrum">
					Data Engineering
					<i class="pi pi-angle-right" style="color: #0052cc; font-size: inherit"></i>
					{{tab_label}} <i class="pi pi-angle-right" style="color: #0052cc; font-size: inherit"></i>
				</div>
				<div class="hdr-text">Data Lineage</div>
			</div>
			<div class="tab-view-container">
				<p-tabView (onChange)="setCurrentTab($event)">
					<p-tabPanel [header]="tab" *ngFor="let tab of this.tabs; let i = index" [selected]="i == 0">
					</p-tabPanel>
				</p-tabView>
			</div>
		</div>
	</div>

	<form [formGroup]="form" #myForm="ngForm" class="profile-filter">
		<div class="row-2" *ngIf="currentTab == 'ATRRIBUTE LEVEL'">
			<div>
				<div class="dl-form-elems">
					<div style="align-self: center; padding-right: 2rem">Data Zone</div>
					<app-prime-single-select
						[control]="getControlByName('data_zone')"
						[options]="dataZoneOptions"
						(changeEvent)="changeEventHandler('datazone')"
					></app-prime-single-select>
				</div>

				<div class="dl-form-elems">
					<div>Data Set</div>
					<app-prime-single-select
						[control]="getControlByName('dataset_name')"
						[options]="datasetNameOptions"
						(changeEvent)="changeEventHandler('datasetname')"
					></app-prime-single-select>
				</div>
				<div class="dl-form-elems">
					<div>Column Name</div>
					<app-prime-single-select
						[control]="getControlByName('dataset_name')"
						[options]="datasetNameOptions"
						(changeEvent)="changeEventHandler('datasetname')"
					></app-prime-single-select>
				</div>
			</div>
		</div>

		<div class="row-2" *ngIf="currentTab == 'ENTITY LEVEL'">
			<div>
				<div class="dl-form-elems">
					<div style="align-self: center; padding-right: 2rem">Data Zone</div>
					<app-prime-single-select
						[control]="getControlByName('data_zone')"
						[options]="dataZoneOptions"
						(changeEvent)="changeEventHandler('datazone')"
					></app-prime-single-select>
				</div>

				<div class="dl-form-elems">
					<div>Data Set</div>
					<app-prime-single-select
						[control]="getControlByName('dataset_name')"
						[options]="datasetNameOptions"
						(changeEvent)="changeEventHandler('datasetname')"
					></app-prime-single-select>
				</div>
			</div>
		</div>

		<div class="btn-run-profile">
			<p-button label="Submit" [disabled]="!myForm.valid"></p-button>
		</div>
	</form>

	<div>
		<div style="text-align: center" *ngIf="!isLoaded" class="profile-view-section">
			<div>Select parameters above and click SUBMIT button to see information here.</div>
		</div>
		<div style="text-align: center" *ngIf="isLoaded" class="profile-view-section">
			<div>
				<div id="mynetwork" #mynetwork></div>
			</div>
		</div>
	</div>
</div>
