.data-profile-container {
	background-color: #f9f9f9;
	padding: 10px 33px 5rem;
	min-height: 100vh;
	width: 100%;

	.hdr-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 1rem;
		.left-content {
			display: flex;
			align-items: center;
			gap: 1.25rem;
		}

		.breadcrum {
			font-size: 0.8rem;
			line-height: 17px;
			color: #0052cc;
			display: flex;
			gap: 5px;
			align-items: center;
		}
		.hdr-text {
			font-size: large;
			letter-spacing: 3px;
			line-height: 37px;
			font-weight: 300;
		}
		.rule-text {
			font-size: 0.9rem;
			line-height: 17px;
			color: gray;
		}
		.txt-content-container {
			border-right: 1.5px solid #e5e5e5;
			padding-right: 19px;
		}
	}
}

.profile-view-section {
	padding: 0 2rem 2rem 2rem;
	background-color: #fff;
	min-height: 50vh;
	display: grid;
	place-items: center;

	border: 1px solid #e5e5e5;
}

.profile-filter {
	padding: 1rem;
}

.dropdown-filters {
	display: flex;
}

.btn-run-profile {
	padding-top: 1rem;
	padding-left: 20.75rem;
}

.row-2 {
	padding-left: 11rem;
	padding-top: 1rem;
}

.mid-breadcrumbs {
	background-color: #bcedf8;
	font-size: 0.975rem;
	height: 2.2rem;
	display: flex;
	align-items: center;
	padding-left: 1rem;
}

.sub-menu {
	display: flex;
	height: 2.795rem;
	align-items: center;
	border-bottom: 1px solid #d8d6d6;
	padding: 0 2rem 0 1rem;
}

.sub-menu-1 {
	display: flex;
	margin-left: auto;
	gap: 1.4rem;
}

.overview {
	padding: 0.5rem 3rem 3rem 3rem;
}

.profile-reports {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0.5rem 2rem 2rem 2rem;
	gap: 2rem;
}

.overview-box {
	padding: 0.5rem 2rem 2rem 2rem;
}

.overview-box-label {
	font-size: 2rem;
	font-weight: 300;
	padding-top: 1rem;
	padding-bottom: 1.5rem;
}

.overview-header {
	display: flex;
	gap: 1.2rem;
	padding: 0.5rem 0.5rem 1rem 0.5rem;
	align-items: center;
}

.overview-inner {
	border: 1px solid #cdcdcd;
	border-radius: 4px;
	padding: 0.5rem 1rem 1rem 1rem;
}

.overview-btn {
	padding: 0.5rem 1rem;
	background-color: #2a7cd9;
	color: #fff;
	border-radius: 4px;
}

.profile-link {
	color: #2a7cd9;
}

.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	background-color: grey;
	font-size: 12px;
	color: white;
	margin: 0 0.2rem;
}

.profile-sub-title {
	font-size: 1.2rem;
	font-weight: 300;
	padding-bottom: 1rem;
}

.profile-data-grid {
	display: grid;
	grid-template-columns: 1fr 50px;
	height: 2.1rem;
	border-bottom: 1px solid #d8d6d6;
	padding-top: 0.3rem;
	gap: 1rem;
}

.tab-view-container {
	position: relative;
	top: 2.5rem !important;
}

// tab view
::ng-deep {
	.p-tabview .p-tabview-panels {
		background: none;
	}
	.p-tabview .p-tabview-nav li .p-tabview-nav-link {
		color: #2a7cd9;
		background: none;
	}
	// navigation
	.p-tabview .p-tabview-nav {
		background: none !important;
	}
	.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
		background: none;
	}
	.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
		color: #2a7cd9;
	}
}

.dl-form-elems {
	display: grid;
	grid-template-columns: 140px 280px;
	padding: 0.4rem;
}
