<!-- <div class="listbox"> -->
  <!-- <p-listbox
  [options]="options"
  [(ngModel)]="selected"
  [multiple]="true"
  [checkbox]="true"
  optionLabel="name"
  filterBy="label"
  [listStyle]="{ 'max-height': '250px' }"
>
  <ng-template pTemplate="header"> Source Type </ng-template>
  <ng-template pTemplate="filter" let-options="options">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
      <input
        type="text"
        pInputText
        placeholder="Filter"
        [(ngModel)]="filterValue"
        (keyup)="options.filter($event)"
        [size]="15"
        (ngModelChange)="myResetFunction(options)"
      />
    </div>
  </ng-template>
  <ng-template let-options pTemplate="item">
    <div class="country-item">
      <div>{{ options.lable }}</div>
    </div>
  </ng-template>
</p-listbox> -->
  <!-- <p-listbox
    [options]="lisboxData.options"
    [(ngModel)]="selected"
    [multiple]="true"
    [checkbox]="true"
    optionLabel="lable"
    filterBy="label"
    [filter]="true"
    [listStyle]="{ 'max-height': '250px' }"
    [filterPlaceHolder]="'Search ' + lisboxData.head_text"
    (ngModelChange)="onchangeHandler()"
  >
    <ng-template pTemplate="header" class="header-text"
      >{{ lisboxData.head_text }}
    </ng-template>
  </p-listbox>
</div> -->


<div class="listbox-container" [formGroup]="props.formGroup">


  <div class="label" *ngIf="props.label">
    {{props.label}}
  </div>
    <p-listbox 
      [options]="props.options" 
      [formControl]="props.formControl"
      [optionLabel]="props.optionLabel" 
      [filter]="props.filter"
      (onChange)="handleChange()"
      [attr.disabled]="props.disabled"
      [checkbox]="props.checkBox"
      [multiple]="props.multiple"
      
      [listStyle]="{'max-height':'16.25rem'}"
      [style]="{'width':'15rem'}"
    >
    
    <ng-template let-item pTemplate="item">
      <div class="flex align-items-center">
          
        <div class="check-box">
          1
        </div>
        <div class="list-item">
          {{item.key}}
        </div>
        
      </div>
  </ng-template>
  
  </p-listbox>
</div>
