<div class="menu-svg-container">

  <div class="svg-item-container">
      <div class="home-svg">
          <svg width="30" height="24" viewBox="0 0 36 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M18 0.5L0.5 14.5L2.25 16.25L18 4L33.75 16.25L35.5 14.5L18 0.5Z" [attr.fill]="props.activeState ? '#000000' : '#0052cc' " />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5 9.25H14.5V16.25H21.5V9.25ZM19.75 11H16.25V14.5H19.75V11Z" [attr.fill]="props.activeState ? '#000000' : '#0052cc' " />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16.25 28.5V19.75H19.75V28.5H30.25V14.5H28.5V26.75H21.5V18H14.5V26.75H7.5V14.5H5.75V28.5H16.25Z" [attr.fill]="props.activeState ? '#000000' : '#0052cc' " />
              </svg>
      </div>
      <div class="svg-label" [ngClass]="{'active': props.activeState}">
          {{props.label}}
      </div>
  </div>


</div>
