<div class="data-validation-container">
    <div class="export-container">
        <button pButton type="button" [label]="buttonProps.label" 
        (click)="exportExcel()"
        class="p-button-outlined"></button>
        <!-- <app-single-select></app-single-select> -->

        <div class="new-connector" (click)="handleNewQueryClick()">
            <div class="icon">
                <i class="pi pi-plus-circle" style="color: #0052cc; font-size: 1.688rem"></i>
            </div>
            <div class="new-connector-text"> New Rule</div>
        </div>
    </div>

    <div class="table-container">
        <p-table 
        [value]="table_data_copy"
        [paginator]="true"
        [rows]="10"
        [alwaysShowPaginator]="true"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [rowHover]="true"
        [scrollable]="true"
        [(first)]="tablePageNumber"
    >
        <ng-template pTemplate="header" >
            <tr>
                <th class="table-header" (click)="resetAll()" style="min-width: 52px; cursor: pointer;">
                    <div class="t-hd-svg" ><app-t-filter-svg></app-t-filter-svg></div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt ">Data Zone</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Data Provider</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Dataset Name</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Attribute</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Rule Type</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Value 1</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Value 2</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">DQ Severity</div>
                </th>
                <!-- <th class="table-header">
                    <div class="t-hd-txt">Timeline Attribute</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Group By</div>
                </th>

                 <th class="table-header">
                    <div class="t-hd-txt">Filter Clause</div>
                </th> -->
                <th class="table-header">
                    <div class="t-hd-txt">Status</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Action</div>
                </th>
            </tr>
            <tr>
                <th class="table-header">
                    
                </th>
                <th class="table-header">
                    <div class="t-input ">
                        <app-prime-multi-select
                            #dataZone
                            [options]="uniqueValues?.[COLUMNS.dataZone]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.dataZone)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #dataProvider
                            [options]="uniqueValues?.[COLUMNS.dataProvider]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.dataProvider)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #dataSetName
                            [options]="uniqueValues?.[COLUMNS.dataSetName]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.dataSetName)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #attribute
                            [options]="uniqueValues?.[COLUMNS.attribute]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.attribute)"              
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #ruleType
                            [options]="uniqueValues?.[COLUMNS.ruleType]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.ruleType)"              
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                             #value_1
                            [options]="uniqueValues?.[COLUMNS.value_1]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.value_1)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        #value_2
                        [options]="uniqueValues?.[COLUMNS.value_2]"
                        (changeEmitter)="multiselectOnchange($event,COLUMNS.value_2)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #dqSeverity
                            [options]="uniqueValues?.[COLUMNS.dqSeverity]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.dqSeverity)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                            #status
                            [options]="uniqueValues?.[COLUMNS.status]"
                            (changeEmitter)="multiselectOnchange($event,COLUMNS.status)"
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <!-- <app-prime-multi-select
                        #dqSeverity
                        [options]="uniqueValues?.[COLUMNS.dqSeverity]"
                        (changeEmitter)="multiselectOnchange($event,COLUMNS.dqSeverity)"
                    ></app-prime-multi-select> -->
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
            <tr>
                <td>
                    <div class="t-bd-switch">
                        <!-- data.STATUS === 'Active' ? true :  -->
                        <p-inputSwitch [(ngModel)]="data.SWITCH_STATUS " 
                        (ngModelChange)="inputSwitchOnchange(data)"></p-inputSwitch>
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width ">
                        {{ data.DATA_ZONE }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width "
                    [pTooltip]="data.DATA_PROVIDER" 
                    tooltipPosition="top"
                    [tooltipDisabled]="25 > data.DATA_PROVIDER?.length"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                    >
                        {{ data.DATA_PROVIDER }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width "
                    [pTooltip]="data.DATASET_NAME" 
                    tooltipPosition="top"
                    [tooltipDisabled]="25 > data.DATASET_NAME?.length"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200" 
                    >
                        {{ data.DATASET_NAME }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width "
                    [pTooltip]="data.ATTRIBUTE" 
                    tooltipPosition="top"
                    [tooltipDisabled]="25 > data.ATTRIBUTE?.length"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                    >
                        {{ data.ATTRIBUTE }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width "
                    >
                        {{ data.DQ_RULE_TYPE }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width "
                    [pTooltip]="data.VALUE_1" 
                    tooltipPosition="top"
                    [tooltipDisabled]="25 > data.VALUE_1?.length"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                    >
                        {{ data.VALUE_1 }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width "
                    [pTooltip]="data.VALUE_2" 
                    tooltipPosition="top"
                    [tooltipDisabled]="25 > data.VALUE_2?.length"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                    >
                        {{ data.VALUE_2 }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-cell-fixed-width ">
                        {{ data.RULE_SEVERITY }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt  t-cell-fixed-width">
                        {{ data.STATUS }}
                    </div>
                </td>
                <td>
                    <div class="edit-t-cell">
                        <span style="cursor: pointer" (click)="editBtnHandler(data)">
                            <app-pencil-i-svg></app-pencil-i-svg>
                        </span>
                        <span style="cursor: pointer" (click)="deleteBtnHandler(data)">
                            <app-delete-i-svg></app-delete-i-svg>
                        </span>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns >
            <tr>
                <!-- <td [attr.colspan]="columns.length">No records found</td> -->
                <td colspan="11">
                    <div class="t-Error-cell">
                        No records found
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    </div>
    <div class="popup-container" *ngIf="popupModelData.addDisplayModal">
        <app-data-validation-popup [popupModelData]="popupModelData"
        (submitResponse)="addPopupSubmitHandler($event)"
            ></app-data-validation-popup>
    </div>
    <div class="popup-container" *ngIf="popupModelData.editDisplayModal">
        <app-data-validation-edit-popup
        #editPopup
        [popupModelData]="popupModelData"
        (submitResponse)="editPopupSubmitHandler($event)"
            ></app-data-validation-edit-popup>
    </div>
    <div *ngIf="deletePopupModel">
		<app-delete-popup
			[deletePopupModel]="deletePopupModel"
			(deleteHandler)="deleteApiCall()"
		></app-delete-popup>
	</div>
</div>

