

.data-validation-container{

    .export-container{
        display: flex;
        justify-content: flex-start;
        gap: 22px;
        margin-bottom: 0.875rem;
    }

    .table-container{
        overflow-x: auto;
        .edit-t-cell{
            display: flex;
            justify-content: space-between;
             gap: 17px;
        }

        // .text-ellipsis{
        //     width: 159.83px;
        //     text-overflow: ellipsis;
        // }

        .hd-container{
          display: flex;
          flex-direction: column;
          // gap: 5px
        }
        .t-hd-txt{
          line-height: 1.313rem;
          color: #555555;
          font-size: 0.875rem;
          font-weight: 500;
          padding-top: .75rem;
        }
        .t-bd-txt{
          line-height: 1rem;
          color: #333333;
          font-size: 0.813rem;
          padding-left: 10px;
        }
        .t-input{
            padding: 0.5rem 0px;
        }
        .t-cell-fixed-width {
            text-overflow: ellipsis;
            max-width: 27ch;
            white-space: nowrap;
            overflow: hidden;
        }
      .t-hd-svg{
            position: absolute;
            top: 32px;
            left: 23px;
        }
    //    .t-groupBy-cell{
    //         text-overflow: ellipsis;
    //             max-width: 60ch;
    //         white-space: nowrap;
    //         overflow: hidden;
    //     }
        .t-Error-cell{
            max-width: 60ch;
            white-space: nowrap;
        }

        .l-padd{
            padding-left: 1rem;
        }
    }
    .new-connector{
        display: flex;
        gap:10px;
        align-items: center;
        padding: 0px 23px;
        cursor: pointer;
    }
    .new-connector-text{
            color: #0052cc;
    }



}


