.rule-container {
    padding: 1rem;

    .header-container {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        padding-bottom: 1.5rem;

        .header-content {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .header-text {
            font-size: large;
            letter-spacing: 3px;
            line-height: 37px;
            font-weight: 300;
        }

        .breadcrum {
            font-size: 0.8rem;
            line-height: 17px;
            color: #0052cc;
            display: flex;
            gap: 5px;
            align-items: center;
        }

        .connetions-text {
            font-size: 0.9rem;
            line-height: 17px;
            color: gray;
        }


        .body-container {
            display: flex;
            gap: 15px;
        }

    }

    .table-header {
        background-color: var(--hm-primary-color) !important;
        color: #555 !important;

        .t-hd-txt {
            line-height: 1.313rem;
            color: #555555;
            font-size: 0.875rem;
            font-weight: 500;
            padding-top: .75rem;
        }

        .t-hd-svg {
            position: absolute;
            top: 2rem;
            left: 2rem;
        }
    }

    .edit-t-cell {
        display: flex;
        gap: 1rem;
    }

    .t-bd-txt {
        line-height: 1rem;
        color: #333333;
        font-size: 0.813rem;
        padding-left: 10px;
    }

    .t-sts-cell{
        text-overflow: ellipsis;
        max-width: 25ch;
        white-space: nowrap;
        overflow: hidden;
    }

    .progress-spinner {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    

}



::ng-deep {

    .p-toast .p-toast-message .p-toast-message-content {
        padding: 0;

    }

    .p-datatable .p-datatable-thead>tr>th {
        padding: 0rem 0.75rem;
        height: 3rem;
    }

    .p-datatable .p-datatable-thead>tr>th {
        border: none;
    }

    .p-paginator .p-dropdown .p-dropdown-label {
        display: flex;
        align-items: center;
    }

    .p-datatable>.p-datatable-wrapper {
        overflow-x: auto !important;
    }

    .p-datatable-scrollable>.p-datatable-wrapper {
        overflow-y: hidden;
        min-height: 23rem;
    }

    .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
        max-width: 25ch;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
    }
   
}