<div class="rule-container">
    <div class="header-container">
        <div class="header-content">
            <div class="svg">
                <app-rule-library-svg></app-rule-library-svg>
            </div>
            <div class="text-content-container">
                <div class="breadcrum">
                    Data Governance <i class="pi pi-angle-right" style="color: #0052cc; font-size: inherit"></i>
                    {{tab_label}} <i class="pi pi-angle-right" style="color: #0052cc; font-size: inherit"></i>
                </div>
                <div class="header-text">Rule Library</div>
                <div class="connetions-text">{{ table_data?.length || '0' }} Rules</div>
            </div>
        </div>
    </div>
    <div class="rule-body">
        <p-table
        [value]="table_data"
		[paginator]="true"
		[rows]="10"
		[alwaysShowPaginator]="true"
		[showCurrentPageReport]="true"
		currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
		[rowsPerPageOptions]="[5, 10, 25, 50]"
		[rowHover]="true"
		[scrollable]="true"
        [(first)]="tablePageNumber"
        >
        <ng-template pTemplate="header">
            <tr>
                <th class="table-header" style="min-width: 52px; cursor: pointer;">
                    <div class="t-hd-svg" ><app-t-filter-svg (click)="resetAll()"></app-t-filter-svg></div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Rule ID</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Rule Type</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Rule Category</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Data Provider</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Data Set</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Dimensions & Grains</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Metrics</div>
                </th>
                <th class="table-header">
                    <div class="t-hd-txt">Recommended Rule</div>
                </th>
            </tr>
            <tr>
                <th class="table-header"></th>
                <th class="table-header">
                    <div class="t-input l-padd">
                        <app-prime-multi-select
                        [options]="uniqueValues?.[Column.ruleId]"
                        (changeEmitter)="filterChangeHandler($event,Column.ruleId)"
                        #ruleIdFilter
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        [options]="uniqueValues?.[Column.ryleType]"
                        (changeEmitter)="filterChangeHandler($event,Column.ryleType)"
                        #ruleTypeFilter

                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        [options]="uniqueValues?.[Column.ruleCategory]"
                        (changeEmitter)="filterChangeHandler($event,Column.ruleCategory)"
                        #ruleCategoryFilter
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        [options]="uniqueValues?.[Column.dataProvider]"
                        (changeEmitter)="filterChangeHandler($event,Column.dataProvider)"
                        #dataProviderFilter
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        [options]="uniqueValues?.[Column.dataSet]"
                        (changeEmitter)="filterChangeHandler($event,Column.dataSet)"
                        #dataSetFilter
                        ></app-prime-multi-select>
                    </div>
                </th>
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        [options]="uniqueValues?.[Column.dimensionsGrains]"
                        (changeEmitter)="filterChangeHandler($event,Column.dimensionsGrains)"
                         #dimensionFilter
                        ></app-prime-multi-select>
                    </div>
                </th>   
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        [options]="uniqueValues?.[Column.metrics]"
                        (changeEmitter)="filterChangeHandler($event,Column.metrics)"
                         #metricsFilter
                        ></app-prime-multi-select>
                    </div>
                </th>   
                <th class="table-header">
                    <div class="t-input">
                        <app-prime-multi-select
                        [options]="uniqueValues?.[Column.recommendedRule]"
                        (changeEmitter)="filterChangeHandler($event,Column.recommendedRule)"
                         #recommendedFilter
                        ></app-prime-multi-select>
                    </div>
                </th>   
                    
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                <tr>
                    <td></td>
                    <td>
                        <div class="t-bd-txt l-padd t-name-cell">
                            {{ data.RULE_ID }}
                        </div>
                    </td>
                    <td>
                        <div class="t-bd-txt t-sts-cell">
                            {{ data.RULE_TYPE }}
                        </div>
                    </td>
                    <td>
                        <div class="t-bd-txt t-crdon-cell">
                            {{ data.RULE_CATEGORY }}
                        </div>
                    </td>
                    <td>
                        <div class="t-bd-txt t-crdby-cell">
                            {{ data.DATA_PROVIDER }}
                        </div>
                    </td>
                    <td>
                        <div
                         class="t-bd-txt t-type-cell"
                         >
                            {{ data.DATASET }}
                        </div>
                    </td>
                    <td>
                        <div class="t-bd-txt t-sts-cell"
                        [pTooltip]="data.DIMENSION_GRAINS" 
                        tooltipPosition="top"
                        [tooltipDisabled]="26 > data.DIMENSION_GRAINS?.length"
                        [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                        >
                            {{ data.DIMENSION_GRAINS }}
                        </div>
                    </td>
                      
                    <td>
                        <div class="t-bd-txt">
                            {{ data.METRICS }}
                        </div>
                    </td>
                    <td>
                        <div class="t-bd-txt t-sts-cell"
                        [pTooltip]="data.RECOMMENDED_RULE" 
                        tooltipPosition="top"
                        [tooltipDisabled]="26 > data.RECOMMENDED_RULE?.length"
                        [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                        >
                            {{ data.RECOMMENDED_RULE }}
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr >
                    <td colspan="9">No records found</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div *ngIf="loaderService.loaderState | async as loaderVisible" class="progress-spinner">
        <app-progress-spinner></app-progress-spinner>
      </div>
</div>
