<div class="bar-chart-wrap">

<div class="b-heading">
  Bar Charts
</div>
<div class="line-chart-wrap">
  <div class="b-canvas">
<canvas baseChart class="chart"
        [data]="barChartData"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [type]="barChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
</canvas>
</div>



</div>
<button class="button-9" (click)="randomize()">Update</button>

</div>
