.bar-chart-wrap {
  padding: 2rem;
}
.b-heading {
  padding: 1rem;
    font-size: 1.6rem;
    font-weight: 200;
    letter-spacing: 1px;
}

.b-canvas {
  width: 600px;
  height: 400px;
  margin: 0 auto;
}
