.new-user-body{
    border-top: 1px solid lightgray;
    height: 100%;
    .new-user-body-2{
    display: grid;
    grid-gap: 1rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
    height: 90%;
    overflow-y: auto;
    .new-user-flex{
     display: flex;
     gap: 1rem;
     padding: 0 10rem;
     align-items: center;
     .new-user-box{
         flex-grow: 1;
     }
     .new-user-radioButton{
        display: flex;
        gap: 0.5rem;
     }
    }
    .new-user-flex>*:first-child{
     flex: 0 0 20%;
     text-align: right;
    }
  }
    .new-user-button{
     display: flex;
     gap: 1rem;
     padding: 0.5rem;
     justify-content: flex-end;
     border-top: 1px solid lightgray;
     position: absolute;
      bottom: 0;
      width: 100%;
      background-color: #FFFFFF;
    }
 }
 ::ng-deep{
    .p-dialog .p-dialog-content{
        padding: 0;
    }
    .p-dropdown-items-wrapper{
        max-height: 8.2rem !important;
    }
    .p-error{
        color: #B00020;
        font-size: 13px;
    }
    .p-dialog-content {
        overflow-y: hidden;
    }
} 