<div class="wrap">
    <div>
      <div class="hero">
        <div>DataZymes Harmony - Cloud Data Platform
          to manage all Data sources</div>
        <img src="/assets/svg/hero.svg" />
      </div>
  
    </div>
    <div class="middle">
      <div class="logo">
        <img src="../../../../assets/dz-logo.webp" alt="img" width="240px">
        <img src="../../../../assets/HARMONY.svg" alt="img" width="240px" >
      </div>
   <div class="login-form">
        <div class="frgt-psswrd-txt">FORGOT PASSWORD</div>
        <div *ngIf="!apiResponse">
          <label class="i-label">REGISTERED EMAIL ID</label>
          <span class="p-input-icon-right">
            <i class="pi pi-envelope" style="cursor: pointer;"></i>
            <input
              type="text"
              pInputText
              (keyup.enter)="handleClick()"
              [formControl]="user"
              placeholder=""
              class="full-width p-inputtext-sm"
            />
          </span>
          <div class="err-txt-container">
            <span *ngIf="this.user.invalid && (this.user.dirty || this.user.touched || submitted)">
              <small *ngIf="this.user.errors.required" class="err-txt">{{errMsg.require}}</small>
              <small *ngIf="this.user.errors.patternInvalid" class="err-txt">{{errMsg.email}}</small>
            </span>
           </div>
        </div>
        <div *ngIf="!apiResponse" class="login-btn-container">
          <button pButton type="button" label="REQUEST RESET" class="login-btn" (click)="handleClick()" ></button>
        </div>
        <div *ngIf="apiResponse" class="response-container">
            <div class="container-1">
                <div class="icon">
                    <img src="../../assets/charm_circle-tick.svg" alt="img">
                </div>
                <div class="desc-txt">
                    Email has been sent!
                </div>
            </div>
            <div class="container-2">
                Note: If the email ID you entered is correct, you will receive a password reset email in your inbox.
            </div>
            
        </div>
      </div> 
      <div class="return-sign-in-text">
        <a (click)="handleReturnSignInClick()"><i class="pi pi-arrow-left" style="color: #2A7CD9"></i> Return to Sign in</a>
       </div>
      <div class="copyright">
        Copyright 2022, Datazymes Inc. All rights reserved.
      </div>
    </div>
    <div>&nbsp;</div>
    <div *ngIf="(loaderService.loaderState | async) as loaderVisible " class="progress-spinner">
      <app-progress-spinner></app-progress-spinner>
    </div>
</div>