.wrap {
	display: grid;
	grid-template-columns: 3fr 420px 1fr;
	height: 100vh;

	.middle {
		display: flex;
		  flex-direction: column;
		//   justify-content: space-between;
		padding: 2rem 3.5rem;
	//   height: 100%; /* height Fixed*/
		box-shadow: 0px 0px 50px rgba(42, 124, 217, 0.15);
	}

	.logo {
		padding-top: 3rem;

		text-align: center;
		border-bottom: 1px solid #BAE3FB;
	}

	.login-form {
		display: flex;
		flex-direction: column;
		// padding: 2rem;
		gap: 1rem;
		width: 100%;
	}

	// .login-form div:first-child {
	// 	padding: 2rem 0 0.5rem;
	// 	color: #3F51B5;
	// 	font-weight: 600;
	// 	font-size: 1.2rem;
	// 	text-transform: uppercase;
	// 	letter-spacing: 1px;
    //     text-align: center;
	// }

	.frgt-psswrd-txt{
		padding: 2rem 0 0.5rem;
			color: #3F51B5;
			font-weight: 600;
			font-size: 1.2rem;
			text-transform: uppercase;
			letter-spacing: 1px;
		    text-align: center;
	}	

	// .middle div:last-child {
	// 	margin-top: auto; /* push the last div to the bottom */

	//   }

	  .login-btn-container {
		padding: 2.5rem 0 0 0;
	  }

	  .sso-login {
		color: var(--href-text-color);
		font-weight: 400;
		font-size: 0.875rem;
		text-align: center;
		padding: 2.5rem 1rem 3.5rem;
	  }

	  /* Set the font size and color of the text */
	 .copyright {
		font-size: 11px;
		line-height: 28px;
		color: #999999;
		text-align: center;
		margin-top: auto;
	  }

	  .p-input-icon-right, .full-width {
		width: 100%;
	  }


	  .p-button {
		width: 100%;
	  }
	  .p-button:hover{
        background: #5161bb !important;
      }
    
    .p-button:enabled:active ,.p-button:enabled:focus{
        background: #3F51B5;
      }

	  .hero {
		display: grid;
		height: 100vh;
		place-content: center;
	  }

	  .hero div:first-child {
		color: #717171;
		font-weight: 400;
		font-size: 1.2rem;
		width: 40ch;
		text-align: center;
		line-height: 1.6rem;
	  }
	  .err-txt-container{
		height: 1.083rem;
	  }
	
	  .err-txt{
		color: #B00020;
		font-size: 13px;
	  }
	  .crd-err{

		text-align: center;
	
	  }
	  .progress-spinner{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
	.i-label{
		font-size: 12px;
		line-height: 18px;
		color: #717171;
		text-transform: uppercase;
	}

    .return-sign-in-text{
        color: #2A7CD9;
        font-size: .85rem;
        line-height: 1.25rem;
        margin-top: 5rem;
        cursor: pointer;
    }
    .response-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .container-1{
            display: flex;
            gap: .5rem;
            align-items: center;
            .desc-txt{
				font-size: 0.875rem;
				line-height: 24px;
            }
        }

        .container-2{
			margin-top: 2rem;
			font-size: 0.75rem;
			line-height: 18px;
			color: #555555;
        }
    }

}

// :host ::ng-deep{ 
// 	.p-button:enabled:active{
// 	background: #3F51B5!important;
// }
// }
	

