// METHOD - 1
.side-nav {
	width: 200px;
	background-color: #f2f2f2;
	height: calc(100vh - 50px);
}

.menu-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu-item {
	padding: 10px;
	cursor: pointer;
}

.menu-item:hover {
	background-color: #ddd;
}

.sub-menu {
	display: none;
}

.menu-item:hover > .sub-menu {
	display: block;
}

.sub-menu-item {
	padding: 10px 20px;
}

.sub-menu-item:hover {
	background-color: #ddd;
}

//METHOD - 2

// .side-nav {
// 	width: 200px;
// 	background-color: #f2f2f2;
// }

// .menu-list {
// 	list-style: none;
// 	margin: 0;
// 	padding: 0;
// }

// .menu-item {
// 	padding: 10px;
// 	cursor: pointer;
// 	position: relative;
// }

// .menu-item:hover {
// 	background-color: #ddd;
// }

// .sub-menu {
// 	display: none;
// 	position: absolute;
// 	left: 100%;
// 	top: 0;
// }

// .menu-item:hover > .sub-menu {
// 	display: block;
// }

// .sub-menu-item {
// 	padding: 10px 20px;
// 	background-color: #f2f2f2;
// 	width: max-content;
// 	list-style: none;
// }

// .sub-menu-item:hover {
// 	background-color: #ddd;
// }

// .menu-list {
// 	list-style: none;
// 	margin: 0;
// 	padding: 0;
// }

// .menu-item::after {
// 	content: '\2192';
// 	position: absolute;
// 	right: 10px;
// 	top: 50%;
// 	transform: translateY(-50%);
// 	visibility: hidden;
// }

// .menu-item:hover {
// 	background-color: #ddd;
// }

// .menu-item:hover::after {
// 	visibility: visible;
// }
