<nav class="side-nav">
	<ul class="menu-list">
		<li class="menu-item">Menu 1</li>
		<li class="menu-item">
			Menu 2
			<ul class="sub-menu">
				<li class="sub-menu-item">Sub-menu 1</li>
				<li class="sub-menu-item">Sub-menu 2</li>
			</ul>
		</li>
		<li class="menu-item" (click)="navigateToUserDashboard()">Admin</li>
	</ul>
</nav>
