<div class="new-user-body"  [formGroup]="NewUserConfigForm">
    <div class="new-user-body-2">
    <div class="new-user-flex">
        <div>Group Name</div>
        <div class="new-user-box">
            <p-dropdown
            [options]="groupData"
             placeholder="Select" 
             [style]="{width: '100%'}"
             formControlName="groupname"
      ></p-dropdown>
      <div *ngIf="NewUserConfigForm.controls['groupname'].invalid && NewUserConfigForm.controls['groupname'].touched">
        <small class="p-error">This field is required</small>
      </div>
        </div>
       
    </div>
    <div class="new-user-flex">
        <div>Tenant Name</div>
        <div class="new-user-box">
            <p-dropdown
            [options]="tenantNameData"
            placeholder="Select" 
            [style]="{width: '100%'}"
            formControlName="tenantName"
         ></p-dropdown>
            <div *ngIf="NewUserConfigForm.controls['tenantName'].invalid && NewUserConfigForm.controls['tenantName'].touched">
        <small class="p-error">This field is required</small>
      </div>
        </div>
    </div>
    <div class="new-user-flex">
        <div>Module</div>
        <div class="new-user-box">
        <p-dropdown
        [options]="moduleData"
         placeholder="Select" 
         [style]="{width: '100%'}"
         formControlName="module"
      ></p-dropdown>
      <div *ngIf="NewUserConfigForm.controls['module'].invalid && NewUserConfigForm.controls['module'].touched">
        <small class="p-error">This field is required</small>
      </div>
        </div>
    </div>
    <div class="new-user-flex">
        <div>Active</div>
        <div class="new-user-radioButton p-field-radiobutton">
            <p-radioButton name="active" value="Y" formControlName="active"></p-radioButton>
            <label for="yes">Yes</label>
        </div>
        <div class="new-user-radioButton p-field-radiobutton">
            <p-radioButton name="active" value="N" formControlName="active"></p-radioButton>
            <label for="no">No</label>
        </div>
    </div>
</div>
    <div class="new-user-button">
        <button
         pButton type="button" 
         label="Cancel" 
         class="p-button-sm" 
         class="p-button-text"
         (click)="cancelButtonHandler()"
        ></button>
        <p-button 
        label="Save" 
        class="p-button-sm" 
        type="submit" 
        (click)="onSaveHandler()"
         ></p-button>
    </div>
    <div *ngIf="loaderService.loaderState | async as loaderVisible" class="progress-spinner">
        <app-progress-spinner></app-progress-spinner>
      </div>
</div>
