.users-page {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
  // align-items: ;
  gap: 25px;
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    // margin-top: 20px;
    .conatiner-1 {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
      padding: 15px 25px;
      border-right: 1px solid gray;
    }

    .header-text {
      line-height: 3rem;
      font-size: x-large;
      font-weight: 500;
    }

    .conatiner-2 {
      padding: 25px 15px;
    }
  }

  .active-user-text {
    margin-left: 30px;
  }

  .body {
    display: flex;

    justify-content: space-between;
    align-items: center;

    .conatiner-1 {
      display: flex;
      align-items: center;
      gap: 50px;

      .download-btn {
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;
      }
    }
  }
  .download-text {
    color: #005cb0;
  }
}
