<div class="users-page">
  <div><app-breadcrumbs [breadCrumData]="breadCrumData"></app-breadcrumbs></div>
  <div class="header">
    <div class="conatiner-1">
      <div class="img">
        <img
          src="../../../assets/ph_users-three.svg"
          alt="user"
          height="32px"
          width="32px"
        />
      </div>
      <div class="header-text">User</div>
    </div>
    <div class="container-2">
      <div class="active-user-text">
        <span> 2 Active Users</span> <span> 0 Locked user</span>
      </div>
    </div>
  </div>

  <div class="body">
    <div class="conatiner-1">
      <div class="btn">
        <p-button
          icon="pi pi-plus"
          label="Add User"
          (click)="handleAddUserClick()"
        ></p-button>
      </div>
      <div class="download-btn" (click)="handleDownoadClick()">
        <div class="">
          <img
            src="../../../assets/ant-design_download-outlined.svg"
            alt="img"
          />
        </div>
        <div class="download-text">Download CSV</div>
      </div>
    </div>
    <div class="container-2">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          type="text"
          pInputText
          [(ngModel)]="serachUser"
          placeholder="Search Users"
          [size]="'40'"
          (ngModelChange)="HandleUserSearch()"
        />
      </span>
    </div>
  </div>
  <div class="table" *ngIf="tabledata?.body">
    <app-tables [tableData]="tabledata"></app-tables>
  </div>
</div>
