.edit-user-body{
    height: 100%;
    border-top: 1px solid lightgray;
    .edit-user-body-2{
        display: grid;
        grid-gap: 1rem;
        padding: 1rem;
        padding-top: 3rem;
        padding-bottom: 5rem;
        height: 85%;
        overflow-y: auto;
    .edit-user-flex{
     display: flex;
     gap: 1rem;
     padding: 0 10rem;
     .edit-user-box{
         flex-grow: 1;
     }
     .edit-user-radioButton{
        display: flex;
        gap: 0.5rem;
     }
    }
    .edit-user-flex>*:first-child{
     flex: 0 0 20%;
     text-align: right;
    }
}
    .edit-user-button{
     display: flex;
     gap: 1rem;
     padding: 0.5rem;
     justify-content: flex-end;
     border-top: 1px solid lightgray;
     position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFF;
  }
  .progress-spinner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
 }
 ::ng-deep{
    .p-dialog .p-dialog-content{
        padding: 0;
    }
    .p-dropdown-items-wrapper{
        max-height: 8.2rem !important;
    }
    .p-error{
        color: #B00020;
        font-size: 13px;
    }
    .p-dialog-content {
        overflow-y: hidden;
    }
} 