<svg width="40" height="36" viewBox="0 0 40 36" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.25 5.5H13V3.18125C13 2.5285 13.5285 2 14.1813 2H25.8187C26.4715 2 27 2.5285 27 3.18125V5.5H28.75V3.09375C28.75 1.524 27.476 0.25 25.9062 0.25H14.0938C12.524 0.25 11.25 1.524 11.25 3.09375V5.5Z" fill="black"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.0067 26.8415C25.3637 26.936 25.7382 26.9867 26.1249 26.9867C26.3402 26.9867 26.5502 26.971 26.7567 26.9412V32.431L30.7432 28.4445L31.9577 29.6607L25.8817 35.7367L19.8057 29.6607L21.0202 28.4445L25.0067 32.431V26.8415ZM21.8374 23.4867H16.0624L19.8057 27.23L18.5894 28.4445L12.5134 22.3685L18.5894 16.2925L19.8057 17.507L15.5759 21.7367H21.8374C21.7797 22.0202 21.7499 22.3125 21.7499 22.6117C21.7499 22.911 21.7797 23.2032 21.8374 23.4867ZM30.4124 21.7367H36.1874L31.9577 17.507L33.1739 16.2925L39.2499 22.3685L33.1739 28.4445L31.9577 27.23L35.7009 23.4867H30.4124C30.4702 23.2032 30.4999 22.911 30.4999 22.6117C30.4999 22.3125 30.4702 22.0202 30.4124 21.7367ZM25.0067 18.382V12.306L21.0202 16.2925L19.8057 15.0762L25.8817 9.00024L31.9577 15.0762L30.7432 16.2925L26.7567 12.306V18.2822C26.5502 18.2525 26.3402 18.2367 26.1249 18.2367C25.7382 18.2367 25.3637 18.2875 25.0067 18.382Z" fill="black"/>
    <path d="M7.75 3.75H4.25V5.5H7.75V3.75Z" fill="black"/>
    <path d="M35.75 3.75H32.25V5.5H35.75V3.75Z" fill="black"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5068 33.5L19.7568 31.75H4.46C3.3785 31.75 2.5 30.8715 2.5 29.79V9.21C2.5 8.1285 3.3785 7.25 4.46 7.25H25.4932L25.8818 6.8615L26.2703 7.25H35.54C36.6215 7.25 37.5 8.1285 37.5 9.21V18.4797L39.25 20.2297V8.3C39.25 6.75475 37.9953 5.5 36.45 5.5H3.55C2.00475 5.5 0.75 6.75475 0.75 8.3V30.7C0.75 32.2452 2.00475 33.5 3.55 33.5H21.5068ZM39.25 24.5068L37.5 26.2568V29.79C37.5 30.8715 36.6215 31.75 35.54 31.75H32.0068L30.2568 33.5H36.45C37.9953 33.5 39.25 32.2452 39.25 30.7V24.5068Z" fill="black"/>
    </svg>
    