<div class="t-filter-container">
    <div class="content">
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="16" fill="none" viewBox="0 0 19 16">
            <path fill="#717171" d="M18.667 4.943 17.724 4l-3.057 3.057L11.609 4l-.942.943L13.724 8l-3.057 3.057.943.943 3.057-3.057L17.725 12l.942-.942L15.609 8l3.058-3.057Z"/>
            <path fill="#717171" d="M1.333 0A1.333 1.333 0 0 0 0 1.333v2.114a1.333 1.333 0 0 0 .39.943l4.943 4.943v5.334A1.333 1.333 0 0 0 6.667 16h2.666a1.333 1.333 0 0 0 1.334-1.333v-1.334H9.333v1.334H6.667V8.78l-.391-.39-4.943-4.943V1.333h13.334v1.334H16V1.333A1.334 1.334 0 0 0 14.667 0H1.333Z"/>
          </svg>
    </div>
</div>