
.multiSelector-container{

    .option-Label{

    }
    .err-txt-container{
        height: 1.083rem;
      }
    
      .err-txt{
        color: #B00020;
        font-size: 13px;
      }
      ::ng-deep{

        .p-multiselect{
        display: flex !important;
        width: 100%;
        max-width: 26ch !important;
        // min-width: 7.5rem !important;
    }
    .p-multiselect .p-multiselect-label{
        width: 16ch;
        padding: 0.375rem 0.625rem;
        line-height: 1.25rem;
    }

    .p-multiselect-panel{

        min-width: 12.5rem !important;
    }

    .p-multiselect-panel .p-multiselect-header{
        padding: 0.375rem 0.625rem;
    }
    // .p-multiselect-panel .p-multiselect-items .p-multiselect-item{
    //     padding: 0.375rem 0.625rem;
    // }
    // .p-multiselect-items-wrapper{

    //     overflow:;
    // }
}
}

