<div   [formGroup]="props.formGroup" class="multiSelector-container">
    <!-- *ngIf="props?.options" -->
  <div *ngIf="props?.label">
    <div>
        {{ props.label }}
    </div>

  </div>

  <!-- hint:::-->
     <!-- multiselect pannel removing header checkbox use  [showHeader]="false" -->

      <p-multiSelect
          [options]="props.options"
          [formControl]="props.formControl"
          [optionLabel]="props?.optionLabel || 'label'"
          [placeholder]="props?.placeholder || 'Select...'"
          (onChange)="handleChange()"
          [attr.disabled]="props?.disabled || false"
          class="multiselect-custom"
          [filter]="props?.filter || false "
          [showHeader]="props?.filter || false"
          appendTo="body"
        >
      </p-multiSelect>
      
      <div class="err-txt-container" *ngIf="props.errorMsg">
        <small
        *ngIf="props.formControl.invalid && (props.formControl.dirty || props.formControl.touched || props.isSubmitted)"
        class="err-txt">{{props.errorMsg}}</small>
       </div>
  </div>


  <!-- hint::: use label/name if needed use below code to customise-->

          <!-- <ng-template let-value pTemplate="props.options">
          <div class="option-container">

              <div class="option-Label">
                {{value.label}}
              </div>
          </div>
      </ng-template> -->
