/* You can add global styles to this file, and also import other style files */
* {
	box-sizing: border-box;

	font-family: 'Ubuntu', sans-serif;

	line-height: 1.2;
	margin: 0;
	padding: 0;
	font-size: 0.95rem;
	font-weight: 400;

	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;

	margin: 0;
	padding: 0;
	box-sizing: border-box;

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }



}

a {
	text-decoration: none;
}
.text-danger {
	color: red;
}
:root {
	--href-text-color: #0052cc;
   --hm-primary-color: #A9D8F2;
   --hm-secondary-color: #EBFBFE;
}
// .ui-dropdown{
// 	width:100% !important;
// }
// menu related top-nav svg
.menu-svg-container{


  .svg-item-container{
      display: flex;
      width: 124px;

      flex-direction: column;
      align-items: center;
      padding: 0.5rem;
    }


  .svg-label{
      line-height: 18px;
      letter-spacing: 0px;
      font-size: 14px;
      min-width: 110px;
      color: #0052cc;
      text-align: center;
      font-weight: 600;
  }
  .active{
      font-weight: 700;
      color: #000000;
  }
}

.menu-svg-container:hover {
  background-color: aliceblue;
  height: 100%;
  cursor: pointer;
}
.config-svg-container:hover{
  cursor: pointer;
}

.home-svg {
  padding-top: 7px;
}


/* CSS */
.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: max-content;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}
