.p_card {
  .card-container {
    display: flex;
    padding: 10px;
    gap: 10px;
    width: 300px;
    height: 200px;
  }
  .card {
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    gap: 30px;
  }
  .header {
    
    font-size: 25px;
    font-weight: 700;
    line-height: 3rem;
    color: #005cb0;
  }
  .body {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  ::ng-deep {
    .p-card .p-card-content {
      padding: 0;
    }
  }
}
