<div class="p_card">
  <p-card>
    <div class="card-container" (click)="handleClick()">
      <div class="img">
        <img [src]="cardData.avatar" alt="alt" />
      </div>
      <div class="card">
        <div class="header">{{ cardData.title }}</div>
        <div *ngIf="cardData?.specificData" class="body">
          <div *ngFor="let item of cardData.specificData | keyvalue">
            {{ item.value }} {{ item.key | titlecase }}
          </div>
        </div>
        <div>{{ cardData.description }}</div>
      </div>
    </div>
  </p-card>
</div>
