<div class="threshold-trend-popup-container" >
    <p-dialog
      [header]="popupModelData.header"
      [(visible)]="popupModelData.displayModal"
      [modal]="true"
      [style]="{ width: '60vw' }"
      [contentStyle]="{ height: '100vh' }"
      [baseZIndex]="10000"
      [draggable]="false"
      [resizable]="false"
    >
      <!-- <div class="input-container">
        <app-single-select [dropdown]="dropdownData"></app-single-select>
        
      </div> -->
      <div class="model-content-container">
          <div class="row-container"> 
            <div class="label-text">
              Data Zone
            </div>
            <div class="single-selector">
              <app-single-select [props]="formProps?.dataZoneProps"
              (changeEvent)="dataZoneValChangeHandler($event)"
              ></app-single-select>
            </div>
          </div>
          <div class="row-container"> 
            <div class="label-text">
              Data Provider
            </div>
            <div class="single-selector" >
              <app-single-select [props]="formProps?.dataProviderProps"
              (changeEvent)="dataProviderValChangeHandler($event)"
              ></app-single-select>
            </div>
          </div>
          <div class="row-container"> 
            <div class="label-text">
              DataSet Name
            </div>
            <div class="single-selector" >
              <app-single-select [props]="formProps?.datasetNameProps"
              (changeEvent)="dataSetNameValChangeHandler($event)"
              ></app-single-select> 
            </div>
          </div>
          <div class="row-container"> 
            <div class="label-text">
              Metric Name
            </div>
            <div class="single-selector" >
              <app-single-select [props]="formProps?.metricNameProps"
              ></app-single-select>
            </div>
          </div>
          <div class="row-container"> 
            <div class="label-text">
              Threshold Value
            </div>
            <div class="single-selector">
                <app-input-text-box [props]="formProps?.thresholdValueProps"></app-input-text-box>
            </div>
          </div>
          <div class="row-container"> 
            <div class="label-text">
              Filter Clause 
            </div>
            <div class="single-selector">
                <app-input-text-box [props]="formProps?.filterClauseProps"></app-input-text-box>
            </div>
          </div>
          <div class="row-container"> 
            <div class="label-text">
                Timeline Attribute
            </div>
            <div class="single-selector">
                <app-single-select [props]="formProps?.timeLineAttributeProps"
                ></app-single-select>
            </div>
          </div>
          <div class="row-container"> 
            <div class="label-text">
              Group By 
            </div>
            <div class="single-selector">
              <!-- <app-single-select [props]="formProps?.groupByProps"
              ></app-single-select> -->
                  <p-multiSelect
                  [options]="formProps.groupByProps.options"
                  [formControl]="formProps.groupByProps.formControl"
                  [optionLabel]="'label'"
                  [placeholder]="'Select...'"
                  [showHeader]=" false"
                  appendTo="body"
                  >
                    </p-multiSelect>
                   <div class="err-txt-container">
                      <small
                      *ngIf="formProps.groupByProps.formControl.invalid && (formProps.groupByProps.formControl.dirty || formProps.groupByProps.formControl.touched || formProps.groupByProps.isSubmitted)"
                      class="err-txt">{{formProps.groupByProps.errorMsg}}</small>
                    </div>
            </div>
          </div>
          <div class="row-container"> 
            <div class="label-text">
              Function
            </div>
            <div class="single-selector" >
              <app-single-select [props]="formProps?.functionProps"
              ></app-single-select>
            </div>
          </div>
          <div class="row-container"> 
            <div class="label-text">
              DQ Severity
            </div>
            <div class="single-selector" >
              <app-single-select [props]="formProps?.dqSeverityProps"
             
              ></app-single-select>
            </div>
          </div>
          <div class="row-container"> 
            <div class="label-text">
              Status
            </div>
            <div class="single-selector">
              <app-single-select [props]="formProps?.statusProps"
              ></app-single-select>
            </div>
          </div>
      </div>
      <ng-template pTemplate="footer">
        <app-non-outlined-button [btnprops]="popupModelData.cancelBtnProps"
        (click)="rejectHandler()"
        ></app-non-outlined-button>
        <app-primary-button  
        (click)="submitHandler()"
        [btnProps]="popupModelData.saveBtnProps"
        >
        <!-- [disabled]="!dropdownData?.formControl" -->
        </app-primary-button>
      </ng-template>
    </p-dialog>


  <div *ngIf="formFieldApiStatus.dataZone ||formFieldApiStatus.dataProvider ||
  formFieldApiStatus.datasetName ||formFieldApiStatus.metricName ||  
  formFieldApiStatus.groupBy ||formFieldApiStatus.function ||  
  formFieldApiStatus.dqSeverity ||formFieldApiStatus.status || formFieldApiStatus.timeLineAttribute
  " 
  class="progress-spinner">
		<app-progress-spinner></app-progress-spinner>
	</div>
  </div>
  