.threshold-variant-popup-container {
	.model-content-container {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		
		padding: 6% 20% 10%;
	}

	.row-container {
		display: grid;
		grid-template-columns: 0.5fr 1fr;
		gap: 15px;
	}
	.label-text {
		display: flex;
		justify-content: flex-end;
		align-items: center;
        color: #555555;
		margin-top: -1.375rem;
	}
    .progress-spinner{
        position: fixed;
        z-index: 100001;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
	.toast-container{
        padding: 10px 5px;
        display: flex;
        gap: 1rem;
        justify-content: left;
        align-items: center;
        height: auto;
        width: 447px;
        padding-left: 1rem;

        .toast-desc{
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 0px;
            color: #FFFFFF;
        }
    }

    .bg-g{
        background-color: #12AA46;
    }
    .bg-r{
        background-color: #cb2e13e8;
    }
    .bg-y{
        background-color: #d9a300;
    }

	.err-txt-container{
        height: 1.083rem;
      }
    
      .err-txt{
        color: #B00020;
        font-size: 13px;
      }

	:host ::ng-deep {

		.p-dialog .p-dialog-content {
			padding: 0px;
		}
		.p-dialog .p-dialog-footer {
			padding: 1rem;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			border-top: 1px solid lightgray;
		}
		.p-dialog .p-dialog-header {
			padding: 1rem;
			border-bottom: 1px solid lightgray;
		
		}
		.p-multiselect{
            display: flex !important;
            width: 100%;
        }
        .p-multiselect .p-multiselect-label{
            padding: 0.5rem 0.625rem;
            font-size: .813rem;
        }
        .p-multiselect-panel .p-multiselect-items .p-multiselect-item span{
          font-size: .813rem;
        }
        .p-multiselect-panel .p-multiselect-header{
            padding: 0.375rem 0.625rem;
        }
        .p-multiselect-panel .p-multiselect-items .p-multiselect-item span{
        //   max-width: 27rem;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
	
	}
	
}

	