<div class="user-container">
<div class="header-container">
    <div class="header-content">
        <div class="svg">
            <app-user-svg></app-user-svg>
        </div>
        <div class="text-content-container">
            <div class="breadcrum">
                Admin <i class="pi pi-angle-right" style="color: #0052cc; font-size: inherit"></i>
                {{tab_label}} <i class="pi pi-angle-right" style="color: #0052cc; font-size: inherit"></i>
            </div>
            <div class="header-text">Users</div>
            <div class="connetions-text">{{ table_data?.length || '0' }} Users</div>
        </div>
    </div>
    <div class="new-user" (click)="newUserHandler()">
        <div class="icon">
            <i class="pi pi-plus-circle" style="color: #0052cc; font-size: 1.688rem"></i>
        </div>
        <div class="new-user-text">New User</div>
    </div>
</div>
<div class="user-body">
    <p-table
    [value]="table_data"
    [paginator]="true"
    [rows]="10"
    [alwaysShowPaginator]="true"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
    [rowHover]="true"
    [scrollable]="true"
    [(first)]="tablePageNumber"
    >
    <ng-template pTemplate="header">
        <tr>
            <th class="table-header" style="min-width: 52px; cursor: pointer;">
                <div class="t-hd-svg" ><app-t-filter-svg (click)="resetAll()"></app-t-filter-svg></div>
            </th>
            <th class="table-header">
                <div class="t-hd-txt">First Name</div>
            </th>
            <th class="table-header">
                <div class="t-hd-txt">Last Name</div>
            </th>
            <th class="table-header">
                <div class="t-hd-txt">User Name</div>
            </th>
            <th class="table-header">
                <div class="t-hd-txt">Reporting Manager</div>
            </th>
            <th class="table-header">
                <div class="t-hd-txt">Email</div>
            </th>
            <th class="table-header">
                <div class="t-hd-txt">Admin</div>
            </th>
            <th class="table-header">
                <div class="t-hd-txt">User Type</div>
            </th>
            <th class="table-header">
                <div class="t-hd-txt">Image</div>
            </th>
            <th class="table-header">
                <div class="t-hd-txt">Active</div>
            </th>
            <th class="table-header">
                <div class="t-hd-txt">Actions</div>
            </th>
        </tr>
        <tr>
            <th class="table-header"></th>
            <th class="table-header">
                <div class="t-input l-padd">
                    <app-prime-multi-select
                    [options]="uniqueValues?.[Column.firstName]"
                    (changeEmitter)="filterChangeHandler($event,Column.firstName)"
                    #userFirstName
                    ></app-prime-multi-select>
                </div>
            </th>
            <th class="table-header">
                <div class="t-input">
                    <app-prime-multi-select
                    [options]="uniqueValues?.[Column.lastName]"
                    (changeEmitter)="filterChangeHandler($event,Column.lastName)"
                    #userLastName

                    ></app-prime-multi-select>
                </div>
            </th>
            <th class="table-header">
                <div class="t-input">
                    <app-prime-multi-select
                    [options]="uniqueValues?.[Column.userName]"
                    (changeEmitter)="filterChangeHandler($event,Column.userName)"
                    #userName
                    ></app-prime-multi-select>
                </div>
            </th>
            <th class="table-header">
                <div class="t-input">
                    <app-prime-multi-select
                    [options]="uniqueValues?.[Column.reportingManager]"
                    (changeEmitter)="filterChangeHandler($event,Column.reportingManager)"
                    #Reporting
                    ></app-prime-multi-select>
                </div>
            </th>
            <th class="table-header">
                <div class="t-input">
                    <app-prime-multi-select
                    [options]="uniqueValues?.[Column.emailId]"
                    (changeEmitter)="filterChangeHandler($event,Column.emailId)"
                    #email
                    ></app-prime-multi-select>
                </div>
            </th>   
                <th class="table-header"></th>
                <th class="table-header"></th>
                <th class="table-header"></th>
                <th class="table-header"></th>
                <th class="table-header"></th>
        </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
            <tr>
                <td></td>
                <td>
                    <div class="t-bd-txt l-padd t-name-cell">
                        {{ data.FIRST_NM}}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-sts-cell">
                        {{ data.LAST_NM }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-crdon-cell">
                        {{ data.USER_NM }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-crdby-cell">
                        {{ data.REPORTING_MANAGER}}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-type-cell user-email"
                    [pTooltip]="data.USER_EMAIL_ID" 
                    tooltipPosition="top"
                    [tooltipDisabled]="29 > data.USER_EMAIL_ID?.length"
                    [autoHide]="true" [showDelay]="200" [hideDelay]="200"
                    >
                        {{ data.USER_EMAIL_ID }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-type-cell">
                        {{ data.ADMN_FLG }}
                    </div>
                </td>
                <td>
                    <div class="t-bd-txt t-comment-cell" *ngIf=" data.LOCL_USER_FLG ">
                        Local User 
                    </div>
                    <div class="t-bd-txt t-comment-cell" *ngIf=" data.LDAP_USER_FLG">
                        LADAP User
                    </div>
                </td>
                  <td>
                    <img [src]="'https://harmony-dev-files.s3.amazonaws.com/'+data.IMG_URL" alt="img" height="50px" width="50px">
                  </td>
                  <td>
                    <div class="t-bd-txt t-comment-cell" *ngIf=" data.ACTV_FLG==='Y' ">
                        Yes
                    </div>
                    <div class="t-bd-txt t-comment-cell" *ngIf=" data.ACTV_FLG==='N' ">
                        No
                    </div>
                  </td>
                <td>
                    <div class="edit-t-cell">
                        <span style="cursor: pointer">
                            <app-pencil-i-svg (click)="editUserHandler(data)"></app-pencil-i-svg>
                        </span>
                        <span style="cursor: pointer">
                            <app-delete-i-svg (click)="deleteHandler(rowIndex)"></app-delete-i-svg>
                        </span>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr >
                <!-- <td [attr.colspan]="columns.length">No records found</td> -->
                <td colspan="11">No records found</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div *ngIf="deletePopupModel">
    <app-delete-popup
        [deletePopupModel]="deletePopupModel"
        (deleteHandler)="deletePopupDeleteHandler()"
    ></app-delete-popup>
</div>
<!-- greenToast -->
<p-toast position="top-center" key="su" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
      <div class="toast-container bg-g">
        <div class="icon">
          <i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
        </div>
        <div class="toast-desc">
          {{ message.detail }}
        </div>
      </div>
    </ng-template>
  </p-toast>
      <!-- redToast -->
  <p-toast position="top-center" key="err" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="toast-container bg-r">
            <div class="icon">
                <i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
            </div>
            <div class="toast-desc">
                {{ message.detail }}
            </div>
        </div>
    </ng-template>
</p-toast>
<!-- yellow toast -->
<p-toast position="top-center" key="wrn" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="toast-container bg-y">
            <div class="icon">
                <i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
            </div>
            <div class="toast-desc">
                {{ message.detail }}
            </div>
        </div>
    </ng-template>
</p-toast>
<div *ngIf="loaderService.loaderState | async as loaderVisible" class="progress-spinner">
    <app-progress-spinner></app-progress-spinner>
  </div>
</div>
