<div class="product-container">
    <p-tabView (onChange)="setCurrentTab($event)">
        <p-tabPanel
        [header]="tab"
        *ngFor="let tab of this.tabs; let i = index"
        [selected]="i == 0"
        >
        </p-tabPanel>
      </p-tabView>
      <div class="business-rule-button">
        <button pButton type="button" label="Export"
        class="p-button-outlined" (click)="exportExcel()"></button>
     </div>
     <div *ngIf="currentTab=='Market Definition'">
        <app-product-market (Data)="handleData($event)"
        
         [savedData]="savedData"></app-product-market>
     </div>
     <div *ngIf="currentTab=='Normalization Factor'">
        <app-product-normalization (Data)="handleData($event)" [savedData]="savedData"></app-product-normalization>
     </div>
</div>