.quality-rule-container{
    background-color: #F9F9F9;
    padding: 10px 33px 5rem;
    min-height: 100vh;
    width: 100%;
    .hdr-container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-content{
            display: flex;
            align-items: center;
            gap: 1.25rem;

        }
        .right-content{
            display: flex;
            gap: 6px;
            .card-1{
                gap: .75rem;
                display: flex;
                padding: 20px;
                border: 1px solid #E5E5E5;
                background-color: #ffffff;
                .text{
                    font-size: 14px;
                    line-height: 20px;
                    color: #2A7CD9;
                    font-weight: 500;
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }
            .card-2{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 22px;
                border: 1px solid #E5E5E5;
                background-color: #ffffff;
                .count-container{
                    padding: 9px;
                }
                .hd-txt{
                    color: #333333;
                    line-height: 24px;
                    font-weight: 500;
                    font-size: medium;
                    text-align: center;
                }
                .count{
                    font-size: x-large;
                    text-align: center;
                }
            }

        }
        .breadcrum{
            font-size: 0.8rem;
            line-height: 17px;
            color: #0052cc;
            display: flex;
            gap: 5px;
            align-items: center;
        }
        .hdr-text{
            font-size: large;
            letter-spacing: 3px;
            line-height: 37px;
            font-weight: 300;
        }
        .rule-text{
            font-size: 0.9rem;
            line-height: 17px;
            color: gray;
        }
        .txt-content-container{
            border-right: 1.5px solid #E5E5E5;
            padding-right: 19px;
        }
    }

    .tab-view-container{
        padding: 28px 0px 0px;
    }
    .export-container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.875rem;
        padding: 0px 5px;
        .rule-selector{
            ::ng-deep{
                 // dropDown
                .p-inputtext{
                    padding: 0.625rem 0.625rem;
                }
                .p-dropdown-label{
                    font-size: 0.875rem;
                    width: 9.188rem;
                }
           
                .p-dropdown .p-inputtext {
                    width: 9.188rem;
                }
            }
        }
    }

    .progress-spinner{
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .table-container{
        overflow-x: auto;
        .edit-t-cell{
            display: flex;
            justify-content: space-between;
             gap: 17px;
        }

        // .text-ellipsis{
        //     width: 159.83px;
        //     text-overflow: ellipsis;
        // }

        .hd-container{
          display: flex;
          flex-direction: column;
          // gap: 5px
        }
        .t-hd-txt{
          line-height: 1.313rem;
          color: #555555;
          font-size: 0.875rem;
          font-weight: 500;
          padding-top: .75rem;
        }
        .t-bd-txt{
          line-height: 1rem;
          color: #333333;
          font-size: 0.813rem;
          padding-left: 10px;
        }

        .t-input{
            padding: 0.5rem 0px;
        }
        .t-cell-fixed-width {
            text-overflow: ellipsis;
            max-width: 26ch;
            white-space: nowrap;
            overflow: hidden;
        }
        .t-hd-svg{
            position: absolute;
            top: 32px;
            left: 23px;

        }
        .t-rulename-cell{
            text-overflow: ellipsis;
            width: 24ch;
            white-space: nowrap;
            overflow: hidden;
        }


        .t-comment-cell{
            text-overflow: ellipsis;
                max-width: 60ch;
            white-space: nowrap;
            overflow: hidden;
           
        }
        .t-Error-cell{
            max-width: 60ch;
            white-space: nowrap;
        }

        .l-padd{
            padding-left: 1rem;
        }
    }
    .toast-container{
        padding: 10px 5px;
        display: flex;
        gap: 1rem;
        justify-content: left;
        align-items: center;
        height: auto;
        width: 447px;
        padding-left: 1rem;

        .toast-desc{
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 0px;
            color: #FFFFFF;
        }
    }

    .bg-g{
        background-color: #12AA46;
    }
    .bg-r{
        background-color: #cb2e13e8;
    }
    .bg-y{
        background-color: #d9a300;
    }
}
:host::ng-deep{
    .p-toast .p-toast-message .p-toast-message-content{
        padding: 0;

    }
    .table-header {
        background-color: var(--hm-primary-color) !important; color: #555 !important;
      }
      .table-sub-hdr{
          background-color:  var(--hm-secondary-color) !important;
      }
      .p-datatable .p-datatable-thead > tr > th{
        padding:0rem 0.75rem;
    }
    .p-datatable .p-datatable-thead > tr > th{
        border: none;
    }
    .p-paginator .p-dropdown .p-dropdown-label {
        display: flex;
        align-items: center;
    }
    .p-datatable>.p-datatable-wrapper{
        overflow-x: auto !important;
    }
    .p-datatable-scrollable>.p-datatable-wrapper{
        overflow-y: hidden;
        // min-height: 23rem;
    }
    .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before{
        background: #FFFFFF;
        border: 1px solid #2A7CD9;
    }
    // .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider::after{

    //     border: 1px solid #2A7CD9;
    // }
    .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider{
        background: #2A7CD9;
    }
    .p-inputswitch .p-inputswitch-slider{
        background:#FFFFFF ;
        border: 1px solid #2A7CD9;
    }
    .p-inputswitch .p-inputswitch-slider:before {
        border: 1px solid #2A7CD9;
    }
    .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
        max-width: 76ch;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
    }
   }


   // tab view
 :host  ::ng-deep{
    .p-tabview .p-tabview-panels{
        background: none;
    }
    .p-tabview .p-tabview-nav li .p-tabview-nav-link{
        color: #2A7CD9;
        background: none;
        font-weight: 1000;
    }
    // navigation
    .p-tabview .p-tabview-nav {
        background: none !important;
    }
    .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
        background: none;
        font-weight: 800;
    }
    .p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
        color:#2A7CD9;
    }
    // .p-tooltip{
    //     max-width: 22.813rem;
    // }
}
td[colspan="8"] {
  width: 100%;
}

 .custom-tooltip .p-tooltip{
    max-width: 22.813rem !important;
}