<div class="quality-rule-container">
    <div class="hdr-container">
        <div class="left-content">
			<div class="svg">
				<app-data-quality-rule></app-data-quality-rule>
			</div>
			<div class="txt-content-container">
				<div class="breadcrum">Data Governance <i class="pi pi-angle-right" style="color: #0052cc; font-size: inherit"></i>
					{{tab_label}} <i class="pi pi-angle-right" style="color: #0052cc; font-size: inherit"></i>
				</div>
				<div class="hdr-text">{{tab_label}} Rules</div>
				<div class="rule-text"> {{rules_record_count || 0}} Rules</div>
			</div>
		</div>
        <div class="right-content" *ngIf="currentTab === 'All'">
            <div class="card-1">
                <div class="svg">
                    <app-rule-library-svg></app-rule-library-svg>
                </div>
                <div class="text">
                    Go To Rule Library
                </div>
            </div>
            <div class="card-2">
                <div class="count-container">
                    <div class="hd-txt">
                        Enabled
                    </div>
                    <div class="count">
                      {{count?.enable || 0}}
                    </div>
                </div>
                <div class="count-container">
                    <div class="hd-txt">
                        Disabled
                    </div>
                    <div class="count">
                    	{{count?.disable || 0}}
                    </div>
                </div>
                <div class="count-container">
                    <div class="hd-txt">
                        Total
                    </div>
                    <div class="count">
                        {{count?.total || 0}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-view-container">


        <p-tabView (onChange)="setCurrentTab($event)">
          <p-tabPanel
          [header]=" tab "
          *ngFor="let tab of this.tabs; let i = index"
          [selected]="i == 0"
          >
          </p-tabPanel>

        </p-tabView>

    </div>

	<!-- quality container -->
    <div class="table-container" [hidden]="currentTab == 'All'? false:true">
		<div class="export-container">
			<button pButton type="button" [label]="buttonProps.label"
      (click)="exportExcel()"
      class="p-button-outlined"></button>
			<div class="rule-selector">
				<p-dropdown
				[options]="showRuleDropDownOption"
				[(ngModel)]="showRuleSelector"
				optionLabel="label"
				optionValue = 'value'
				(onChange)="mainFilterChangeHandler($event.value, COLUMNS.Status)"
				  class="full-width"
				  appendTo="body"
			  ></p-dropdown>
			</div>

		</div>
        <p-table
					[value]="table_data_copy"
					[paginator]="true"
					[rows]="10"
					[alwaysShowPaginator]="true"
					[showCurrentPageReport]="true"
					currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
					[rowsPerPageOptions]="[5, 10, 25, 50]"
					[rowHover]="true"
					[scrollable]="true"
					[(first)]="tablePageNumber"
				>

					<ng-template pTemplate="header">

						<tr>
                            <th class="table-header" style="min-width: 52px; cursor: pointer;">
								<div class="t-hd-svg" (click)="resetAll()"><app-t-filter-svg></app-t-filter-svg></div>
							</th>
							<th class="table-header">
								<div class="t-hd-txt ">Data Zone</div>
							</th>
							<th class="table-header">
								<div class="t-hd-txt">Dataset Name</div>
							</th>
							<th class="table-header">
								<div class="t-hd-txt">Field Name</div>
							</th>
							<th class="table-header">
								<div class="t-hd-txt">Data Type</div>
							</th>
							<th class="table-header">
								<div class="t-hd-txt">Rule Name</div>
							</th>
							<th class="table-header">
								<div class="t-hd-txt">Rule Type</div>
							</th>
							<th class="table-header">
								<div class="t-hd-txt">Rule Description</div>
							</th>
						</tr>
						<tr><th class="table-header">&nbsp;
							</th>
							<th class="table-header" >
								<div class="t-input ">

									<app-prime-multi-select
										#allDataZoneFilter
                                        [options]="uniqueValues?.[COLUMNS.Datazone]"
                                        (changeEmitter)="changeHandler($event, COLUMNS.Datazone)"
									></app-prime-multi-select>
								</div>
							</th>
							<th class="table-header">
								<div class="t-input">
									<app-prime-multi-select
										#allDataNameSetFilter
                                        [options]="uniqueValues?.[COLUMNS.DataSetName]"
                                        (changeEmitter)="changeHandler($event, COLUMNS.DataSetName)"
									></app-prime-multi-select>
								</div>
							</th>
							<th class="table-header">
								<div class="t-input">
									<app-prime-multi-select
										#allFiledNameFilter
                                        [options]="uniqueValues?.[COLUMNS.FieldName]"
                                        (changeEmitter)="changeHandler($event, COLUMNS.FieldName)"
									></app-prime-multi-select>
								</div>
							</th>
							<th class="table-header">
								<div class="t-input">
									<app-prime-multi-select
										#allDataTypeFilter
                                        [options]="uniqueValues?.[COLUMNS.DataType]"
                                        (changeEmitter)="changeHandler($event, COLUMNS.DataType)"
									></app-prime-multi-select>
								</div>
							</th>
							<th class="table-header">
								<div class="t-input">
									<app-prime-multi-select
										#allRuleNameFilter
                                        [options]="uniqueValues?.[COLUMNS.RuleName]"
                                        (changeEmitter)="changeHandler($event, COLUMNS.RuleName)"
									></app-prime-multi-select>
								</div>
							</th>
							<th class="table-header">
								<div class="t-input">
									<app-prime-multi-select
										#allRuleTypeFilter
                                        [options]="uniqueValues?.[COLUMNS.RuleType]"
                                        (changeEmitter)="changeHandler($event, COLUMNS.RuleType)"
									></app-prime-multi-select>
								</div>
							</th>
							<th class="table-header">
								<div class="t-input">
									<app-prime-input-textbox
										#allRuleDescFilter
                                        (changeEmitter)="changeHandler($event,COLUMNS.RuleDesc)"
									></app-prime-input-textbox>
								</div>
							</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
						<tr>
                            <td>
								<div class="t-bd-switch">
                                    <p-inputSwitch [(ngModel)]="data.SWITCH_STATUS" (ngModelChange)="updateRuleStatus(data)"></p-inputSwitch>
								</div>
							</td>
							<td>
								<div #myTd class="t-bd-txt t-cell-fixed-width">
									{{ data.DATAZONE }}
								</div>
							</td>
							<td>
								<div #myTd class="t-bd-txt t-cell-fixed-width "
								[pTooltip]="data.DATASET_NM" 
								tooltipPosition="top"
								[autoHide]="true" [showDelay]="200" [hideDelay]="200"
								tooltipStyleClass="tooltip" 
								[tooltipDisabled]="21 > data.DATASET_NM?.length"
								>
									{{data.DATASET_NM}}
								</div>
							</td>
							<td>
								<div #myTd class="t-bd-txt t-cell-fixed-width "
								[pTooltip]="data.FIELD_NM" 
								tooltipPosition="top"
								[autoHide]="true" [showDelay]="200" [hideDelay]="200"
								tooltipStyleClass="tooltip" 
								[tooltipDisabled]="25 > data.FIELD_NM?.length"
								>
									{{ data.FIELD_NM }}
								</div>
							</td>
							<td>
								<div #myTd class="t-bd-txt t-cell-fixed-width">
									{{ data.DATA_TYP }}
								</div>
							</td>
							<td>
								<div #myTd class="t-bd-txt t-cell-fixed-width"
								[pTooltip]="data.RULE_NM" 
								tooltipPosition="top"
								[autoHide]="true" [showDelay]="200" [hideDelay]="200"
								[tooltipDisabled]="26 > data.RULE_NM?.length"
								>
									{{ data.RULE_NM }}
								</div>
							</td>
							<td>
								<div #myTd class="t-bd-txt t-cell-fixed-width">
									{{ data.RULE_TYP }}
								</div>
							</td>

							<td>
                                <div #myTd class="t-bd-txt t-comment-cell" 
								[pTooltip]="data.RULE_DESC" 
								tooltipPosition="top"
								[autoHide]="true" [showDelay]="200" [hideDelay]="200"
								[tooltipDisabled]="58 > data.RULE_DESC?.length"
								 >
									{{ data.RULE_DESC }}
								</div>
							</td>
							
						</tr>
					</ng-template>
					<ng-template pTemplate="emptymessage" let-columns >
						<tr>
							<!-- <td [attr.colspan]="columns.length">No records found</td> -->
							<td colspan="8">
								<div class="t-Error-cell">
									No records found
								</div>
							</td>
						</tr>
					</ng-template>
				</p-table>
    </div>

	<div *ngIf="currentTab == 'Threshold Variation'">
		<app-threshold-variation
		(record_count)="updateRuleCount($event)"
		(addApiStatusEmitter)="statusHandler($event)"
		></app-threshold-variation>
	
	</div>
	<div *ngIf="currentTab == 'Referential Integrity'">
		<app-referential-integrity
		(addApiStatusEmitter)="statusHandler($event)"
		(record_count)="updateRuleCount($event)"
		></app-referential-integrity>
	</div>

	<div *ngIf="currentTab == 'Control Total'">

		<app-control-total 
		(addApiStatusEmitter)="statusHandler($event)"
		(record_count)="updateRuleCount($event)"
		></app-control-total>
	</div>

	<div *ngIf="currentTab == 'Data Validation'">

		<app-data-validation 
		(addApiStatusEmitter)="statusHandler($event)"
		(record_count)="updateRuleCount($event)"
		></app-data-validation>
	</div>
	<div *ngIf="currentTab == 'Control Sum'">

		<app-control-sum
		(addApiStatusEmitter)="statusHandler($event)"
		(record_count)="updateRuleCount($event)"
		></app-control-sum>
	</div>
	<div *ngIf="currentTab == 'Threshold Trend'">
	
		<app-threshold-trend
		(addApiStatusEmitter)="statusHandler($event)"
		(record_count)="updateRuleCount($event)"
		></app-threshold-trend>
	</div>

    <div *ngIf="loaderService.loaderState | async as loaderVisible" class="progress-spinner">
        <app-progress-spinner></app-progress-spinner>
    </div>
	<p-toast position="top-center" key="suss" [baseZIndex]="5000">
		<ng-template let-message pTemplate="message">
			<div class="toast-container bg-g">
				<div class="icon">
					<i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
				</div>
				<div class="toast-desc">
					{{ message.detail }}
				</div>
			</div>
		</ng-template>
	</p-toast>
	<!-- redToast -->
	<p-toast position="top-center" key="err" [baseZIndex]="5000">
		<ng-template let-message pTemplate="message">
			<div class="toast-container bg-r">
				<div class="icon">
					<i class="pi pi-exclamation-circle" style="color: #ffffff"></i>
				</div>
				<div class="toast-desc">
					{{ message.detail }}
				</div>
			</div>
		</ng-template>
	</p-toast>
	<!-- yellow toast -->
	<p-toast position="top-center" key="wrn" [baseZIndex]="5000">
		<ng-template let-message pTemplate="message">
			<div class="toast-container bg-y">
				<div class="icon">
					<i class="pi pi-exclamation-circle" style="color:#ffffff"></i>
				</div>
				<div class="toast-desc">
					{{ message.detail }}
				</div>
			</div>
		</ng-template>
	</p-toast>
</div>
