<div class="bar-chart-wrap">
	<div class="b-heading">Bubble Charts</div>
	<div class="line-chart-wrap">
		<div class="b-canvas">
			<canvas
				baseChart
				class="chart"
				[data]="bubbleChartData"
				[options]="bubbleChartOptions"
				[legend]="true"
				[type]="bubbleChartType"
			>
			</canvas>
		</div>
	</div>
</div>

<!-- <div>
  <div>
    <div style="display: block">
      <canvas baseChart class="chart"
        [data]="bubbleChartData"
        [options]="bubbleChartOptions"
        [legend]="true"
        [type]="bubbleChartType">
      </canvas>
    </div>
    <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>
  </div>
</div> -->
