<div class="control-sum-popup-container" >
    <p-dialog
      [header]="popupModelData.header"
      [(visible)]="popupModelData.displayModal"
      [modal]="true"
      [style]="{ width: '60vw' }"
      [contentStyle]="{ height: '100vh' }"
      [baseZIndex]="10000"
      [draggable]="false"
      [resizable]="false"
    >
      <div class="model-content-container">

        <div>
          <div class="header-Container">
            <div class="step">
              1
            </div>
            <div class="hd-txt">
              TARGET DATASET
            </div>
          </div>
          <div class="form-body">
            <div class="row-container"> 
              <div class="label-text">
                Data Zone
              </div>
              <div class="single-selector" >
                <app-single-select [props]="formProps?.T_dataZoneProps"
                (changeEvent)="dataZoneValChangeHandler($event,'target')"
                ></app-single-select> 
                <!--(changeEvent)=""  -->
              </div>
            </div>
            <div class="row-container"> 
                <div class="label-text">
                    Data Provider
                </div>
                <div class="single-selector" >
                  <app-single-select [props]="formProps?.T_dataProviderProps"
                  (changeEvent)="dataProviderValChangeHandler($event,'target')"
                  ></app-single-select> 
                </div>
              </div>
            <div class="row-container"> 
              <div class="label-text">
                Dataset Name
              </div>
              <div class="single-selector" >
                <app-single-select [props]="formProps?.T_dataSetNameProps"
                (changeEvent)="datasetNameValChangeHandler($event,'target')"
                ></app-single-select> 
              </div>
            </div>
            <div class="row-container"> 
                <div class="label-text">
                    Metric Name
                </div>
                <div class="single-selector" >
                  <app-single-select [props]="formProps?.T_metricNameProps"
                  (changeEvent)="metricNameValChangeHandler($event,'target')"
                  ></app-single-select> 
                </div>
              </div>
            <div class="row-container"> 
              <div class="label-text">
                Group by
              </div>
              <div class="single-selector" >
                <!-- <app-single-select [props]="formProps?.T_groupByProps"
                ></app-single-select>  -->
                <p-multiSelect
                [options]="formProps.T_groupByProps.options"
                [formControl]="formProps.T_groupByProps.formControl"
                [optionLabel]="'label'"
                [placeholder]="'Select'"
                [showHeader]=" false"
                >
                  </p-multiSelect>
                 <div class="err-txt-container">
                    <small
                    *ngIf="formProps.T_groupByProps.formControl.invalid && (formProps.T_groupByProps.formControl.dirty || formProps.T_groupByProps.formControl.touched || formProps.T_groupByProps.isSubmitted)"
                    class="err-txt">{{formProps.T_groupByProps.errorMsg}}</small>
                  </div>
               
              </div>
            </div>
            <div class="row-container"> 
              <div class="label-text">
                Filter Clause
              </div>
              <div class="single-selector" >
                <app-input-text-box [props]="formProps?.T_filterClauseProps"></app-input-text-box>
             
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="header-Container">
            <div class="step">
              2
            </div>
            <div class="hd-txt">
              SOURCE DATASET
            </div>
          </div>
          <div class="form-body">
            <div class="row-container"> 
              <div class="label-text">
                Data Zone
              </div>
              <div class="single-selector" >
                <app-single-select [props]="formProps?.S_dataZoneProps"
                (changeEvent)="dataZoneValChangeHandler($event,'source')"
                ></app-single-select> 
                <!--  -->
              </div>
            </div>
            <div class="row-container"> 
                <div class="label-text">
                    Data Provider
                </div>
                <div class="single-selector" >
                  <app-single-select [props]="formProps?.S_dataProviderProps"
                  (changeEvent)="dataProviderValChangeHandler($event,'source')"
                  ></app-single-select> 
                </div>
              </div>
            <div class="row-container"> 
              <div class="label-text">
                Dataset Name
              </div>
              <div class="single-selector" >
                <app-single-select [props]="formProps?.S_dataSetNameProps"
                (changeEvent)="datasetNameValChangeHandler($event,'source')"
                ></app-single-select> 
              </div>
            </div>
            <div class="row-container"> 
                <div class="label-text">
                    Metric Name
                </div>
                <div class="single-selector" >
                  <app-single-select [props]="formProps?.S_metricNameProps"
                  (changeEvent)="metricNameValChangeHandler($event,'source')"
                  ></app-single-select> 
                </div>
              </div>
            <div class="row-container"> 
              <div class="label-text">
                Group by
              </div>
              <div class="single-selector" >
                <!-- <app-single-select [props]="formProps?.S_groupByProps"
                ></app-single-select>  -->
                <p-multiSelect
                [options]="formProps.S_groupByProps.options"
                [formControl]="formProps.S_groupByProps.formControl"
                [optionLabel]="'label'"
                [placeholder]="'Select'"
                [showHeader]=" false"
                >
                  </p-multiSelect>
                 <div class="err-txt-container">
                    <small
                    *ngIf="formProps.S_groupByProps.formControl.invalid && (formProps.S_groupByProps.formControl.dirty || formProps.S_groupByProps.formControl.touched || formProps.S_groupByProps.isSubmitted)"
                    class="err-txt">{{formProps.S_groupByProps.errorMsg}}</small>
                  </div>
              </div>
            </div>
            <div class="row-container"> 
              <div class="label-text">
                Filter Clause
              </div>
              <div class="single-selector" >
                <app-input-text-box [props]="formProps?.S_filterClauseProps"></app-input-text-box>
            
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="header-Container">
            <div class="step">
              3
            </div>
            <div class="hd-txt">
              ADDITIONAL PARAMETERS
            </div>
          </div>
          <div class="form-body">
            <div class="row-container"> 
              <div class="label-text">
                DQ Severity
              </div>
              <div class="single-selector" >
                <app-single-select [props]="formProps?.dqSeverityProps"
                ></app-single-select> 
                
              </div>
            </div>
            <div class="row-container"> 
              <div class="label-text">
                Status
              </div>
              <div class="single-selector" >
                <app-single-select [props]="formProps?.statusProps"
                ></app-single-select> 
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <ng-template pTemplate="footer">
        <app-non-outlined-button [btnprops]="popupModelData.cancelBtnProps"
        (click)="rejectHandler()"
        ></app-non-outlined-button>
        <app-primary-button  
        (click)="submitHandler()"
        [btnProps]="popupModelData.saveBtnProps"
        >
        <!-- [disabled]="!dropdownData?.formControl" -->
        </app-primary-button>
      </ng-template>
    </p-dialog>
  
  </div>
  <div *ngIf="formFieldApiStatus.dataZone ||formFieldApiStatus.T_dataSetName ||
  formFieldApiStatus.S_dataSetName ||formFieldApiStatus.T_groupBy || 
   formFieldApiStatus.T_dataProvider|| formFieldApiStatus.S_dataProvider ||
   formFieldApiStatus.S_metricName ||formFieldApiStatus.T_metricName ||
  formFieldApiStatus.S_groupBy || formFieldApiStatus.dqSeverity ||formFieldApiStatus.status 
  " 
  class="progress-spinner">
		<app-progress-spinner></app-progress-spinner>
	</div>
  
  <p-toast position="top-center" key="wrn" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
      <div class="toast-container bg-y">
        <div class="icon">
          <i class="pi pi-exclamation-circle" style="color:#ffffff"></i>
        </div>
        <div class="toast-desc">
          {{ message.detail }}
        </div>
      </div>
    </ng-template>
  </p-toast>